.header {
  margin-bottom: 40px;

  h2,
  p {
    color: #fff;
  }
}
.info {
  flex: 1;
  h3,
  p {
    margin-left: 15px;
  }
}

.bgContain {
  background-color: #130c49;
}
.latestModule {
  display: flex;
  gap: 40px;
  margin: 40px auto;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1050px) {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    padding-bottom: 21px;
    scroll-padding: 20%;
    padding: 5px 10px 20px;
  }
}

.resourceBox {
  border-radius: 0.61975rem;
  background: #262262;
  width: 20rem;
  height: 20.25rem;
  flex-shrink: 0;
  padding: 30px;

  h3 {
    color: #fff;
  }

  p {
    color: #869ab8;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.67163rem */
  }
}

.resourceIcon {
  background-image: url('/img/site/resource-icon-01.png');
  width: 9.36756rem;
  height: 9.66975rem;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.resource1 {
  background-image: url('/img/site/resource-icon-01.svg');
}

.resource2 {
  background-image: url('/img/site/resource-icon-02.svg');
}

.resource3 {
  background-image: url('/img/site/resource-icon-03.svg');
}

.resource4 {
  background-image: url('/img/site/resource-icon-04.svg');
}

.resource5 {
  background-image: url('/img/site/resource-icon-05.svg');
}

.resource6 {
  background-image: url('/img/site/resource-icon-06.svg');
}

.bottomBox {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.smallText {
  color: #130c49;
  font-size: 0.65rem;
  font-style: normal;
  font-weight: 700;
  line-height: 157.33%;
  margin: 0 0 3px;
}

.smallImage {
  border-radius: 50%;
  width: 13%;
}
