@use "../variables.scss" as v;

.highAvailability {
  flex-direction: row;
  width: 100%;
  gap: v.$space;
  padding: 10px 0px;
  align-items: center;
  color: v.$deselectedButtonText;

  > div:first-of-type {
    flex: 1;
  }
}
