:root {
  --darkColor: #130c49;
  --subColor: #8396b1;
  --lightColor: ##f7f9fd;
  --headerFont: 'Plus Jakarta Sans';
  --paraFont: 'Inter';
}

.container {
  padding: 3rem;

  @media screen and (max-width: 1400px) {
    padding: 2rem 3rem;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;

  h2 {
    color: #130c49;
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 2.8rem */
    width: 50%;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}
.bentoGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.bento01,
.bento02,
.bento03,
.bento04,
.bento05,
.bento06 {
  flex-shrink: 1;
}

.bento01 {
  width: 37.1875rem;
  height: 24.875rem;
  border-radius: 1.25rem;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(47, 47, 169, 0.8) 100%
    ),
    url('/img/site/instabase-bg-image.png');
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.3s ease-in-out;

  .bentoText {
    margin: 0;
    @media screen and (max-width: 900px) {
      margin: 0px 0px 20px;
    }
    .bentoLogo {
      background: url('/img/site/instabase-cs.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 12.3125rem;
      height: 1.3125rem;
      flex-shrink: 0;
      margin: 30px 0px;
    }

    h3 {
      color: #f7f9fd;
      font-family: 'Plus Jakarta Sans';
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 3.15rem */
      width: 85%;

      @media screen and (max-width: 900px) {
        width: 100%;
      }
    }

    p {
      color: #f7f9fd;
      font-family: Inter;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 1.3125rem */

      @media screen and (max-width: 1200px) {
        width: 80%;
      }
    }
  }
}

.bento02 {
  width: 26.5625rem;
  height: 33.875rem;

  border-radius: 1.25rem;
  background: #f7f9fd;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(47, 47, 169, 0.1) 100%
    ),
    url('/img/site/neople-background-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;

  .bentoText {
    margin: 0;
    @media screen and (max-width: 900px) {
      margin: 0px 0px 20px;
    }
    .bentoLogo {
      background: url('/img/site/neople-cs.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 9.02219rem;
      height: 2.875rem;
      flex-shrink: 0;
      margin: 30px 0px;
    }

    h3 {
      color: #130c49;
      font-family: 'Plus Jakarta Sans';
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 2.275rem */
      width: 85%;

      @media screen and (max-width: 900px) {
        width: 100%;
      }
    }
  }
}

.bento03 {
  width: 26.5625rem;
  height: 22.6875rem;
  border-radius: 1.25rem;

  background: linear-gradient(
      180deg,
      rgba(247, 249, 253, 0.6) 0%,
      rgba(46, 40, 139, 0.8) 100%
    ),
    url('/img/site/moonsift-background-image.png');
  background-size: cover;

  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media screen and (max-width: 900px) {
    background-size: cover;
    background-position-y: top;
  }

  @media screen and (max-width: 700px) {
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat;
  }

  .bentoText {
    margin: 0;
    @media screen and (max-width: 900px) {
      margin: 0px 0px 20px;
    }
    .bentoLogo {
      background: url('/img/site/moonsift-cs.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 9.02219rem;
      height: 2.875rem;
      flex-shrink: 0;
      margin: 30px 0px;
    }

    h3 {
      color: #f7f9fd;
      font-family: 'Plus Jakarta Sans';
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 3.15rem */
    }
  }
}

.bentoSmall {
  width: 20.875rem;
  height: 19.9375rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #f7f9fd;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .bentoText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-grow: 1;
  }

  .bentoLogo {
    width: 14.125rem;
    height: 2.75rem;
    background: url('/img/site/astronomer-logo-cs.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .logo02 {
    background: url('/img/site/preverity-logo-cs.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -220%;
  }

  .logo03 {
    background: url('/img/site/humach-logo-cs.svg');
    background-repeat: no-repeat;
  }

  h3 {
    color: var(--darkColor);
    font-family: var(--headerFont);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    height: auto;
    padding: 20px;
    .bentoText {
      gap: 10px;
    }
  }
}

.bento04 {
  width: 37.1875rem;
  height: 22.6875rem;
  border-radius: 1.25rem;
  background: #85e3bc;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .bentoText {
    margin: 0;
    @media screen and (max-width: 900px) {
      margin: 0px 0px 20px;
    }
    .bentoImage {
      background: url('/img/site/unbody-header-image.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 11.25rem;
      flex-shrink: 0;
      margin: 0px 0px 20px 0px;

      @media screen and (max-width: 900px) {
        height: 13.25rem;
      }

      @media screen and (max-width: 500px) {
        height: 9.25rem;
      }
    }

    h3 {
      color: #130c49;
      font-family: 'Plus Jakarta Sans';
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;

      @media screen and (max-width: 1080px) {
        font-size: 1.7rem;
        width: 100%;
      }
    }
  }
}

.stack {
  width: 37.1875rem;
  height: auto;
  background: #130c49 !important;

  h3 {
    color: #ffffff !important;
  }

  .bentoLogo {
    background: url('/img/site/stackai-logo-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 9.02219rem;
    height: 2.875rem;
    flex-shrink: 0;
    margin: 30px 0px;
  }

  .bentoImage {
    background: url('/img/site/stack-ai-overview.png') !important;
    border-radius: 10px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}

.bento05 {
  width: 64.875rem;
  height: 22.6875rem;
  border-radius: 1.25rem;
  background: #130c49;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .bentoText {
    margin: 0;
    display: flex;
    gap: 30px;

    @media screen and (max-width: 900px) {
      margin: 0px 0px 20px;
      flex-direction: column;
    }
    .bentoImage {
      background: url('/img/site/morningstar-header-image.png');
      background-size: cover;
      background-position-x: center;
      width: 11.9375rem;
      height: 15.6875rem;
      border-radius: 1.25rem;
      flex-shrink: 0;
      margin: 0px 0px 20px 0px;

      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }

    h3 {
      color: #f7f9fd;
      font-family: 'Plus Jakarta Sans';
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 3rem */

      @media screen and (max-width: 900px) {
        font-size: 1.5rem;
        width: 100%;
      }
    }

    p {
      color: #61bd73;
      font-family: Inter;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 157.33%; /* 2.35994rem */
    }

    span {
      color: #61bd73;
      font-family: Inter;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 157.33%; /* 1.96663rem */
    }
  }
}

.finance {
  width: 64.875rem;
  background: url('/img/site/header-bg.svg') #130c49;
  background-size: cover;
  background-position-x: 70%;
  background-position-y: center;
  background-repeat: no-repeat;

  h3 {
    color: #f7f9fd;
    width: 85%;

    @media screen and (max-width: 1320px) {
      font-size: 1.6rem !important;
      width: 100%;
    }
  }
}

.agent {
  width: 26.5625rem;
  height: 24.875rem;
  background: url('/img/site/header-bg.svg') #130c49;
  background-size: cover;
  background-position-x: 70%;
  background-position-y: center;
  background-repeat: no-repeat;

  .bentoLogo {
    background: url('/img/site/kapa-logo-dark.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 7.3125rem;
    height: 2.3125rem;
    flex-shrink: 0;
    margin: 20px 0px;
  }

  h3 {
    width: 85%;

    @media screen and (max-width: 1320px) {
      font-size: 1.6rem !important;
      width: 100%;
    }
  }
}

.bento06 {
  width: 65.625rem;
  height: 18.875rem;
  border-radius: 1.25rem;
  background: url('/img/site/gradient-bg-cs.png');
  background-size: cover;
  background-position-x: center;

  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .bentoText {
    margin: 0;
    display: flex;
    gap: 30px;

    @media screen and (max-width: 900px) {
      margin: 0px 0px 20px;
      flex-direction: column;
    }

    h3 {
      color: #130c49;
      font-family: 'Plus Jakarta Sans';
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 3.5rem */
      width: 70%;

      @media screen and (max-width: 900px) {
        width: 100%;
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 1300px) {
  .stack {
    width: 100% !important;
    max-width: 33rem !important;
    height: auto;
  }

  .bento05 {
    width: 56rem;
  }

  .bento01,
  .bento04 {
    width: 33rem;
  }
  .agent,
  .bento02,
  .bento03 {
    width: 22rem;
  }

  .bento06 {
    width: 56rem;
  }

  .bentoSmall {
    width: 17.875rem;
  }
}

@media (max-width: 1100px) {
  .bento01,
  .finance {
    width: 30rem;
  }
  .bento02 {
    width: 20rem;
  }

  .bento05,
  .bento06 {
    width: 100%;
    max-width: 54rem;
  }

  .agent {
    width: 20rem;
  }
  .bento04 {
    width: 31rem;
  }
}

@media (max-width: 960px) {
  .stack {
    width: 100% !important;
    max-width: fit-content !important;
    height: auto;
  }
  .bento01 {
    width: 27rem;
  }

  .bento04 {
    width: 50%;
  }

  .bento02,
  .bento03 {
    width: 23rem;
  }

  .bento06 {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 940px) {
  .bento01,
  .bento04 {
    width: 100%;
  }
  .bento02,
  .bento03 {
    width: 100%;
    height: 33.9375rem;
  }
  .bento05,
  .bento06,
  .bentoSmall {
    width: 100%;
  }
}

@media (max-width: 880px) {
  .bento01,
  .bento04 {
    width: 100%;
  }
  .bento02 {
    width: 100%;
    height: 24.875rem;
  }
  .bento03 {
    width: 100%;
  }

  .bento06 {
    width: 100%;
  }

  .bento05 {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 795px) {
  .bento01,
  .bento04 {
    width: 100%;
  }
  .bento02 {
    width: 100%;
    height: 24.875rem;
  }
  .bento03 {
    width: 100%;
  }
  .bento05,
  .bento06 {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .bento01,
  .bento02,
  .bento03,
  .bento04,
  .bento05,
  .bento06 {
    width: 100%;
  }

  .bento01,
  .bento04 {
    height: auto;
  }

  .bento02 {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(47, 47, 169, 0.1) 100%
      ),
      url('/img/site/neople-background-image-alpha.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
  }
}

.buttons {
  position: absolute;
  bottom: 20px;
  display: flex;
  right: 20px;

  .arrowButton {
    background: url('/img/site/ArrowButton.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.6875rem;
    height: 3.6875rem;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
  }

  .arrowButton:hover {
    transform: scale(1.1);
  }
}

.buttonContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .buttonDark {
    color: #f7f9fd;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 157.33%; /* 1.57331rem */
    display: flex;
    width: 11.3125rem;
    height: 2.75rem;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
    background: #130c49;
  }

  .buttonLight {
    color: #130c49;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 157.33%; /* 1.57331rem */
    display: flex;
    width: 11.3125rem;
    height: 2.75rem;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    background: #f7f9fd;
  }
}
