:root {
  --darkColor: #130c49;
  --subColor: #8396b1;
  --lightColor: ##f7f9fd;
  --headerFont: 'Plus Jakarta Sans';
  --paraFont: 'Inter';
}

.headerTestimonials {
  background-color: #ededed;
}
.container {
  padding: 3rem;

  @media screen and (max-width: 1400px) {
    padding: 2rem 3rem;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;

  h2 {
    color: #130c49;
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 2.8rem */
    width: 50%;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}
.bentoGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.bento01,
.bento02,
.bento03,
.bento04,
.bento05,
.bento06 {
  flex-shrink: 1;
}

.bento05 {
  width: 64.875rem;
  height: 22.6875rem;
  border-radius: 1.25rem;
  background: url('/img/site/slide-bg-grain2.jpg');
  background-size: cover;
  background-position-y: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .bentoText {
    margin: 0;
    display: flex;
    gap: 30px;

    @media screen and (max-width: 900px) {
      margin: 0px 0px 20px;
      flex-direction: column;
    }
    .bentoImage {
      background: url('/img/site/morningstar-header-image.png');
      background-size: cover;
      background-position-x: center;
      width: 11.9375rem;
      height: 15.6875rem;
      border-radius: 1.25rem;
      flex-shrink: 0;
      margin: 0px 0px 20px 0px;

      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }

    h3 {
      color: #130c49;
      font-family: 'Plus Jakarta Sans';
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 3rem */

      @media screen and (max-width: 900px) {
        font-size: 1.5rem;
      }
    }

    p {
      color: #130c49;
      font-family: Inter;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 157.33%; /* 2.35994rem */
    }

    span {
      color: #130c49;
      font-family: Inter;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 157.33%; /* 1.96663rem */
    }
  }
}

@media (max-width: 1300px) {
  .bento01,
  .bento04 {
    width: 33rem;
  }
  .bento02,
  .bento03 {
    width: 22rem;
  }
  .bento05,
  .bento06 {
    width: 56rem;
  }
}

@media (max-width: 1100px) {
  .bento01,
  .bento04 {
    width: 30rem;
  }
  .bento02,
  .bento03 {
    width: 20rem;
  }
  .bento05,
  .bento06 {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .bento01,
  .bento04 {
    width: 27rem;
  }
  .bento02,
  .bento03 {
    width: 23rem;
  }
  .bento05,
  .bento06,
  .bentoSmall {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 940px) {
  .bento01,
  .bento04 {
    width: 100%;
  }
  .bento02,
  .bento03 {
    width: 24rem;
    height: 33.9375rem;
  }
  .bento05,
  .bento06 {
    width: 100%;
  }
}

@media (max-width: 880px) {
  .bento01,
  .bento04 {
    width: 100%;
  }
  .bento02 {
    width: 100%;
    height: 24.875rem;
  }
  .bento03 {
    width: 100%;
  }
  .bento05,
  .bento06 {
    width: 100%;
  }
}
@media (max-width: 795px) {
  .bento01,
  .bento04 {
    width: 100%;
  }
  .bento02 {
    width: 100%;
    height: 24.875rem;
  }
  .bento03 {
    width: 100%;
  }
  .bento05,
  .bento06 {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .bento01,
  .bento02,
  .bento03,
  .bento04,
  .bento05,
  .bento06 {
    width: 100%;
  }

  .bento01 {
    height: 25.875rem;
  }

  .bento02 {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(47, 47, 169, 0.1) 100%
      ),
      url('/img/site/neople-background-image-alpha.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
  }

  .bento04 {
    height: 30.75rem;
  }
}

.buttons {
  position: absolute;
  bottom: 20px;
  display: flex;
  right: 20px;

  .arrowButton {
    background: url('/img/site/ArrowButton.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.6875rem;
    height: 3.6875rem;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
  }

  .arrowButton:hover {
    transform: scale(1.1);
  }
}

.buttonContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .buttonDark {
    color: #f7f9fd;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 157.33%; /* 1.57331rem */
    display: flex;
    width: 11.3125rem;
    height: 2.75rem;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
    background: #130c49;
  }

  .buttonLight {
    color: #130c49;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 157.33%; /* 1.57331rem */
    display: flex;
    width: 11.3125rem;
    height: 2.75rem;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    background: #f7f9fd;
  }
}
