.bundle/
.jekyll-cache/
.DS_Store
vendor/
_site/
.jekyll-metadata
.ruby-version
img/og/og-documentation

# docusaurus-related files left over from another branch
.docusaurus/
node_modules/
yarn.lock
build