language: node_js
node_js:
  - 16
# branches:
#   only:
#     - main
cache:
  yarn: true
  directories:
    - $HOME/google-cloud-sdk
install:
  - yarn install
script:
  # Build the project
  - yarn build

  # Install additional packages
  - yarn global add netlify-cli
  # - yarn global add netlify-cli linkinator
  
  # Deploy draft to Netlify
  - source _build_scripts/publish-draft-to-netlify.sh
  
  # Send Slack Message
  - |
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ $TRAVIS_BRANCH != "main" ]; then
      source _build_scripts/slack-find-author.sh
      source _build_scripts/slack-netlify-message.sh
    fi

  # Link Validation
  # - source _build_scripts/verify-links.sh

  ###
  ##
  # Deploy to Cloud Bucket and Production Netlify
  - |
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ $TRAVIS_BRANCH = "main" ]; then
      source _build_scripts/publish-prod-to-netlify.sh
      source _build_scripts/gcp-bucket.sh
      source _build_scripts/slack-find-author.sh
      source _build_scripts/slack-release-message.sh
    fi
  
  - echo "It is all done"