[data-theme='light'] {
  .features {
    .box {
      .icon1 {
        background-image: url('/img/site/icon-1-light.png');
      }
      .icon2 {
        background-image: url('/img/site/icon-2-light.png');
      }
      .icon3 {
        background-image: url('/img/site/icon-3-light.png');
      }
    }
  }
}

.header {
  text-align: center;
  p {
    font-size: 1.2rem;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

.features {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;

  @media screen and (max-width: 500px) {
    padding-top: 1rem;
    flex-direction: column;
  }

  .box {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;

    .icon1 {
      background-image: url('/img/site/icon-1.png');
      width: 100%;
      height: 6rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .icon2 {
      background-image: url('/img/site/icon-2.png');
      width: 100%;
      height: 6rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .icon3 {
      background-image: url('/img/site/icon-3.png');
      width: 100%;
      height: 6rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .title {
      padding-top: 1rem;
      text-align: center;
    }
    .subTitle {
      font-size: 1rem;
      text-align: center;
    }
  }
}
