.boxGrid {
  --auto-grid-min-size: 22rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 2rem;
  p {
    font-size: 1rem;
  }
}

.intro {
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 860px) {
    flex-direction: column;
  }

  div {
    height: 45px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .buttonOutline {
    outline: 1px solid #130c49;
  }
}

[data-theme='light'] {
  .buttonOutline {
    color: rgba(46, 49, 143);
  }
}

.faqBG {
  background: #f5f5f5;
}
