.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  color: white;
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  padding: 40px;
  border-radius: 0.9375rem;
  background: #fff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);
  transition: all 0.3s ease-in-out;

  /* Set a minimum height to accommodate content */
  min-height: 300px;

  @media screen and (max-width: 860px) {
    height: auto; /* Let height adjust based on content */
  }

  .price {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    gap: 40px;
    flex-wrap: wrap;
    align-items: baseline;

    @media screen and (max-width: 960px) {
      height: 300px;
    }

    @media screen and (max-width: 860px) {
      height: auto;
    }

    p {
      color: #130c49;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 1.40625rem */
    }

    span {
      color: #130c49;
      font-family: 'Plus Jakarta Sans';
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .big {
      color: #fff;
      font-family: Inter;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
  }

  .bottomPrice {
    height: 49px;

    @media screen and (max-width: 960px) {
      height: 80px;
    }

    @media screen and (max-width: 560px) {
      height: 49px;
    }
  }
  .features {
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 1160px) {
      height: auto;
    }

    ul {
      list-style-type: none;
      padding-left: 1.5rem; /* adjust this value if needed */
      margin: 10px 0px;

      @media screen and (max-width: 960px) {
        padding: 0px;
      }
    }

    li {
      position: relative;
      padding-left: 1rem; /* adjust this value if needed */
    }

    li::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0.5rem; /* adjust this value to center the bullet vertically */
      left: 0;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: #00a88b;
    }

    p {
      color: #130c49;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 1.3125rem */
    }
  }
  .title {
    width: 100%;

    display: flex;
    gap: 15px;
    justify-content: left;
    align-items: center;

    h3 {
      margin-bottom: 0;
    }

    .pricingIcon {
      background-image: url('/img/site/serverless-pricing-icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: center;
      width: 2.49994rem;
      height: 2.52913rem;
      flex-shrink: 0;
      margin: 15px 0px;
    }

    .enterprise {
      background-image: url('/img/site/ed-pricing-icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: center;
    }

    .byoc {
      background-image: url('/img/site/pricing-byoc-icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: center;
    }
  }

  li {
    list-style: none;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;

    gap: 10px;
    color: #130c49;

    font-size: 0.9375rem;

    svg {
      margin-top: 2px;
      path {
        fill: #00a88b;
      }
    }
    span {
      height: auto;
    }
  }

  hr {
    width: 100%;
    height: 0.03125rem;
    background: #00a88b;
    margin: 10% auto;
  }
}

.box:hover {
  transform: translateY(-30px);
  border-radius: 0.9375rem;
  outline: 1px solid #130c49;
  background: #fff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);
}

.checkIcon {
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #00a88b;
  background-size: contain;
  background-repeat: no-repeat;
}
.checkIcon:after {
  content: '';
  color: white;
  margin: auto;
  font-size: 12px;
}

.checkIconWhite {
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-top: 9px;
  background: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  text-align: left;

  width: 85%;
}

.plan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }
}

.planContainer {
  margin: auto;
  top: -130px;
  position: relative;

  @media screen and (max-width: 860px) {
    top: 0;
  }
}

.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 860px) {
    flex-direction: column;
  }

  a {
    height: 45px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    background-image: linear-gradient(45deg, #20e220 60%, #ffff00);
    color: rgba(46, 49, 143);
    font-weight: bold;
  }

  .buttonOutline {
    border: 1px solid #130c49;
    font-weight: bold;
    color: #fff;
  }
}

[data-theme='light'] {
  .buttonGradient {
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    background: #61bd73;
    color: #130c49;
    font-size: 1.2rem;
    font-weight: 400;
    transition: all 1s ease-out;
  }
  .buttonGradient:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
    font-weight: 400;
  }

  .buttonBox {
    margin: auto;
    height: 70px;
  }

  .buttonView {
    color: #00a88b;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 157.33%; /* 1.57331rem */
    text-decoration-line: underline;
  }

  .enterpriseButton {
    margin-top: -40px;
  }

  .byocButton {
    margin-top: -17px;
  }
  .buttonTry {
    color: #00a88b;
    text-align: center;

    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 157.33%; /* 1.57331rem */
    text-decoration-line: underline;
  }

  .buttonTryOutline {
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    width: 100%;
    height: 2.625rem;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 1s ease-out;
    color: #130c49;
    margin: auto;
  }
  .buttonTryOutline:hover {
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
    font-weight: 400;
  }

  .buttonOutline {
    color: #130c49;
    font-size: 1.1rem;
    font-weight: 400;
    transition: all 1s ease-out;
  }
  .buttonOutline:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
    font-weight: 400;
  }

  .buttonOutlineSales {
    outline: 1px solid #130c49;
    color: #130c49;
    font-size: 1.1rem;
    font-weight: 400;
    transition: all 1s ease-out;
    width: 160px;

    @media screen and (max-width: 640px) {
      width: 16rem;
    }
  }
  .buttonOutlineSales:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
    font-weight: 400;
  }
}

.color {
  color: var(--ifm-link-color);
}

.sandbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  border-radius: 12px;
  overflow: hidden;

  @media screen and (max-width: 640px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features {
    font-size: 15px;
    padding: 1rem;
    flex: 2;
    flex-direction: column;
    @media screen and (max-width: 640px) {
      flex: 1;
    }
    li {
      list-style: none;
      display: flex;
      gap: 10px;
      padding: 6px;
      svg {
        // opacity: 0.5;
        path {
          fill: #00b800;
        }
      }
      a {
        text-decoration: none;
        color: var(--ifm-heading-color);
      }
    }
  }
  .featuresLong {
    font-size: 15px;
    padding: 1rem;
    flex: 3;
    flex-direction: column;
    @media screen and (max-width: 640px) {
      flex: 1;
    }
    li {
      list-style: none;
      display: flex;
      gap: 10px;
      padding: 6px;
      svg {
        // opacity: 0.5;
        path {
          fill: #00b800;
        }
      }
    }
  }
  .title {
    display: flex;
    padding: 1rem 2rem;
    flex: 1 10%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-family: Inter;
    font-size: 1.5625rem;

    .sandboxTitle {
      background-color: #f5f5f5;
    }

    @media screen and (max-width: 640px) {
      flex: 1;
      width: 100%;
    }
  }

  li::before {
    font-size: 36px;
    content: '•';
    display: flex;
    margin-top: 9px;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #00a88b;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

[data-theme='light'] {
  .sandbox {
    background: #ffffff;
    filter: drop-shadow(0px 24px 64px rgba(22, 27, 45, 0.08));

    @media only screen and (device-width: 768px) {
      height: 140px;
    }
  }

  .title {
    h3 {
      color: #130c49;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .sandboxTitle {
    background-color: #ffffff;
    height: 100%;
    margin: auto;

    @media screen and (max-width: 860px) {
      height: 160px;
    }

    h3 {
      color: #1c1468 !important;
    }
  }

  .big {
    color: #1c1468;
  }
}

.checkIcon {
  display: flex;
  margin-top: 9px;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #00a88b;
  background-size: contain;
  background-repeat: no-repeat;
}

.doubleIcon {
  display: flex;
  margin-top: 9px;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #00a88b;
  background-size: contain;
  background-repeat: no-repeat;
}

.linkContact {
  text-decoration: none;
}

.linkContact:hover {
  text-decoration: none;
}

.bgColor {
  background: #ededed;
}

.buttonsSales {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 860px) {
    flex-direction: column;
  }

  a {
    height: 45px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modals {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out;
}

.modals.open {
  display: flex;
  opacity: 1;
}

.modalContents {
  margin: 7% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75.9375rem;
  height: 40.5rem;
  max-width: 75.9375rem;
  border-radius: 1.5rem;
  background: #f5f5f5;
  overflow-y: scroll;

  @media screen and (max-width: 1060px) {
    width: 100%;
    height: 100%;
  }
}

.close {
  position: absolute;
  top: 102px;
  right: 172px;
  font-size: 3rem;
  color: #130c49;
  cursor: pointer;

  @media screen and (max-width: 860px) {
    top: 55px;
    right: 11px;
  }
}

.supportbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.5rem;
  overflow: hidden;
  border-radius: 0.9375rem;
  background: #fff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);
  width: auto;
  max-width: 76.8125rem;
  height: 21.5rem;
  height: 100%;

  padding: 10px;
  flex-shrink: 0;
  align-content: center;
  color: #130c49;

  h3 {
    color: #fff;
    font-size: 1.925rem;
    margin: 0;
  }

  p {
    color: #130c49;
    font-size: 0.9375rem;
    width: 92%;
  }
  @media screen and (max-width: 800px) {
    /* Intermediate step for better resizing */
    .supportbox,
    .title,
    .features li {
      font-size: smaller; /* Adjust font size */
      padding: smaller; /* Adjust padding */
    }
    .features li {
      flex-basis: auto; /* Allow items to grow or shrink */
    }
  }
  @media screen and (max-width: 640px) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .features {
    font-size: 15px;
    padding: 1rem;
    flex: 1;
    flex-direction: column;

    .supportLink {
      color: #ffffff;
      text-decoration: underline;
      float: right;
      margin: 10px 10px;
    }

    li {
      list-style: none;
      display: flex;
      gap: 10px;
      padding: 6px 0px;
      color: #ffffff;

      font-size: 0.9375rem;

      span {
        color: #130c49;
      }

      svg {
        // opacity: 0.5;
        path {
          fill: #00b800;
        }
      }
      a {
        text-decoration: none;
        color: var(--ifm-heading-color);
      }
    }
  }

  .title {
    display: flex;
    padding: 1rem 2rem;
    flex: 1 10%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5625rem;
    gap: 15px;

    .education {
      background-image: url('/img/site/pricing-education-icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: center;
    }

    .supportTitle {
      background-color: #f5f5f5;
    }

    @media screen and (max-width: 640px) {
      flex: 1;
      width: 100%;
    }
  }

  .supportURL {
    color: #00a88b;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 157.33%; /* 1.57331rem */
    text-decoration-line: underline;
  }

  .titleBox {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .pricingIcon {
    background-image: url('/img/site/serverless-pricing-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 2.49994rem;
    height: 2.52913rem;
    flex-shrink: 0;
    margin: 15px 0px;
  }

  li::before {
    font-size: 36px;
    content: '•';
    display: flex;
    margin-top: 9px;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #00a88b;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .checkIcon {
    display: flex;
    margin-top: 9px;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #00a88b;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .doubleIcon {
    display: flex;
    margin-top: 9px;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #00a88b;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.priceBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: -5.5rem;
  overflow: hidden;
  border-radius: 0.9375rem;
  background: #130c49;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);
  width: auto;
  max-width: 76.8125rem;
  height: 21.5rem;
  height: 100%;

  padding: 10px;
  flex-shrink: 0;
  align-content: center;
  color: #130c49;

  h3 {
    color: #61bd73;

    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p {
    width: 92%;
    color: #fff;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.575rem */
  }

  @media screen and (max-width: 800px) {
    .supportbox,
    .title,
    .features li {
      font-size: smaller;
      padding: smaller;
    }
    .features li {
      flex-basis: auto;
    }
  }

  @media screen and (max-width: 640px) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: 40px 0px;
  }

  .features {
    font-size: 15px;
    padding: 1rem;
    flex: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .supportLink {
      display: flex;
      margin: 10px 10px;
      border-radius: 0.3125rem;
      background: #fff;
      width: 17.44125rem;
      height: 2.625rem;
      color: #130c49;
      align-items: center;
      justify-content: center;
    }

    li {
      list-style: none;
      display: flex;
      gap: 10px;
      padding: 6px 0px;
      color: #ffffff;

      font-size: 0.9375rem;

      span {
        color: #130c49;
      }

      svg {
        // opacity: 0.5;
        path {
          fill: #00b800;
        }
      }
      a {
        text-decoration: none;
        color: var(--ifm-heading-color);
      }
    }
  }

  .title {
    display: flex;
    padding: 1rem 2rem;
    flex: 1 10%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5625rem;

    .supportTitle {
      background-color: #f5f5f5;
    }

    @media screen and (max-width: 640px) {
      flex: 1;
      width: 100%;
    }

    h3 {
      color: #61bd73;

      font-size: 1.625rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .titleBox {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .pricingIcon {
    background-image: url('/img/site/serverless-pricing-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 2.49994rem;
    height: 2.52913rem;
    flex-shrink: 0;
    margin: 15px 0px;
  }
}

.underline {
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration-line: underline;
}
