.detailedOptionsCard {
  border: 0.5px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
  overflow: hidden;
}

.detailedOptionsCard a {
  color: black !important;
  text-decoration: none;
  display: block;
}

.detailedOptionsCard:hover {
  border-color: #aaa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.detailedOptionsCardHeader {
  padding: 16px 16px 8px 16px; /* top, right, bottom, left */
}

.detailedOptionsCardHeader h4 {
  margin: 0;
  transition: text-decoration 0.3s;
}

.detailedOptionsCardBody {
  padding: 8px 16px 16px 16px; /* top, right, bottom, left */
}

.detailedOptionsCard:hover .detailedOptionsCardHeader h4 {
  text-decoration: underline;
}
