[data-theme='light'] {
  .socialBox {
    .slack {
      background-image: url('/img/site/slack.png');
    }
    .github {
      background-image: url('/img/site/git.png');
    }
    .twitter {
      background-image: url('/img/site/twitter.png');
    }
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.rightSide {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @media screen and (max-width: 400px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.leftSide {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.socialBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  .slack {
    display: flex;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/site/slack_1.png');
  }
  .text {
    padding-top: 10px;
    text-align: center;
    color: var(--site-base-color-shade);
  }

  .github {
    display: flex;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/site/git_1.png');
  }
  .twitter {
    display: flex;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/site/twitter_1.png');
  }
}
