.Container {
  margin-top: 2rem;
}

.headerContainer {
  h2 {
    color: #130c49;
    font-family: 'Plus Jakarta Sans';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 2.4rem */
    margin-bottom: 0.5rem;
  }

  p {
    color: #130c49;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    margin-bottom: 2rem;
  }
}

.boxContainer {
  display: flex;
  gap: 70px;
  justify-content: center;

  @media (max-width: 960px) {
    flex-direction: column;
    gap: 40px;
  }
}

.innerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 21.3125rem;

  @media (max-width: 960px) {
    gap: 10px;
    width: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.largeBox {
  width: 42.5rem;
  height: 32.4375rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #ffffff;
  padding: 20px;
  transition: all 0.3s ease-in-out;

  .boxTop {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 30px 0px;
  }

  .boxLogo {
    width: 9.0625rem;
    height: 2.46713rem;
    background-size: contain;
    background-repeat: no-repeat;
    background: url('/img/site/unbody-logo.svg');

    @media screen and (max-width: 850px) {
      width: 6.0625rem;
      height: 2.46713rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: center;
    }
  }

  .boxButton {
    width: 10.9375rem;
    height: 2.5rem;
    display: flex;
    flex-shrink: 0;
    border-radius: 3.125rem;
    border: 1px solid #e0e6ef;
    background: #e0e6ef;
    align-items: center;
    justify-content: center;
    color: #130c49;
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 157.33%; /* 1.37663rem */
  }

  .boxImage {
    width: 36.9375rem;
    height: 19.8125rem;
    flex-shrink: 0;
    background: url('/img/site/unbody-box-js.png');
    background-size: contain;
    @media (max-width: 1300px) {
      width: auto;
      height: 19.8125rem;
    }
  }

  @media (max-width: 1300px) {
    width: 35rem;
    height: auto;
  }

  @media (max-width: 960px) {
    width: 100%;
    height: auto;
  }
}

.smallBox {
  width: 21.3125rem;
  height: 15.6875rem;
  flex-shrink: 0;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 1.225rem */
  }

  .boxButton {
    width: 10.9375rem;
    height: 2.5rem;
    display: flex;
    flex-shrink: 0;
    border-radius: 3.125rem;
    border: 1px solid #e0e6ef;
    background: #e0e6ef;
    align-items: center;
    justify-content: center;
    color: #130c49;
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 157.33%; /* 1.37663rem */

    @media screen and (max-width: 500px) {
      margin: 10px 0px;
    }
  }

  @media (max-width: 1300px) {
    width: 18rem;
    height: auto;
  }

  @media (max-width: 960px) {
    width: 100%;
    height: auto;
  }
}

.light {
  border-radius: 1.25rem;
  background: url('/img/site/RicAI.svg'), #85e3bc;
  background-repeat: no-repeat;
  background-position-y: -90px;
  background-position-x: right;
}

.dark {
  border-radius: 1.25rem;
  background: url('/img/site/bww-bg-logo-02.svg'), #130c49;
  background-repeat: no-repeat;
  background-position-y: -20px;
  background-position-x: right;

  h3,
  p {
    color: #ffffff;
  }
}

/* Media queries for responsive resizing */
@media (max-width: 1300px) {
  .boxContainer {
    gap: 40px;
  }

  .largeBox {
    width: 35rem;
    height: auto;
  }

  .smallBox {
    width: 18rem;
    height: auto;
  }
}

@media (max-width: 960px) {
  .boxContainer {
    flex-direction: column;
    gap: 20px;
  }

  .largeBox,
  .smallBox {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .innerContainer {
    flex-direction: column;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 50px 0px 30px 0px;

  .button {
    width: 12.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #130c49;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
