.blogCard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "title title"
    "image image"
    "shortText shortText"
    "info button";
}

.blogCardTitle {
  grid-area: title;
  h2 {
    display: flex;
    font-size: 1.5em;
    min-height: 4em;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.blogCardImage {
  grid-area: image;
  img {
    width: 100%;
  }
}

.blogCardDescription {
  grid-area: shortText;
  font-style: italic;
}

.blogCardInfo {
  grid-area: info;
  display: flex;
  align-items: center;
}

.blogCardButton {
  grid-area: button;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}