.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  background: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &.scrolled {
    background-color: #ededed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .header-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    height: 32px;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      height: 18px;
    }
  }

  .cta-button {
    color: #f7f9fd;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 157.33%; /* 1.57331rem */
    display: flex;
    width: 11.3125rem;
    height: 2.75rem;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
    background: #130c49;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: #ffffff;
      border: 1px solid #130c49;
      color: #130c49;
    }

    @media screen and (max-width: 768px) {
      width: 9.3125rem;
      height: 2.75rem;
    }
  }
}
