.header {
  text-align: left;
  color: #ffffff;
  width: 85%;
  margin: 0px 0px 40px 0px;

  h2 {
    color: #ffffff;
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 140px;

  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
  span {
    color: #61bd73;
    font-family: 'Plus Jakarta Sans';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 157.33%; /* 1.96663rem */
  }

  p {
    color: #fff;
    width: 90%;
    font-size: 1rem;
  }
}
.bgColor {
  background: #130c49;
}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 42px;
  flex: 1;
}

.rightContent {
  flex: 1;
  .diagram {
    background-image: url('/img/site/byoc-diagram.svg');
    background-size: cover;
    width: 38rem;
    height: 22rem;
  }
}

.parentGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 428px;
  height: 519px;

  @media screen and (max-width: 500px) {
    margin: 60px 0px;
  }
}

.imageGrid1 {
  grid-area: 1 / 1 / 2 / 2;
  background-image: url('/img/site/support-grid-01.png');
  background-size: cover;
}
.imageGrid2 {
  grid-area: 2 / 1 / 3 / 3;
  background-image: url('/img/site/support-grid-02.png');
  background-size: cover;
}
.imageGrid3 {
  grid-area: 3 / 1 / 4 / 2;
  background-image: url('/img/site/support-grid-03.png');
  background-size: cover;
  margin-bottom: -50px;
}

.imageGrid4 {
  grid-area: 1 / 2 / 2 / 3;
  background-image: url('/img/site/support-grid-04.png');
  background-size: cover;
  margin-top: -50px;
}

.imageGrid5 {
  grid-area: 3 / 2 / 4 / 3;
  background-image: url('/img/site/support-grid-05.png');
  background-size: cover;
}
