[data-theme='light'] {
  .features {
    .box {
      .icon1 {
        background-image: url('/img/site/features_01.png');
      }
      .icon2 {
        background-image: url('/img/site/features_02.png');
      }
      .icon3 {
        background-image: url('/img/site/features_03.png');
      }
    }
  }
}

.header {
  text-align: center;

  @media screen and (max-width: 500px) {
    text-align: left;
    margin-bottom: 50px;
  }

  p {
    font-size: 1.2rem;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

.benefits{

  background: #EDEDED;
}


.bottomFeatures{
  padding-top: 8rem;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 500px) {
    padding-top: 3rem;
    flex-direction: column;
    gap: unset;
  }

  .bottomBox, .cloudBox {
    padding: 60px;
    border-radius: 1.3125rem;
border: 1px solid #130C49;
background: #61BD73;
box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.04);

width: 31.25rem;
height: 17.4375rem;
flex-shrink: 0;


@media screen and (max-width: 500px) {

  padding: 38px;
    border-radius: unset;
    border: none;
    background: #61BD73;
    width: 24.25rem;
    height: 17.4375rem;
    flex-shrink: 0;
}

.boxLink{

  padding-top: 2rem;
  text-align: end;

  a{
    color:inherit;
  }

}


}

.cloudBox{

  color:#ffffff;
  border-radius: 1.3125rem;
  background: #130C49;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.04);

  @media screen and (max-width: 500px) {

    padding: 38px;
      border-radius: unset;
      border: none;

  }

.title{
  color:#ffffff;

}

.boxLink{

  padding-top: 2rem;
  text-align: end;

  a{
    color:#ffffff;
  }

}

  }









}



.features {
  padding-top: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;

  @media screen and (max-width: 500px) {
    padding-top: 1rem;
    flex-direction: column;
    gap: 79px;
  }

  .box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1;

    .icon1 {
      background-image: url('/img/site/features_01.png');
      width: 100%;
      height: 2rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
    }

    .icon2 {
      background-image: url('/img/site/features_02.png');
      width: 100%;
      height: 2rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
    }
    .icon3 {
      background-image: url('/img/site/features_03.png');
      width: 100%;
      height: 2rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
    }

    .icon4 {
      background-image: url('/img/site/features_04.png');
      width: 100%;
      height: 2rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
    }
    .title {
      padding-top: 1rem;
      text-align: left;
    }
    .subTitle {
      font-size: 1rem;
      text-align: left;
    }
  }
}
