@use "../../variables.scss" as v;

.buttonGroup {
  flex-grow: 1;

  ul {
    display: flex;
    flex-direction: row;
    gap: v.$space;
    width: 100%;

    li {
      width: 100%;
      flex-grow: 1;
    }
  }
}
