.range {
  flex-direction: row;
  width: 100%;
  align-items: flex-end;

  @media (max-width: 920px) { 
    flex-direction: column;
    align-items: flex-start;
  }

  > .content { 
    position: relative;
    width: 100%; 
    flex-direction: row;
    align-items: center;
    gap: $space;
  }
  
  .input {
    height: 40px;
    width: 100%;
    justify-content: center;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: transparent;
    outline: none;
    border-radius: 2px;
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      height: 7px;
      width: var(--track-fill, 0%);
      background: $greenGradient;
      border-radius: 99px;
      pointer-events: none;
    }
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: var(--track-fill, 0%);
      height: 5px;
      width: calc(100% - var(--track-fill, 0%));
      background: $grey;
      border-radius: 2px;
      pointer-events: none;
    }
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 36px;
      height: 36px;
      background: transparent;
      cursor: pointer;
      border-radius: 99px;
      background-image: $greenGradient, url('/img/pricing/range.svg');
      background-repeat: no-repeat, no-repeat;
      background-position: center, center;
      background-size: cover, auto;
      transition: $transition;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 1;
    }
    
    &::-moz-range-thumb {
      width: 36px;
      height: 36px;
      background: transparent;
      cursor: pointer;
      border: none;
      border-radius: 99px;
      background-image: $greenGradient, url('/img/pricing/range.svg');
      background-repeat: no-repeat, no-repeat;
      background-position: center, center;
      background-size: cover, auto;
      transition: $transition;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

      &:hover {
        scale: 1.2;
      }
    }

    &::-moz-range-track {
      height: 5px;
      background: $grey;
      border: none;
      border-radius: 2px;
    }
    
    &::-moz-range-progress {
      height: 7px;
      background: $greenGradient;
      border: none;
      border-radius: 99px;
    }
  }
  
  &.changing {
    input[type="range"] {
      &::-moz-range-thumb {
        scale: 1.2;
       }

      &::-webkit-slider-thumb {
        scale: 1.2;
       }
    }
  }

  // Plan-specific gradients
  &.plan-premium {
    input[type="range"] {
      &::before {
        background: $blueGradient;
      }
      &::-webkit-slider-thumb {
        background-image: $blueGradient, url('/img/pricing/range.svg');
      }
      &::-moz-range-thumb {
        background-image: $blueGradient, url('/img/pricing/range.svg');
      }
      &::-moz-range-progress {
        background: $blueGradient;
      }
    }
  }

  &.plan-enterprise {
    input[type="range"] {
      &::before {
        background: $pinkGradient;
      }
      &::-webkit-slider-thumb {
        background-image: $pinkGradient, url('/img/pricing/range.svg');
      }
      &::-moz-range-thumb {
        background-image: $pinkGradient, url('/img/pricing/range.svg');
      }
      &::-moz-range-progress {
        background: $pinkGradient;
      }
    }
  }
}
