$uiMinHeight: 40px;

$mainColor: #120D5E;
$space: 10px;
$fontFamily: "Rethink Sans", sans-serif;
$transition: all 0.25s ease-in-out;
$yellow: #EDCB59;
$green: #62D384;
$bg: #EDF4F8;
$grey: #D7DDE8;

$borderColor: rgba(0, 0, 0, 0.1);
$boxShadow: 0 5px 10px rgba(0, 0, 0, 0.05);

// Button and form colors
$buttonBg: #F7F9FD;
$buttonBgHover: #EBF4F9;
$buttonBgDropdown: #ECF4F8;
$buttonBorder: #A3AFF1;
$selectBg: #EDF4F8;
$selectItemHover: #D5DEEA;
$toggleBg: #EBF4F9;
$white: #fff;
$textGrey: #6A678E;
$textDark: #42424B;
$darkBorder: #130C49;
