.bottomBar {
  height: 34rem;
  display: flex;
  background: #130c49;
  flex-direction: column;

  .topHeader {
    color: #fff;
    text-align: center;
    font-size: 1.7rem;
    margin: 30px 0px;
  }

  .barText {
    color: #2fc514;
    font-family: Plus Jakarta Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 2.7rem */

    span {
      color: #fff;
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 157.33%; /* 1.57331rem */
    }
  }

  @media screen and (max-width: 1100px) {
    overscroll-behavior-y: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
}

.innerBar {
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: 409px;
  overflow-y: hidden;

  @media screen and (max-width: 1100px) {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
}

.workshopImage {
  width: 19.9375rem;
  height: 13rem;
  flex-shrink: 0;
  background-size: cover;
  background-image: url('/img/site/workshops-daniel.png');
}

.firstSection {
  background-image: url('/img/site/ai-berlin-event.png');

  background-position: center;
}
.secondSection {
  background-image: url('/img/site/hybrid-search-webinar-head.png');

  background-position: center;
}

.thirdSection {
  background-image: url('/img/site/ai-head.png');
  background-size: cover;

  border: 1px #28235e solid;
}

.eventBox {
  p {
    color: #fff;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 1.40625rem */
  }
  span {
    color: #61bd73;
    font-family: Plus Jakarta Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    white-space: normal;
    line-height: normal;
    word-break: break-word;
    width: 332px;
  }

  .eventText {
    margin: 17px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    height: 165px;
    justify-content: space-between;
  }
  @media screen and (max-width: 800px) {
    margin: 30px 10px;
  }
}
