[data-theme='light'] {
  .box {
    background-image: url('../../../static/img/site/subscribeLight.png');
  }
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('../../../static/img/site/subscribe.png');
  width: 100%;
  height: 150px;
  padding: 50px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2rem;
  @media screen and (max-width: 678px) {
    padding: 20px;
  }
  @media screen and (max-width: 400px) {
    padding: 10px;
  }
  .iframe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50px;
  }
}
