.box {
  display: flex;
  flex-direction: row;
  background-image: url('../../../static/img/site/subscribe.png');
  width: 100%;
  min-height: 136px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @media screen and (max-width: 680px) {
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    min-height: 180px;
  }
  .left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 590px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .form {
      width: 100%;
      @media screen and (max-width: 590px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      input {
        width: 80%;
        background-color: #000000;
        color: #ffffff;
        border: none;
        padding: 12px 20px;
        border-radius: 2rem;
        appearance: none;
        outline: none;
      }
      button {
        background-color: #38d611;
        color: #ffffff;
        border: none;
        padding: 12px 20px;
        border-radius: 2rem;
        margin-left: -50px;
      }
    }
  }
}
