pre {
  display: grid;
  grid-template-columns: 1fr auto;
}
.clip-btn {
  padding: 8px 0 0px 5px;
  height: fit-content;
  font-size: large;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
.clip-btn:hover {
  color: #d63384;
}
.clip-btn:active {
  padding-top: 10px;
}