pre {
  display: grid;
  grid-template-columns: 1fr auto;
}
.clip-btn {
  padding: 10px 0 0px 2px;
  height: 48px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
.clip-btn:hover {
  color: #d63384;
}
.clip-btn:active {
  padding-top: 12px;
}