.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .btn {
    border-radius: 0.375rem;
    padding: 8px 12px;
    background-color: #00b800;
    color: #fff;
  
    &:hover {
      text-decoration: none;
      background-color: #00cc00;
      color: #fff;
    }
  }