.header {
  margin-bottom: 40px;
}
.info {
  flex: 1;
  h3,
  p {
    margin-left: 15px;
  }
}
.tabs {
  display: flex;
  flex-direction: row;
  gap: 30px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex: 1;
    .tabsList {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 10px;

      .tabsTrigger {
        appearance: none;
        box-shadow: none;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        cursor: pointer;
        background-color: transparent;
        gap: 5px;
        padding: 0.5rem;
        border-left: 3px solid transparent;

        p {
          text-align: left;
        }
      }
      .tabsTrigger[data-state='active'] {
        border-left: 3px solid #00b800;
      }
    }
  }
  .right {
    display: flex;
    flex: 1;

    div[data-state='active'] {
      display: flex;
      flex: 1;
      .code {
        background-image: url('/img/site/code-box-1.png');
        background-size: cover;
        height: 375px;
        width: 100%;
        background-repeat: no-repeat;
        @media screen and (max-width: 485px) {
          height: 270px;
        }
      }
    }
  }
}
