[data-theme='light'] {
  .box {
    .left {
      .inside {
        .logoAI {
          background-image: url('/img/site/openai-logo.png');
        }
        .logoH {
          background-image: url('/img/site/higgingface-logo.png');
        }
        .logoJ {
          background-image: url('/img/site/jina-logo.png');
        }
        .logoD {
          background-image: url('/img/site/haystack-logo.svg');
        }
        .logoCo {
          background-image: url('/img/site/cohere-logo.png');
        }
        .logoW {
          background-image: url('/img/site/wp-solar-logo.png');
        }
        .logoG {
          background-image: url('/img/site/googleAI.png');
        }
        .logoL {
          background-image: url('/img/site/langchain-logo.png');
        }
        .logoLa {
          background-image: url('/img/site/lama-logo.png');
        }
      }
    }
  }
}

.integrationsSection {
  background: #ededed;
}

.integrationsLogos {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  overflow: hidden;

  @media screen and (max-width: 500px) {
    padding: 9px;
    height: 140px;
    overflow: hidden;
  }

  .logoBg {
    border-radius: 0.9375rem;
    border: 1px solid #130c49;
    width: 14.375rem;
    display: flex;
    height: 5.9375rem;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);
    align-items: center;
    scroll-snap-align: center;
    margin: 0 10px;
  }

  .inside {
    display: flex;
    padding-bottom: 4rem;

    animation: scrollSide 40s linear infinite;

    @keyframes scrollSide {
      0% {
        transform: translateX(50%);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .integrationsLogos:hover {
      animation-play-state: paused;
    }

    .logoAI {
      width: 100%;
      height: 2rem;
      background-image: url('/img/site/openai-logo-light.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .logoH {
      width: 100%;
      height: 2rem;
      background-image: url('/img/site/higgingface-logo-light.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .logoJ {
      width: 100%;
      height: 2rem;
      background-image: url('/img/site/jina-logo-light.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .logoD {
      width: 100%;
      height: 2rem;
      background-image: url('/img/site/haystack-logo.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .logoCo {
      width: 100%;
      height: 2rem;
      background-image: url('/img/site/cohere-logo-light.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .logoW {
      width: 100%;
      height: 2rem;
      background-image: url('/img/site/wp-solar-logo-light.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .logoG {
      width: 100%;
      height: 2rem;
      background-image: url('/img/site/googleAI.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .logoL {
      width: 100%;
      height: 2rem;
      background-image: url('/img/site/langchain-logo.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .logoLa {
      width: 100%;
      height: 2rem;
      background-image: url('/img/site/lama-logo.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

.integrationsLogos:hover {
  .inside {
    animation-play-state: paused;
  }
}
.mobileIntegrations {
  display: none !important;

  @media screen and (max-width: 500px) {
    display: flex !important;
  }
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4rem;

  @media screen and (max-width: 580px) {
    flex-direction: column-reverse;
  }
  .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    justify-content: center;

    .inside {
      display: flex;

      @media screen and (max-width: 500px) {
        flex-direction: row;
        gap: 20px;
        display: flex;
      }

      .logoAI {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/openai-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoH {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/higgingface-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoJ {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/jina-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoD {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/haystack-logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoCo {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/cohere-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoW {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/wp-solar-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoG {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/googleAI.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoL {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/langchain-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoLa {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/lama-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
