<!-- FINDS THE CURRENT VERSION - tag = the tag (i.e., "current" for current version) -->
{% for version in site.weaviate_versions %}
    {% if page.url contains version[0] %}
        {% assign current_page_version = version[0] %}
        {% assign current_page_version_tag = version[0] %}
    {% elsif page.url contains '/current/' and site.weaviate_version == version[0] %}
        {% assign current_page_version = version[0] %}
        {% assign current_page_version_tag = 'current' %}
    {% endif %}
{% endfor %}