<div class="col-12 col-lg-3 col-xl-2 px-lg-0 border-bottom border-bottom-lg-0 border-end-lg border-gray-300 sidenav sidenav-start">
    <div class="collapse d-lg-block" id="sidenavCollapse">
        <div class="py-7 py-lg-9 px-lg-7">
            <!-- Github link -->
            <div style="width:100%; justify-content: center; {% if site.documentation_call_out == true %}margin-top: 0.75rem;{% endif %}">
                <a class="github-button" href="https://github.com/semi-technologies/weaviate" data-size="large" data-show-count="true" aria-label="Star semi-technologies/weaviate on GitHub">Star</a>
            </div>
            <!-- IMPORTANT: NOTE THAT THE SUBMENU ORDER IS SET IN CONFIG.YML -->
            {% assign sorted_documentation = site.pages | sort: 'menu-order' | group_by: 'solution' %}
            {% for guides in sorted_documentation %}
                {% if guides.name == page.solution %}
                    <ul class="list mb-6">
                      <li>
                            <h6 class="text-uppercase fw-bold">
                                {{ page.solution }}
                            </h6>
                      </li>
                      <li class="list-item">
                        <a href="{% if page.title == 'Introduction'%}./{% else %}../{% endif %}" 
                            class="list-link {% if guide.title == page.title %}current{% endif %}">Introduction</a>
                      </li>
                    </ul>
                    {% for menuItem in site.docs[guides.name]['current'] %}
                        {% assign sorted_menus = site.pages | group_by: 'sub-menu' %}
                        {% for menu in sorted_menus %}
                            {% if menuItem.name == menu.name && guides.name == page.solution %}
                                {% if menuItem.header == true %}
                                <!-- Hide if the current page is not in the navigation space for this menu item -->
                                <div {% if menuItem.nav-parent != page.nav-parent %}class="menu-hide"{% endif %}>
                                    <h6 class="text-uppercase fw-bold">{{ menuItem.name }}</h6>
                                    <ul class="list mb-6">
                                        {% assign sorted_sub_menus = site.pages | sort: 'menu-order' %}
                                        {% for guide in sorted_sub_menus %}
                                            {% if menu.name == guide.sub-menu %}
                                                {% if page.solution == guide.solution %}
                                                    {% if guide.menu-order > 0 %}
                                                        <li class="list-item">
                                                            <a href="{{ guide.url }}" class="list-link {% if guide.title == page.title %}current{% endif %}">{{guide.title}}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% else %}
                                    <h6 class="text-uppercase fw-bold">
                                        <a href="/developers/{{ guides.name }}/current/{{ menuItem.folder }}"
                                           {% if menu.name == page.title %}class="current"{% endif %}>{{ menu.name }}</a>
                                    </h6>
                                    <!-- menu item children – show only the children for the menu items of the current page -->
                                    <div {% if menu.name != page.sub-menu and menu.name != page.nav-parent %}class="menu-hide"{% endif %}>
                                        <ul class="list mb-6">
                                            {% assign sorted_sub_menus = site.pages | sort: 'menu-order' %}
                                            {% for guide in sorted_sub_menus %}
                                                {% if menu.name == guide.sub-menu %}
                                                    {% if page.solution == guide.solution %}
                                                        {% if guide.menu-order > 0 %}
                                                            <li class="list-item">
                                                                <a href="{{ guide.url }}" class="list-link {% if guide.title == page.title %}current{% endif %}">{{guide.title}}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% if menuItem.breakpointAfter %}
                                        <hr class="docs-menu-divider">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>  
</div>