<!-- FOOTER -->
<footer class="py-8 py-md-11 bg-gray-200">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
  
          <!-- Brand -->
          <img src="/img/logo-semi-horizontal-payoff.svg" alt="SeMI Technologies logo" class="footer-brand img-fluid mb-4" style="max-width:16rem">
  
          <!-- Text -->
          <p class="text-gray-700 mb-2">
            Weaviate is an open source project maintained by <a href="https://semi.technology" target="_blank">SeMI Technologies</a>.<br>
            Copyright © {{ 'now' | date: "%Y" }} SeMI Technologies B.V. All Rights Reserved.
          </p>
        </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>

