<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    
    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    
    <!-- Libs CSS -->
    <link rel="stylesheet" href="https://style.semi.technology/css/libs.bundle.css?build={{ 'now' | date: '%Y%m%d%H%M' }}" />
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="https://style.semi.technology/css/theme.bundle.css?build={{ 'now' | date: '%Y%m%d%H%M' }}" />

    <!-- Highlight JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/monokai-sublime.min.css" />

    <!-- fix for code blocks -->
    <style>code { max-height: 32rem !important; }</style>
    <!-- fix for images in docs-->
    <style>.main-docs-content img { width: 100%; }</style>

    <!-- Title -->
    {% if page.layout == "layout-documentation" %}
        <title>{{ page.title }} · {{ site.title }}</title>
        <meta property="og:title" content="{{ page.title }} · {{ site.title }}" />
    {% else %}
        <title>{{ page.title }}</title>
        <meta property="og:title" content="{{ page.title }}" />
    {% endif %}

    <!-- OG -->
    {% include docs-current_version_finder.html %}
    {% if page contains "og" %}
        <meta property="og:image" content="{{ page.og }}" />
    {% elsif page.layout == "layout-documentation" %}
        {% assign folder = page.dir | remove: '/developers/weaviate/' | remove: '/' | remove: current_page_version_tag | replace: ' ', '-' | replace: '_', '-' %}
        {% assign file = page.name | remove: '.md' | replace: ' ', '-' | replace: '_', '-' %}
        <meta property="og:image" content="/img/og/og-documentation/{{ folder }}-{{ file }}.jpg" />
    {% else %}
        <meta property="og:image" content="/img/og/og-standard.png" />
    {% endif %}

    <!-- OG final -->
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ site.description }}"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta name="keywords" content="{{ site.keywords }}">
    <meta property="twitter:title" content="{{ site.title }}"/>
    <meta name="twitter:site" content="@{{ site.twitter.username }}"/>
    <meta property="twitter:description" content="{{ site.mini_description }}"/>
    <meta name="twitter:card" content="site.twitter.card">

    <!-- plausible -->
    {% include plausible.html %}
    {% seo %}
</head>