<!-- JAVASCRIPT -->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

<!-- Map JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<!-- Vendor JS -->
<script src="https://style.semi.technology/js/vendor.bundle.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Theme JS -->
<script src="https://style.semi.technology/js/theme.bundle.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Highlight JS -->
<script src="https:////cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>

<!-- Highlight JS GraphQL -->
<script src="/js/highlighter-graphql.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Github -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.3/rangeslider.min.js"></script>

<!-- pricing -->
<script src="/js/pricing.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Popper JS -->
<script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Main JS -->
<script src="/js/main.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Hotjar -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3237492,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
