<!-- JAVASCRIPT -->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<!-- Map JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<!-- Vendor JS -->
<script src="https://style.semi.technology/js/vendor.bundle.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Theme JS -->
<script src="https://style.semi.technology/js/theme.bundle.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Highlight JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>

<!-- Highlight JS GraphQL -->
<script src="/js/highlighter-graphql.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Github -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.3/rangeslider.min.js"></script>
<script src="/js/pricing.js"></script>

<!-- Main JS -->
<script src="/js/main.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>
