<!-- JAVASCRIPT -->
<!-- Map JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<!-- Vendor JS -->
<script src="https://style.semi.technology/js/vendor.bundle.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Theme JS -->
<script src="https://style.semi.technology/js/theme.bundle.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Highlight JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>

<!-- Highlight JS GraphQL -->
<script src="/js/highlighter-graphql.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>

<!-- Main JS -->
<script src="/js/main.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>
