<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white border-bottom">
    <div class="container-fluid">
      {% include nav.html %}
    </div>
</nav>
<!-- BREADCRUMB -->
<nav class="d-lg-none bg-gray-800">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <span class="text-white">
              Learn
            </span>
          </li>
        </ol>

      </div>
      <div class="col-auto">

        <!-- Toggler -->
        <div class="navbar-dark">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</nav>