<!-- URL ENCODE THE QUERY (example: https://www.url-encode-decode.com/) -->
<p class="playground-demo online" style="font-size: 0.85rem; margin-top: 0.25rem;">
  🟢 <a href="https://console.semi.technology/console/query#weaviate_uri=https://demo.dataset.playground.semi.technology&graphql_query={{ include.encoded_query }}" target="_blank" rel="nofollow">Try out</a> this GraphQL example in the Weaviate Console.
</p>

<p class="playground-demo offline" style="display: none; font-size: 0.85rem; margin-top: 0.25rem;">
  🟠 Whoops, the demo service is temporarily offline.
</p>
