<!-- Brand -->
<a class="navbar-brand" href="/">
    <img src="/img/logo-weaviate-horizontal-color.svg" class="navbar-brand-img" alt="Weaviate vector search engine logo">
</a>

<!-- Toggler -->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Collapse -->
<div class="collapse navbar-collapse" id="navbarCollapse">

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
    </button>

    <!-- Navigation -->
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Product
            </a>
            <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
                <div class="row gx-0">
                    <div class="col-12 col-lg-6">
                        <div class="dropdown-img-start">

                        <!-- Heading -->
                        <h4 class="fw-bold text-white mb-0">
                            Weaviate Cluster Service
                        </h4>

                        <!-- Text -->
                        <p class="fs-sm text-white">
                            Fill in the form and get more information
                        </p>

                        <!-- Button -->
                        <a href="/product.html#request-access" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                            Request access &amp; pricing info
                        </a>

                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="dropdown-body">
                            <div class="row gx-0">
                                <div class="col-12">

                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                        Products
                                    </h6>

                                    <!-- List -->
                                    <a class="dropdown-item" href="./product.html">
                                        Weaviate Cluster Service
                                    </a>
                                    <a class="dropdown-item mb-5" href="./product.html">
                                        Weaviate Cluster Service infrastructure
                                    </a>

                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                        Integrations
                                    </h6>

                                    <!-- List -->
                                    {% for integration in site.data.integrations %}
                                        <a class="dropdown-item" href="./product.html#{{ integration.name | downcase }}">
                                            {{ integration.name }} ({{ integration.type }})
                                        </a>
                                    {% endfor %}
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div> <!-- / .row -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Learn
            </a>
            <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
                <div class="row gx-0">
                    <div class="col-12 col-lg-6">
                        <div class="dropdown-img-start">

                        <!-- Heading -->
                        <h4 class="fw-bold text-white mb-0">
                            More resources?
                        </h4>

                        <!-- Text -->
                        <p class="fs-sm text-white text-center">
                            An overview of Weaviate publications on third-party platforms
                        </p>

                        <!-- Button -->
                        <a href="/resources.html" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                            Show all resources
                        </a>

                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="dropdown-body">
                            <div class="row gx-0">
                                <div class="col-12">

                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                        Meetups
                                    </h6>

                                    <!-- List -->
                                    <a class="dropdown-item" href="https://www.meetup.com/Weaviate-Amsterdam/" target="_blank">
                                        Meetup Amsterdam
                                    </a>
                                    <a class="dropdown-item" href="https://www.meetup.com/Weaviate-NYC" target="_blank">
                                        Meetup New York
                                    </a>
                                    <a class="dropdown-item" href="https://www.meetup.com/Weaviate-San-Francisco/" target="_blank">
                                        Meetup San Francisco
                                    </a>

                                    <!-- Heading -->
                                    <h6 class="dropdown-header mt-6">
                                        All Resources
                                    </h6>

                                    <!-- List -->
                                    <a class="dropdown-item" href="/resources.html">
                                        show all
                                    </a>
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div> <!-- / .row -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarPodcast" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Podcast
            </a>
            <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarPodcast">
                <div class="row gx-0">
                    <div class="col-12 col-lg-6">
                        <div class="dropdown-img-start">

                        <!-- Heading -->
                        <h4 class="fw-bold text-white mb-0">
                            Want to see more podcasts?
                        </h4>

                        <!-- Text -->
                        <p class="fs-sm text-white">
                            &nbsp;
                        </p>

                        <!-- Button -->
                        <a href="/podcast.html" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                            Check out all episodes
                        </a>

                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="dropdown-body">
                            <div class="row gx-0">
                                <div class="col-12">
                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                        Latest releases
                                    </h6>
                                    {% assign sortedResources = site.data.podcasts | sort: 'date' %}
                                    {% assign counter = 0 %}
                                    {% for podcast in sortedResources reversed %}
                                        {% if counter < 3 %}
                                            <!-- List -->
                                            <a class="dropdown-item" href="https://www.youtube.com/watch?v={{ podcast.youtube }}" target="_blank">
                                                {{ podcast.title | truncate: 38 }}
                                            </a>
                                            {% assign counter = counter | plus: 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    <a class="dropdown-item" href="/podcast.html">
                                        show all
                                    </a>
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div> <!-- / .row -->
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Developers
            </a>
            <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
                <div class="list-group list-group-flush">
                    <a class="list-group-item" href="/developers/weaviate/current/">

                        <!-- Icon -->
                        <div class="icon icon-sm text-primary">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"/><rect fill="#335EEA" x="6" y="11" width="9" height="2" rx="1"/><rect fill="#335EEA" x="6" y="15" width="5" height="2" rx="1"/></g></svg>
                        </div>

                        <!-- Content -->
                        <div class="ms-4">

                            <!-- Heading -->
                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Documentation
                            </h6>

                            <!-- Text -->
                            <p class="fs-sm text-gray-700 mb-0">
                                Weaviate vector search engine
                            </p>

                            <!-- Badge -->
                            <span class="badge rounded-pill bg-primary-soft ms-auto">
                                {{ site.weaviate_version }}
                            </span>
                        </div>
                    </a>
                    <a class="list-group-item" href="/developers/contributor-guide/current/">

                        <!-- Icon -->
                        <div class="icon icon-sm text-primary">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><rect fill="#335EEA" x="4" y="4" width="7" height="7" rx="1.5"/><path d="M5.5 13h4a1.5 1.5 0 011.5 1.5v4A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-4A1.5 1.5 0 015.5 13zm9-9h4A1.5 1.5 0 0120 5.5v4a1.5 1.5 0 01-1.5 1.5h-4A1.5 1.5 0 0113 9.5v-4A1.5 1.5 0 0114.5 4zm0 9h4a1.5 1.5 0 011.5 1.5v4a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-4a1.5 1.5 0 011.5-1.5z" fill="#335EEA" opacity=".3"/></g></svg>
                        </div>

                        <!-- Content -->
                        <div class="ms-4">

                            <!-- Heading -->
                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Contributor Guide
                            </h6>

                            <!-- Text -->
                            <p class="fs-sm text-gray-700 mb-0">
                                Guide for contributions to Weaviate
                            </p>  

                        </div>
                    </a>

                    <a class="list-group-item" href="https://console.semi.technology/" target="_blank">

                        <!-- Icon -->
                        <div class="icon icon-sm text-primary">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fa0171" fill-rule="evenodd" clip-rule="evenodd" d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM9 6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9V6zm9 14H6V10h12v10zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z" />
                            </svg>
                        </div>

                        <!-- Content -->
                        <div class="ms-4">

                            <!-- Heading -->
                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Weaviate Cloud Service
                            </h6>

                            <!-- Text -->
                            <p class="fs-sm text-gray-700 mb-0">
                                Weaviate Cloud Console login
                            </p>  

                        </div>
                    </a>

                    <a class="list-group-item" href="https://github.com/semi-technologies/weaviate" target="_blank">

                        <!-- Icon -->
                        <div class="icon icon-sm text-primary">
                            <svg width="24" height="24" viewBox="-4 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fa0171" fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" />
                            </svg>
                        </div>

                        <!-- Content -->
                        <div class="ms-4">

                            <!-- Heading -->
                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Github
                            </h6>

                            <!-- Text -->
                            <p class="fs-sm text-gray-700 mb-0">
                                Source code on Github
                            </p>  

                        </div>

                    </a>
                    <a class="list-group-item" href="{{ site.slack_signup_url }}" target="_blank">

                        <!-- Icon -->
                        <div class="icon icon-sm text-primary">
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path fill="#fa0171" d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"/>
                            </svg>
                        </div>

                        <!-- Content -->
                        <div class="ms-4">

                            <!-- Heading -->
                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Slack
                            </h6>

                            <!-- Text -->
                            <p class="fs-sm text-gray-700 mb-0">
                                Join our community on Slack
                            </p>  

                        </div>

                    </a>
                </div>
            </div>
        </li>
    </ul>

    <!-- Github -->
    <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="https://github.com/semi-technologies/weaviate" target="_blank">
        Github <i class="fe fe-github d-none d-md-inline"></i>
    </a>

</div>