<!-- Brand -->
<a class="navbar-brand" href="/">
    <img src="/img/logo-weaviate-horizontal-color.svg" class="navbar-brand-img" alt="Weaviate vector search engine logo">
</a>

<!-- Toggler -->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Collapse -->
<div class="collapse navbar-collapse" id="navbarCollapse">

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
    </button>

    <!-- Navigation -->
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" href="/pricing.html">
                Pricing
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Learn
            </a>
            <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
                <div class="row gx-0">
                    <div class="col-12 col-lg-6">
                        <div class="dropdown-img-start">

                        <!-- Heading -->
                        <h4 class="fw-bold text-white mb-0">
                            More resources?
                        </h4>

                        <!-- Text -->
                        <p class="fs-sm text-white text-center">
                            An overview of Weaviate publications on third-party platforms
                        </p>

                        <!-- Button -->
                        <a href="/resources.html" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                            Show all resources
                        </a>

                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="dropdown-body">
                            <div class="row gx-0">
                                <div class="col-12">

                                    <!-- Heading -->
                                    <h6 class="dropdown-header">
                                        Meetups
                                    </h6>

                                    <!-- List -->
                                    <a class="dropdown-item" href="https://www.meetup.com/Weaviate-Amsterdam/" target="_blank">
                                        Meetup Amsterdam
                                    </a>
                                    <a class="dropdown-item" href="https://www.meetup.com/Weaviate-NYC/" target="_blank">
                                        Meetup New York
                                    </a>
                                    <a class="dropdown-item" href="https://www.meetup.com/Weaviate-San-Francisco/" target="_blank">
                                        Meetup San Francisco
                                    </a>

                                    <!-- Heading -->
                                    <h6 class="dropdown-header mt-6">
                                        All Resources
                                    </h6>

                                    <!-- List -->
                                    <a class="dropdown-item" href="/resources/gsoc.html">
                                        Google Summer of Code 2022
                                    </a>
                                    <a class="dropdown-item" href="/resources/gsod.html">
                                        Google Season of Docs 2022
                                    </a>
                                    <a class="dropdown-item" href="/resources.html">
                                        show all
                                    </a>
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div> <!-- / .row -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarContent" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Content
            </a>
            <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarContent">
                <div class="list-group list-group-flush">
                    <a class="list-group-item" href="/blog.html">

                        <div class="icon text-primary">
                            <i class="fa-duotone fa-pen fa-2xl"></i>
                        </div>

                        <div class="ms-4">

                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Blog
                            </h6>

                            <p class="fs-sm text-gray-700 mb-0">
                                Weaviate Blog
                            </p>
                        </div>
                    </a>
                    <a class="list-group-item" href="/podcast.html">

                        <div class="icon text-primary">
                            <i class="fa-duotone fa-microphone fa-2xl"></i>
                        </div>

                        <div class="ms-4">

                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Podcast
                            </h6>

                            <p class="fs-sm text-gray-700 mb-0">
                                Interviews with Weaviate community and machine learning experts
                            </p>
                        </div>
                    </a>
                    <!-- <a class="list-group-item" href="/video/">

                        <div class="icon text-primary">
                            <i class="fa-brands fa-youtube fa-2xl"></i>
                        </div>

                        <div class="ms-4">

                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Video
                            </h6>

                            <p class="fs-sm text-gray-700 mb-0">
                                Videos about Weaviate and Vector Searh
                            </p>
                        </div>
                    </a> -->
                    <a class="list-group-item" href="http://weaviate-newsletter.semi.technology/" target="_blank">

                        <div class="icon text-primary">
                            <i class="fa-duotone fa-envelope fa-2xl"></i>
                        </div>

                        <div class="ms-4">

                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Newsletter
                            </h6>

                            <p class="fs-sm text-gray-700 mb-0">
                                Keep up to date with Weaviate's content
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                Developers
            </a>
            <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
                <div class="list-group list-group-flush">
                    <a class="list-group-item" href="/developers/weaviate/current/">

                        <!-- Icon -->
                        <div class="icon text-primary">
                            <i class="fa-duotone fa-book fa-2xl"></i>
                        </div>

                        <!-- Content -->
                        <div class="ms-4">

                            <!-- Heading -->
                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Documentation
                            </h6>

                            <!-- Text -->
                            <p class="fs-sm text-gray-700 mb-0">
                                Weaviate vector search engine
                            </p>

                            <!-- Badge -->
                            <span class="badge rounded-pill bg-primary-soft ms-auto">
                                {{ site.weaviate_version }}
                            </span>
                        </div>
                    </a>
                    <a class="list-group-item" href="/developers/contributor-guide/current/">

                        <!-- Icon -->
                        <div class="icon text-primary">
                            <i class="fa-duotone fa-signs-post fa-2xl"></i>
                        </div>

                        <!-- Content -->
                        <div class="ms-4">

                            <!-- Heading -->
                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Contributor Guide
                            </h6>

                            <!-- Text -->
                            <p class="fs-sm text-gray-700 mb-0">
                                Guide for contributions to Weaviate
                            </p>  

                        </div>
                    </a>

                    <a class="list-group-item" href="https://console.semi.technology/" target="_blank">

                        <!-- Icon -->
                        <div class="icon text-primary">
                            <i class="fa-duotone fa-lock fa-2xl"></i>
                        </div>

                        <!-- Content -->
                        <div class="ms-4">

                            <!-- Heading -->
                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Weaviate Cloud Service
                            </h6>

                            <!-- Text -->
                            <p class="fs-sm text-gray-700 mb-0">
                                Weaviate Cloud Console login
                            </p>  

                        </div>
                    </a>

                    <a class="list-group-item" href="https://github.com/semi-technologies/weaviate" target="_blank">

                        <!-- Icon -->
                        <div class="icon text-primary">
                            <i class="fa-brands fa-github fa-2xl"></i>
                        </div>

                        <!-- Content -->
                        <div class="ms-4">

                            <!-- Heading -->
                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Github
                            </h6>

                            <!-- Text -->
                            <p class="fs-sm text-gray-700 mb-0">
                                Source code on Github
                            </p>  

                        </div>

                    </a>
                    <a class="list-group-item" href="{{ site.slack_signup_url }}" target="_blank">

                        <!-- Icon -->
                        <div class="icon text-primary">
                            <i class="fa-brands fa-slack fa-2xl"></i>
                        </div>

                        <!-- Content -->
                        <div class="ms-4">

                            <!-- Heading -->
                            <h6 class="fw-bold text-uppercase text-primary mb-0">
                                Slack
                            </h6>

                            <!-- Text -->
                            <p class="fs-sm text-gray-700 mb-0">
                                Join our community on Slack
                            </p>  

                        </div>

                    </a>
                </div>
            </div>
        </li>
    </ul>

    <!-- Slack and WCS -->
    <a class="navbar-btn btn btn-sm btn-primary lift" href="https://console.semi.technology" target="_blank">
        Weaviate Cloud Service <i class="fe fe-upload-cloud d-none d-md-inline" style="margin-left:0.1rem;"></i>
    </a>

</div>