@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 0px;
  }

  .headerBox {
    width: 50%;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 50px;

  h1 {
    color: #130c49;
    font-family: 'Anton', sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 4.5rem */
    text-transform: uppercase;

    span {
      color: #ffffff;
      font-family: 'Anton', sans-serif;
      font-size: 4.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 4.5rem */
      text-transform: uppercase;
    }
  }

  p {
    width: 80%;
    @media screen and (max-width: 1000px) {
      width: 100%;
      font-size: 1.5rem;
    }
  }
}
.right {
  position: relative;
  z-index: 1;

  .image {
    background: url('/img/site/weaviate-graffiti.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;

    width: 42rem;
    height: 34rem;
    margin-bottom: -4rem;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 1450px) {
      width: 34rem;
      height: 28rem;
    }

    @media screen and (max-width: 1000px) {
      width: 30rem;
      height: 28rem;
      margin-bottom: -2rem;
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      min-width: 29rem;
      height: 26.6875rem;
      background-position: unset;
      margin-bottom: 0;
    }

    @media screen and (max-width: 450px) {
      min-width: 24rem;
    }
  }
}

.buttons {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 20px;
  }

  .buttonDark {
    color: #130c49;
    text-align: center;
    font-family: Inter;

    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 157.33%;
    display: flex;
    width: 11.3125rem;
    height: 2.75rem;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
  }

  .buttonLight {
    color: #130c49;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 157.33%; /* 1.57331rem */
    display: flex;
    width: 10.625rem;
    height: 2.75rem;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    background: #f7f9fd;
  }
}

.headerBG {
  background: #130c49;
  background-image: url('/img/site/weaviate-graffiti-bg-1.png');
  background-size: cover;
}

.topText {
  color: #130c49;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  margin: 10px 0px;
}
.bottomBar {
  background: #130c49;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 2; // ensures it appears above the image
  margin-top: -2rem; // optional: create a tighter overlap
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;

  /* Duplicate logos inside this wrapper (already done in your code) */
  width: fit-content;

  animation: scrollLoop 200s linear infinite;
}

@keyframes scrollLoop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logo {
  background-image: url('/img/site/lightlogos/stackoverflow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 4.05294rem;
  height: 1.2745rem;
  flex-shrink: 0;
}

.logo1 {
  background-image: url('/img/site/lightlogos/instabase.svg');
  width: 7.00806rem;
  height: 0.73581rem;
}

.logo2 {
  background-image: url('/img/site/lightlogos/redhat.svg');
  width: 5.41038rem;
  height: 1.25881rem;
}

.logo3 {
  background-image: url('/img/site/lightlogos/mutiny.svg');
  width: 2.70644rem;
  height: 1.30169rem;
}

.logo4 {
  background-image: url('/img/site/lightlogos/shippo.svg');
  width: 4.04431rem;
  height: 1.02769rem;
}

.logo5 {
  background-image: url('/img/site/lightlogos/redbull.svg');
  width: 6.5175rem;
  height: 1.03213rem;
}

.logo6 {
  background-image: url('/img/site/lightlogos/writesonic.svg');
  width: 5.296rem;
  height: 1.33944rem;
}

.logo7 {
  background-image: url('/img/site/lightlogos/netapp.svg');
  width: 5.27531rem;
  height: 0.927rem;
}

.logo8 {
  background-image: url('/img/site/lightlogos/amd.svg');
  width: 4.27531rem;
  height: 0.927rem;
}

.logo9 {
  background-image: url('/img/site/lightlogos/cisco.svg');
  width: 3.27531rem;
  height: 1.927rem;
}

.logo10 {
  background-image: url('/img/site/lightlogos/morningstar.svg');
  width: 4.27531rem;
  height: 0.927rem;
}

.logo11 {
  background-image: url('/img/site/lightlogos/stack.svg');
  width: 4.27531rem;
  height: 0.927rem;
}

.logo12 {
  background-image: url('/img/site/lightlogos/factset.svg');
  width: 5.27531rem;
  height: 0.927rem;
}

.logo13 {
  background-image: url('/img/site/lightlogos/rakuten.svg');
}

.logo14 {
  background-image: url('/img/site/lightlogos/bunq.svg');
  width: 4.27531rem;
}

.logo15 {
  background-image: url('/img/site/lightlogos/build-vw-logo.svg');
  width: 2.53694rem;
  height: 2.53694rem;
}

.logo16 {
  background-image: url('/img/site/lightlogos/build-trc-logo.svg');
}

.logo17 {
  background-image: url('/img/site/lightlogos/build-servier-logo.svg');
  width: 8.51125rem;
  height: 1.69131rem;
}

.logo18 {
  background-image: url('/img/site/lightlogos/build-ltk-logo.svg');
  height: 1.69131rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo19 {
  background-image: url('/img/site/lightlogos/build-gsk-logo.svg');
}

.logo20 {
  background-image: url('/img/site/lightlogos/build-datagrid-logo.svg');
  width: 6.99588rem;
  height: 1.69131rem;
}

@media (max-width: 1600px) {
  .bottomBar {
    justify-content: unset;
  }

  .logoWrapper:hover {
    animation-play-state: paused;
  }

  .bottomBar::before,
  .bottomBar::after {
    content: '';
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background: linear-gradient(to right, #130c49, transparent);
  }

  .bottomBar::after {
    right: 0;
    transform: rotate(180deg);
  }
}
