.techBox {
  width: 14.75694rem;
  height: 6.03275rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #fff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);
}

.header {
  text-align: center;
  margin: auto;
}

.techList {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 50px 0px;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 860px) {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 5px 10px 20px;
    scroll-padding: 20%;
    scroll-snap-type: x mandatory;
  }
}

.techContainer {
  margin: auto;
}

.bgColor {
  background: #ededed;
  padding-top: 70px;

  @media screen and (max-width: 860px) {
    padding: 0px;
  }
}

.aws {
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/img/site/aws-logo-partners.svg');
  transition: all 1s ease-out;
  width: 30%;
  height: 100px;
  margin: auto;
}

.gcp {
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/img/site/gcp-logo-partners.svg');
  transition: all 1s ease-out;
  width: 50%;
  height: 100px;
  margin: auto;
}

.azure {
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/img/site/azure-logo-partners.svg');
  transition: all 1s ease-out;
  width: 50%;
  height: 100px;
  margin: auto;
}

.snowflake {
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/img/site/snowflake-logo-partners.svg');
  transition: all 1s ease-out;
  width: 50%;
  height: 100px;
  margin: auto;
}

.confluent {
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/img/site/databricks-logo-partners.svg');
  transition: all 1s ease-out;
  width: 50%;
  height: 70px;
  margin: auto;
  margin-top: 37px;
}
