.header {
  text-align: center;
  margin: auto;
  width: 85%;
}

.box {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4rem;
  flex: 1;
  border-radius: 12px;
  background-color: rgba(46, 49, 143, 0.5);
  overflow: hidden;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;

    @media screen and (max-width: 668px) {
      grid-template-columns: 1fr;
      margin-bottom: 20px;
    }
  }

  .price {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .big {
      font-weight: 800;
      font-size: 2rem;
    }
  }

  .features {
    padding: 1rem;
  }
  .title {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 49, 143, 0.8);

    h3 {
      margin-bottom: 0;
    }
  }
  li {
    list-style: none;
    display: flex;
    gap: 10px;
    height: 3rem;
    align-items: baseline;
    svg {
      margin-top: 2px;
      path {
        fill: #00b800;
      }
    }
    span {
    }
  }

  li:first-child {
    height: 95px;
  }
}

.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 860px) {
    flex-direction: column;
  }

  a {
    height: 45px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    background-image: linear-gradient(45deg, #20e220 60%, #ffff00);
    color: rgba(46, 49, 143);
    font-weight: bold;
  }
}

[data-theme='light'] {
  .box {
    background-color: #f5f5f5;
  }

  .title {
    background-image: linear-gradient(45deg, #20e220 50%, #00b7e2);
  }

  .big {
    color: rgba(46, 49, 143);
  }

  .buttonGradient {
    background-image: none;
    background-color: rgba(46, 49, 143);
    color: #f5f5f5;
  }
}

.checkIcon {
  display: flex;
  margin-top: 4px;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../../static/img/site/check.png');
}
