[data-theme='light'] {
  .cards {
    .left {
      background-image: url('/img/site/card-1-light.jpg');
    }
    .middle {
      .smallUp {
        background-image: url('/img/site/card-2-light.jpg');
      }
      .smallDown {
        background-image: url('/img/site/card-3-light.jpg');
      }
    }
    .right {
      .smallUp {
        background-image: url('/img/site/card-4-light.jpg');
      }
      .smallDown {
        background-image: url('/img/site/card-5-light.jpg');
      }
    }
  }

  .title {
    padding: 50px;
    color: #fff;
  }
}
.cards {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (max-width: 680px) {
    flex-direction: column;
    gap: 20px;
  }
  .left,
  .middle,
  .right {
    flex: 1;
  }
  .left {
    background-image: url('/img/site/card-1.jpg');
    border-radius: 25px;
    min-height: 380px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 680px) {
      min-height: 150px;
    }
    .title {
      padding: 50px;
      color: #fff;
    }
  }
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 380px;
    width: 100%;
    @media screen and (max-width: 680px) {
      min-height: 150px;
      gap: 20px;
    }
    .smallUp {
      border-radius: 25px;
      background-image: url('/img/site/card-2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 180px;
      @media screen and (max-width: 680px) {
        min-height: 150px;
      }
      .title {
        padding: 20px;
      }
    }
    .smallDown {
      border-radius: 25px;
      background-image: url('/img/site/card-4.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 180px;
      @media screen and (max-width: 680px) {
        min-height: 150px;
      }
      .title {
        padding: 20px;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 380px;
    width: 100%;
    @media screen and (max-width: 680px) {
      min-height: 150px;
      gap: 20px;
    }

    .smallUp {
      border-radius: 25px;
      background-image: url('/img/site/card-3.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 180px;
      @media screen and (max-width: 680px) {
        min-height: 150px;
      }
      .title {
        padding: 20px;
      }
    }
    .smallDown {
      border-radius: 25px;
      background-image: url('/img/site/card-5.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 180px;
      @media screen and (max-width: 680px) {
        min-height: 150px;
      }
      .title {
        padding: 20px;
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  a {
    color: #fff;
  }
}

.linksSmall {
  display: flex;
  padding-left: 20px;
  a {
    color: #fff;
  }
}
