{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

trainingSetWhere = {
  "path": ["wordCount"],
  "operator": "GreaterThan",
  "valueInt": 100
}

client.classification.schedule()\
            .with_type("knn")\
            .with_class_name("Article")\
            .with_based_on_properties(["summary"])\
            .with_classify_properties(["hasPopularity"])\
            .with_training_set_where_filter(trainingSetWhere)\
            .with_k(3)\
            .do()

{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

// the following trigger a classification without waiting
client.classifications
      .scheduler()
      .withType('knn')
      .withK(3)
      .withClassName('Article')
      .withClassifyProperties(['hasPopularity'])
      .withBasedOnProperties(["summary", "wordCount", "title"])
      .do()
      .then(res => {
        console.log(res)
      })
      .catch(err => {
          console.error(err)
      });

// the following triggers a classification with waiting for completion
client.classifications
      .scheduler()
      .withType('knn')
      .withK(3)
      .withClassName('Article')
      .withClassifyProperties(['hasPopularity'])
      .withBasedOnProperties(["summary", "wordCount", "title"])
      .withWaitForCompletion()
      .withWaitTimeout(60 * 1000)
      .do()
      .then(res => {
        console.log(res)
      })
      .catch(err => {
          console.error(err)
      });


{% endcapture %}

{% capture go %}
package main

import (
	"context"
	"fmt"
	"github.com/semi-technologies/weaviate-go-client/v2/weaviate"
)

cfg := weaviate.Config{
  Host:   "localhost:8080",
  Scheme: "http",
}
client := weaviate.New(cfg)

trainingSetWhere = `{
  valueInt: 100
  operator: GreaterThan
  path: ["wordCount"]
}`

classification, err := client.Classifications().Scheduler().
  WithType(classifications.KNN).
  WithK(3).
  WithClassName("Article").
  WithClassifyProperties([]string{"ofCategory"}).
  WithBasedOnProperties([]string{"summary", "wordCount", "title"}).
  WithTrainingSetWhereFilter(trainingSetWhere).
  Do(context.Background())

if err != nil {
  panic(err)
}
fmt.Printf("%v", classification)
{% endcapture %}


{% capture curl %}
$ curl \
    -X POST \
    -H "Content-Type: application/json" \
    -d '{
        "class": "Article",
        "type": "knn",
        "k": 3,
        "basedOnProperties": [
            "summary", "wordCount", "title"
        ],
        "classifyProperties": [
            "hasPopularity"
        ],
        "trainingSetWhere": {"path": ["wordCount"], "operator": "GreaterThan", "valueInt": 100}
    }' \
    http://localhost:8080/v1/classifications
{% endcapture %}

{% include molecule-restful-block-request.html block_id='classification-knn-post' %}