{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

client.contextionary.extend("buried lede", "The central element of an article mistakenly appearing deep in the text", 1.0)
{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

client.c11y
      .extensionCreator()
      .withConcept('buried lede')
      .withDefinition('The central element of an article mistakenly appearing deep in the text')
      .withWeight(1)
      .do()
      .then(res => {
        console.log(res)
      })
      .catch(err => {
          console.error(err)
      });
{% endcapture %}

{% capture go %}
package main

import (
	"context"
	"fmt"
	"github.com/semi-technologies/weaviate-go-client/v2/weaviate"
)

cfg := weaviate.Config{
  Host:   "localhost:8080",
  Scheme: "http",
}
client := weaviate.New(cfg)

err := client.C11y().ExtensionCreator().
  WithConcept("buried lede").
  WithDefinition("The central element of an article mistakenly appearing deep in the text").
  WithWeight(1.0).
  Do(context.Background())

if err != nil {
  panic(err)
}
{% endcapture %}

{% capture curl %}
$ curl \
  -X POST \
  -H 'Content-Type: application/json' \
  -d '{
    "concept": "buried lede",
    "definition": "The central element of an article mistakenly appearing deep in the text",
    "weight": 1
  }' \
  http://localhost:8080/v1/c11y/extensions
{% endcapture %}

{% include molecule-restful-block-request.html block_id='contextionary-extensions' %}