<!-- SET GRAPHQL TAB CONTENT -->
{% capture graphql %}
{
  Get {
    Things {
      Publication(
        group:{
          type: merge,
          force:0.05
        }
      ) {
        name
      }
    }
  }
}
{% endcapture %}

<!-- SET PYTHON TAB CONTENT -->
{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

get_articles_group = """
  {
    Get {
      Things {
        Publication(
          group:{
            type: merge
            force:0.05
          }
        ) {
          name
        }
      }
    }
  }
"""

query_result = client.query.raw(get_articles_group)
print(query_result)
{% endcapture %}

<!-- SET JAVASCRIPT TAB CONTENT -->
{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

client.graphql
      .get()
      .withClassName('Publication')
      .withFields('name')
      .withGroup({
        type: "merge",
        force: 0.05
      })
      .do()
      .then(res => {
        console.log(res)
      })
      .catch(err => {
        console.error(err)
      });
{% endcapture %}

<!-- SET GO TAB CONTENT -->
{% capture go %}
package main

import (
	"context"
	"fmt"
	"github.com/semi-technologies/weaviate-go-client/v2/weaviate"
)

cfg := weaviate.Config{
  Host:   "localhost:8080",
  Scheme: "http",
}
client := weaviate.New(cfg)

ctx := context.Background()

result, err := client.GraphQL().Get().Things().
  WithClassName("Publication").
  WithFields("name").
  WithGroup(`{type: merge force: 0.05}`).
  Do(ctx)

if err != nil {
  panic(err)
}
fmt.Printf("%v", result)

{% endcapture %}

<!-- SET CURL TAB CONTENT -->
{% capture curl %}
$ echo '{ 
  "query": "{
    Get {
      Things {
        Publication(
          group:{
            type: merge
            force:0.05
          }
        ) {
          name
        }
      }
    }
  }"
}' | curl \
    -X POST \
    -H 'Content-Type: application/json' \
    -d @- \
    http://localhost:8080/v1/graphql
{% endcapture %}

<!-- SET BLOCK_ID TO A UNIQUE ID, OFTEN THIS IS = TO THE FILENAME WHERE . == - -->
{% include molecule-graphql-block-request.html block_id='graphql-filters-group' %}