{% capture python %}
import weaviate
import time

client = weaviate.Client("http://localhost:8080")

data_schema = {
    "name": "Jodi Kantor"
}

client.data_object.create(data_schema, "Author", "36ddd591-2dee-4e7e-a3cc-eb86d30a4303")
time.sleep(1)
client.data_object.reference.add("36ddd591-2dee-4e7e-a3cc-eb86d30a4303", "writesFor", "f81bfe5e-16ba-4615-a516-46c2ae2e5a80")
{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

client.data
      .creator()
      .withClassName('Author')
      .withId("36ddd591-2dee-4e7e-a3cc-eb86d30a4303")
      .withSchema({
        "name": "Jodi Kantor"
      })
      .do()
      .then(res => {
          console.log(res)
      })
      .catch(err => {
          console.error(err)
      });

client.data
      .referenceCreator()
      .withKind(weaviate.KIND_THINGS)
      .withId("36ddd591-2dee-4e7e-a3cc-eb86d30a4303")
      .withReferenceProperty('writesFor')
      .withReference(
        client.data
          .referencePayloadBuilder()
          .withId("f81bfe5e-16ba-4615-a516-46c2ae2e5a80")
          .withKind(weaviate.KIND_THINGS)
          .payload(),
      )
      .do()
      .then(res => {
          console.log(res)
      })
      .catch(err => {
          console.error(err)
      });
{% endcapture %}

<!-- SET GO TAB CONTENT -->
{% capture go %}
package main

import (
	"context"
	"fmt"
	"github.com/semi-technologies/weaviate-go-client/v2/weaviate"
)

cfg := weaviate.Config{
  Host:   "localhost:8080",
  Scheme: "http",
}
client := weaviate.New(cfg)

dataSchema := map[string]interface{} {
  "name": "Jodi Kantor",
}

_, err := client.Data().Creator().WithClassName("Author").WithID("36ddd591-2dee-4e7e-a3cc-eb86d30a4303").WithSchema(dataSchema).Do(context.Background())
if err != nil {
  panic(err)
}

reference := client.Data().ReferencePayloadBuilder().WithID("f81bfe5e-16ba-4615-a516-46c2ae2e5a80").WithKind(semantics.Things).Payload()

err = client.Data().ReferenceCreator().
  WithKind(semantics.Things).
  WithID("36ddd591-2dee-4e7e-a3cc-eb86d30a4303").
  WithReferenceProperty("writesFor").
  WithReference(reference).
  Do(context.Background())

if err != nil {
  panic(err)
}
{% endcapture %}

{% capture curl %}
$ curl \
    -X POST \
    -H "Content-Type: application/json" \
    -d '{
      "class": "Author",
      "id": "36ddd591-2dee-4e7e-a3cc-eb86d30a4303",
      "schema": {
          "name": "Jodi Kantor"
      }
  }' \
    http://localhost:8080/v1/things
$ curl \
    -X POST \
    -H "Content-Type: application/json" \
    -d '{
      "beacon": "weaviate://localhost/things/f81bfe5e-16ba-4615-a516-46c2ae2e5a80"
  }' \
    http://localhost:8080/v1/things/36ddd591-2dee-4e7e-a3cc-eb86d30a4303/references/writesFor
{% endcapture %}

{% include molecule-restful-block-request.html block_id='howto-add-data-things-reference' %}