{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

class_obj = {
    "class": "Article",
    "description": "A written text, for example a news article or blog post",
    "vectorizeClassName": true,
    "properties": [
        {
        "dataType": [
            "string"
        ],
        "description": "Title of the article",
        "name": "title",
        "vectorizePropertyName": true,
        "index": true
        },
        {
        "dataType": [
            "text"
        ],
        "description": "The content of the article",
        "name": "content"
        },
        { 
        "dataType": [
            "Author"
        ],
        "description": "The writer of the article",
        "name": "author"
        }
    ]
}

try:
    new_class = client.schema.create_class(class_obj, semantic_type="things")
except (TypeError, ValueError, weaviate.SchemaValidationException) as e:
    print("Something is wrong with your class.\n", e)
except (weaviate.UnexpectedStatusCodeException) as e:
    print("Got an error from weaviate: ", e.json, " with status code: ", e.status_code)
except (ConnectionError) as e:
    print("Bad connection")
{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

var classObj = {
    "class": "Article",
    "description": "A written text, for example a news article or blog post",
    "vectorizeClassName": true,
    "properties": [
        {
        "dataType": [
            "string"
        ],
        "description": "Title of the article",
        "name": "title",
        "vectorizePropertyName": true,
        "index": true
        },
        {
        "dataType": [
            "text"
        ],
        "description": "The content of the article",
        "name": "content"
        },
        { 
        "dataType": [
            "Author"
        ],
        "description": "The writer of the article",
        "name": "author"
        }
    ]
}

client
  .schema
  .classCreator()
  .withClass(classObj)
  .do()
  .then(res => {
    console.log(res)
  })
  .catch(err => {
    console.error(err)
  });
{% endcapture %}

{% capture go %}
package main

import (
	"context"
	"fmt"
	"github.com/semi-technologies/weaviate-go-client/v2/weaviate"
)

cfg := weaviate.Config{
    Host:   "localhost:8080",
    Scheme: "http",
}
client := weaviate.New(cfg)

classObj := &models.Class{
    Class:       "Article",
    Description: "A written text, for example a news article or blog post",
    Properties: []*models.Property{
        {
            DataType:    []string{"string"},
            Description: "Title of the article",
            Name:        "title",
        },
        {
            DataType:    []string{"text"},
            Description: "The content of the article",
            Name:        "content",
        },
        {
            DataType:    []string{"Author"},
            Description: "The writer of the article",
            Name:        "author",
        },
    },
}

err := client.Schema().ClassCreator().WithClass(classObj).Do(context.Background())
if err != nil {
    panic(err)
}
{% endcapture %}

{% capture curl %}
$ curl \
    -X PUT \
    -H "Content-Type: application/json" \
    -d '{
        "class": "Article",
        "description": "A written text, for example a news article or blog post",
        "vectorizeClassName": true,
        "properties": [
            {
            "dataType": [
                "string"
            ],
            "description": "Title of the article",
            "name": "title",
            "vectorizePropertyName": true,
            "index": true
            },
            {
            "dataType": [
                "text"
            ],
            "description": "The content of the article",
            "name": "content"
            },
            { 
            "dataType": [
                "Author"
            ],
            "description": "The writer of the article",
            "name": "author"
            }
        ]
    }' \
    http://localhost:8080/v1/schema/things/Article
{% endcapture %}

{% include molecule-restful-block-request.html block_id='schema-thing-put' %}