{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

updated_schema = {
    "name": "J. Kantor"
}

# Similar to RESTful PUT request: schema will be replaced by "updated-schema"
client.data_object.update(updated_schema, "Author", "36ddd591-2dee-4e7e-a3cc-eb86d30a4303")

# Similar to RESTful PATCH request: "updated_schema" will be merged with the existing schema, replacing only the properties in "updated_schema"
client.data_object.merge(updated_schema, "Author", "36ddd591-2dee-4e7e-a3cc-eb86d30a4303")
{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

var thingClassName = 'Author';
var id = '36ddd591-2dee-4e7e-a3cc-eb86d30a4303';

client.data
    .getterById()
    .withId(id)
    .do()
    .then(res => {
        // alter the schema
        const schema = res.schema;
        schema.name = 'J. Kantor';
        return client.data
            .updater()
            .withId(id)
            .withClassName(thingClassName)
            .withSchema(schema)
            .do();
        })
    .then(res => {
        console.log(res)
    })
    .catch(err => {
        console.error(err)
    });
{% endcapture %}

{% capture go %}
package main

import (
	"context"
	"fmt"
	"github.com/semi-technologies/weaviate-go-client/v2/weaviate"
)

cfg := weaviate.Config{
    Host:   "localhost:8080",
    Scheme: "http",
}
client := weaviate.New(cfg)

dataSchema := map[string]interface{} {
    "name": "J. Kantor",
}

err := client.Data().Updater().
    WithID("36ddd591-2dee-4e7e-a3cc-eb86d30a4303").
    WithClassName("Author").
    WithSchema(dataSchema).
    Do(context.Background())

if err != nil {
    panic(err)
}
{% endcapture %}

{% capture curl %}
$ curl \
    -X PATCH \
    -H "Content-Type: application/json" \
    -d '{
      "class": "Author",
      "id": "36ddd591-2dee-4e7e-a3cc-eb86d30a4303",
      "schema": {
          "name": "J. Kantor"
      }
  }' \
    http://localhost:8080/v1/things/36ddd591-2dee-4e7e-a3cc-eb86d30a4303
{% endcapture %}

{% include molecule-restful-block-request.html block_id='semantic-kind-object-update' %}