{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

client.data_object.reference.delete("36ddd591-2dee-4e7e-a3cc-eb86d30a4303", "wroteArticles", "6bb06a43-e7f0-393e-9ecf-3c0f4e129064")
{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

client.data
      .referenceDeleter()
      .withKind(weaviate.KIND_THINGS)
      .withId("36ddd591-2dee-4e7e-a3cc-eb86d30a4303")
      .withReferenceProperty('wroteArticles')
      .withReference(
        client.data
          .referencePayloadBuilder()
          .withId("6bb06a43-e7f0-393e-9ecf-3c0f4e129064")
          .withKind(weaviate.KIND_THINGS)
          .payload(),
      )
      .do()
      .then(res => {
          console.log(res)
      })
      .catch(err => {
          console.error(err)
      });
{% endcapture %}

{% capture go %}
package main

import (
	"context"
	"fmt"
	"github.com/semi-technologies/weaviate-go-client/v2/weaviate"
)

cfg := weaviate.Config{
    Host:   "localhost:8080",
    Scheme: "http",
}
client := weaviate.New(cfg)

reference := client.Data().ReferencePayloadBuilder().WithID("6bb06a43-e7f0-393e-9ecf-3c0f4e129064").WithKind(semantics.Things).Payload()

err := client.Data().ReferenceDeleter().
    WithKind(semantics.Things).
    WithID("36ddd591-2dee-4e7e-a3cc-eb86d30a4303").
    WithReferenceProperty("wroteArticles").
    WithReference(reference).
    Do(context.Background())

if err != nil {
    panic(err)
}
{% endcapture %}

{% capture curl %}
curl \
    -X DELETE \
    -H "Content-Type: application/json" \
    -d '{
        "beacon": "weaviate://localhost/things/6bb06a43-e7f0-393e-9ecf-3c0f4e129064"
    }
    }' \
    http://localhost:8080/v1/things/36ddd591-2dee-4e7e-a3cc-eb86d30a4303/references/wroteArticles
{% endcapture %}
{% include molecule-restful-block-request.html block_id='semantic-kind-object-reference-delete' %}