.container {
  padding: 3rem;
  background: #f5f5f5;

  @media screen and (max-width: 500px) {
    padding: 3rem 0rem;
  }
}

.title {
  text-align: center;
  padding: 1rem 0 2rem 0;
  margin: auto;
  width: 83%;

  h2 {
    color: #130c49;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 900;
  }
}

.box {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 50px;
}

.heroGraphic {
  width: 10.44406rem;
  height: 7.625rem;
  flex-shrink: 0;
  margin-top: -520px;
  right: 216px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../../../static/img/site/hero-graphic.svg');

  @media screen and (max-width: 1140px) {
    width: 100%;
    height: 5rem;
    flex-shrink: 0;
    margin-top: -485px;
    right: -16px;
    position: absolute;
  }

  @media screen and (max-width: 600px) {
    margin-top: -447px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 29.24306rem;
  height: 25.46663rem;
  background-color: #141f39;
  margin: 1rem;
  padding: 2rem;

  border-radius: 0.67781rem;
  background: #130c49;
  box-shadow: 0px 37.183px 99.155px 0px rgba(22, 27, 45, 0.08);

  @media screen and (max-width: 600px) {
    height: auto;
    width: 100%;
  }
}

.cardHeader {
  display: grid;
  gap: 40px;

  h3 {
    color: #61bd73;
    font-family: Inter;
    font-size: 1.93663rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.contentDiv {
  height: 100%;
  margin-top: 0.5rem;
}

.textCardContent {
  color: #fff;
  font-family: Inter;
  font-size: 1.162rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.62675rem */

  p {
    color: #fff;
    font-family: Inter;
    font-size: 1.162rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.62675rem */
    margin: 10px 0px;
  }
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0;

  .cardFooterDiv {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    p {
      font-size: 16px;
    }

    @media screen and (max-width: 600px) {
      margin-bottom: 0.7rem;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 1rem 0 0 0;
  }
}

.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 860px) {
    flex-direction: column;
  }

  a {
    height: 45px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }
}

.buttonGradient {
  border-radius: 0.3125rem;
  outline: 1px solid #130c49;
  background: #61bd73;
  color: #130c49;
  font-weight: 400;
  transition: all 1s ease-out;
}

.buttonOutline {
  font-weight: 400;
  border-radius: 0.3125rem;
  outline: 1px solid #130c49;
  color: #130c49;
  transition: all 1s ease-out;
}

.buttonGradient:hover {
  border-radius: 0.3125rem;
  outline: 1px solid #130c49;
  background: rgb(15, 0, 50);
  color: #fff;
  font-weight: 400;
}

.buttonOutline:hover {
  border-radius: 0.3125rem;
  outline: 1px solid #130c49;
  background: rgb(15, 0, 50);
  color: #fff;
  font-weight: 400;
}
