.techBox {
  border-radius: 0.9375rem;
  border: 1px solid #130c49;
  background: #fff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);
  width: 14.375rem;
  height: 9.1875rem;
  flex-shrink: 0;
}

.header {
  text-align: center;
  margin: 0px 0px 20px;
  color: #130c49;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    color: #130c49;
  }

  p {
    width: 70%;

    @media screen and (max-width: 860px) {
      width: 100%;
    }
  }
}

.techList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin: 50px 0px;
  justify-content: space-around;

  @media screen and (max-width: 860px) {
    flex-direction: column;
  }
}

.techContainer {
  display: flex;
  justify-content: center;

  iframe {
    margin: 10px 0px 0px 0px;
    @media screen and (min-width: 600px) and (max-width: 800px) {
      width: 100%;
      height: 320px;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      height: 240px;
    }
  }
}
