.boxWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (max-width: 790px) {
    flex-direction: column;
  }
}
.box {
  border: 1px solid rgb(195, 195, 195);
  border-radius: 1rem;
  display: flex;
  min-width: 40%;
  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  @media screen and (max-width: 790px) {
    width: 100%;
  }
}

.left {
  border-radius: 1rem;
  display: flex;
  flex: 1;
  img {
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
  }
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}
