.boxWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  @media screen and (max-width: 790px) {
    flex-direction: column;
  }
}
.box {
  border: 1px solid white;
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 40%;

  @media screen and (max-width: 790px) {
    width: 100%;
  }
}

.left {
  display: flex;
  flex: 1;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
