.bottomBar {
  height: 10rem;
  display: flex;
  background: #130c49;

  .barText {
    color: #2fc514;
    font-family: Plus Jakarta Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 2.7rem */

    span {
      color: #fff;
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 157.33%; /* 1.57331rem */
    }
  }

  @media screen and (max-width: 800px) {
    overflow-x: hidden;
    width: 100%;
    overscroll-behavior: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.innerBar {
  height: 10rem;
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin: auto;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    animation: scrollSide 13s linear infinite;

    @keyframes scrollSide {
      0% {
        transform: translateX(70%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}

.buttons {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  a {
    height: 45px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: #61bd73;
    transition: all 1s ease-out;
    color: #130c49;
  }

  .buttonGradient:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
  }

  .buttonOutline {
    border: 1px solid #130c49;
    color: #130c49;
    transition: all 1s ease-out;
  }

  .buttonOutline:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(97 189 115);
    color: #130c49;
  }
}

.knowledgebase {
  display: flex;
  align-items: flex-start;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.highlights {
  h3 {
    margin: 10px 27px;
  }
}

.knowledgeHighlights {
  display: flex;
  justify-content: center;
}

.filterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px 0px 0px;

  .cardFilter {
    display: flex;
    gap: 18px;
    margin: 10px 0px 10px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    flex-direction: column;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width: 100%;

    @media screen and (max-width: 900px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      h3 {
        flex: 1 100%;
      }
    }

    a {
      color: #130c49;
      font-style: normal;
      font-weight: 200;
      border: none;
      background: whitesmoke;
      transition: all 0.2s ease-out;
    }

    a:hover {
      font-weight: 500;
    }
  }

  input {
    border: 0.5px solid #130c49;
    background: #ffffff;
    width: 0.8125rem;
    height: 0.8125rem;
    appearance: none;
  }

  input :active,
  :focus {
    background: #61bd73;
  }

  label {
    color: #0c1428;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
  }
}

.filterLine {
  background: #8f99b1;
  width: 0.5px;
  height: 216.4375rem;
  flex-shrink: 0;
  margin: -48px 10px 0px 0px;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.knowledgeHeader {
  background: #130c49;
  background-image: url('/img/site/home-page-bg-pattern.svg') !important;
  background-size: cover;
}

.boxGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    color: #ffffff;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 43px;
    font-style: normal;
    line-height: 120%; /* 4.05rem */
    font-weight: bold;
    line-height: 69.6px;
    margin-bottom: 1rem;
  }

  .headerBox {
    width: 50%;
    color: #ffffff;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .cardFilter {
    display: flex;
    gap: 40px;
    margin: 10px 0px 10px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    flex-direction: column;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width: 100%;

    a {
      color: #130c49;
      font-style: normal;
      font-weight: 200;
      border: none;
      background: whitesmoke;
      transition: all 0.2s ease-out;
    }

    a:hover {
      font-weight: 500;
    }
  }

  hr {
    background: #130c49;
    width: 65rem;
    height: 0.0625rem;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 110%;

  @media screen and (max-width: 900px) {
    justify-content: center;
    width: 100%;
  }
}

.categoryText {
  color: #130c49;
  font-size: 1rem;
  font-weight: 400;
}

.linkCard {
  cursor: pointer;
}

.knowledgeCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 325px;
  height: 350px;
  padding: 0px 20px 20px 20px;
  border-radius: 0.4375rem;
  background: #fff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);
  margin: 10px 10px;

  h3 {
    color: #1b1464;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
    margin: 10px 0px 0px;
  }

  span {
    color: #130c49;
    text-align: center;
    font-size: 0.5rem;
    font-weight: 300;
  }

  .innerCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 20px;
    margin: auto;
  }

  .cardType {
    margin: 4px;
    color: #fff;
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140.5%; /* 0.87813rem */
  }

  .cardText {
    color: #1b1464;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 400;
    height: 100px;
  }

  .cardLink {
    margin: 10px;
    text-decoration: underline;
    color: #1b1464;
    font-size: 0.75rem;
    font-weight: 400;
  }

  img {
    width: 100%;
    max-width: 150px;
    height: 100px;
    margin: auto;
  }

  .personLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    svg {
      margin: 7px 0px 0px 0px;
      height: 1.3rem;

      path {
        fill: #fff;
      }
    }

    i {
      margin: 17px 0px 0px 0px;
    }
    a {
      background-color: #130c49;
      width: 35px;
      border-radius: 25px;
      height: 35px;
      color: white;
      margin: 0px 5px;
    }
  }
}

.cardHeader {
  background: #00a88b;
  width: 325px;
  height: 1.7rem;
  flex-shrink: 0;
  border-radius: 0.4375rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.knowledgeBG {
  background-color: #f5f5f5;
}

.valuesBG {
  background-color: #ededed;
}

.buttonOutline {
  border-radius: 0.3125rem;
  border: 1px solid #130c49;
  background: #f4f4f4;
  padding: 9px;
  color: #130c49;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 157.33%;
  transition: all 1s ease-out;
}
.buttonOutline:hover {
  border-radius: 0.3125rem;
  outline: 1px solid #130c49;
  background: rgb(15, 0, 50);
  color: #fff;
  font-weight: 400;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0px 10px;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

@media (max-width: 768px) {
  .buttonsContainer {
    gap: 20px;
    padding: 20px 10px;
  }
}

.applied-research {
  display: block;
}

.teamFilter::-webkit-scrollbar-thumb:horizontal {
  background: #ebe8e8;
  border-radius: 10px;
}

.teamFilter::-webkit-scrollbar {
  height: 14px;
}

.teamFilter::-webkit-scrollbar-thumb {
  margin-bottom: 10px;
  width: 85px;
}

.teamFilter::-webkit-scrollbar-thumb:hover {
  background: #bab7b7;
}

.teamFilter::-webkit-scrollbar-track {
  border-radius: 8px;
}

.linkActive {
  font-weight: 500 !important;
}

.tag {
  margin: 4px;
  padding: 2px 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  display: inline-block;
}

.searchContainer {
  width: 100%;
  display: flex;
  margin: 40px 0px;

  input {
    margin: auto;
    color: #2a97e1;
    padding-block: 1px;
    padding-inline: 10px;
    width: 35.75rem;
    height: 2.625rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    border: 0.5px solid #2a97e1;
    background: #262262;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  input::placeholder {
    color: #2a97e1;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
  }
}

.knowledgeCard.tutorial {
  .cardHeader {
    background: #a38edb;
  }
}

.knowledgeCard.databases {
  .cardHeader {
    background: #5b9d0a;
  }
}

.knowledgeCard.introduction {
  .cardHeader {
    background: #61bb73;
  }
}

.knowledgeCard.llms {
  .cardHeader {
    background: #54449d;
  }
}

.knowledgeCard.rag {
  .cardHeader {
    background: #0a6b8c;
  }
}

.knowledgeCard.hnsw {
  .cardHeader {
    background: #a38edb;
  }
}

.knowledgeCard.search {
  .cardHeader {
    background: #059053;
  }
}

.modals {
  display: flex;
  z-index: 240;
  position: fixed;
  padding: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: mymove 0.2s ease-in-out 1;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

@keyframes mymove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modalGrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 40px;
  padding: 5rem 0rem;
}

.modalContents {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 500px;
  height: fit-content;
  padding: 0px 20px 20px 20px;
  border-radius: 0.4375rem;
  background: #fff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);

  h3 {
    color: #1b1464;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    margin: 20px 0px;
  }

  span {
    color: #130c49;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
  }

  .modalText {
    text-align: left;
    width: 90%;
  }

  .cardContents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
    justify-content: space-between;
    gap: 20px;
  }

  .cardType {
    margin: 4px;
    color: #fff;
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140.5%; /* 0.87813rem */
  }
  .cardHeader {
    background: #00a88b;
    width: 500px;
    height: 1.7rem;
    text-align: center;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .cardText {
    color: #1b1464;
    text-align: center;
    font-size: 0.625rem;
    font-weight: 400;
  }

  .cardLink {
    margin: 10px;
    text-decoration: underline;
    color: #1b1464;
    font-size: 0.75rem;
    font-weight: 400;
  }

  img {
    width: 100%;
    height: 100px;
    max-width: 170px;
    margin-right: auto;
  }

  .personLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    svg {
      margin: 7px 0px 0px 0px;
      height: 1.3rem;

      path {
        fill: #fff;
      }
    }

    i {
      margin: 17px 0px 0px 0px;
    }
    a {
      background-color: #130c49;
      width: 35px;
      border-radius: 25px;
      height: 35px;
      color: white;
      margin: 0px 5px;
    }
  }

  .relatedBox {
    display: flex;
    gap: 10px;
  }

  .relatedBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0px 9px;

    span {
      text-align: left;
    }

    .relatedTitle {
      color: #130c49;
      font-family: 'Plus Jakarta Sans';
      font-size: 0.8rem;
      font-weight: 300;
    }

    .relatedSubtitle {
      color: #130c49;
      font-family: 'Plus Jakarta Sans';
      font-size: 0.6rem;
      font-weight: 600;
    }
  }

  .relatedBlog {
    border-radius: 0.71644rem;
    width: 9rem;
    display: flex;
    height: 8.9rem;
    flex-shrink: 0;
    border: 0.764px solid rgb(19, 12, 73);
    background: rgb(255, 255, 255);
    box-shadow: rgba(22, 27, 45, 0.08) 0px 18.341px 48.908px 0px;
    flex-direction: column;
  }

  .relatedImage {
    background-image: url('/img/site/related-posts-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 9rem;
    height: 5.24613rem;
    flex-shrink: 0;
    border-top-left-radius: 0.71644rem;
    border-top-right-radius: 0.71644rem;
  }

  .nextContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }

  .nextText {
    text-align: center;
    margin: auto;
  }
  .nextButton {
    border-radius: 0.36244rem;
    background: rgba(217, 217, 217, 0.5);
    width: 11.47769rem;
    height: 2.84969rem;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.modalContents.tutorial {
  .cardHeader {
    background: #a38edb;
  }
}

.modalContents.databases {
  .cardHeader {
    background: #5b9d0a;
  }
}

.modalContents.introduction {
  .cardHeader {
    background: #61bb73;
  }
}

.modalContents.llms {
  .cardHeader {
    background: #54449d;
  }
}

.modalContents.rag {
  .cardHeader {
    background: #0a6b8c;
  }
}

.modalContents.hnsw {
  .cardHeader {
    background: #a38edb;
  }
}

.modalContents.search {
  .cardHeader {
    background: #059053;
  }
}

.closeButtonContainer {
  position: absolute;
  top: 0px;
  right: 20px;
}

.close {
  font-size: 2rem;
  color: #130c49;
  cursor: pointer;
  background: none;
  border: none;
}

.shareButton {
  position: absolute;
  top: 45px;
  right: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  background: none;
  border: none;
  color: #130c49;
  cursor: pointer;
}
