.bottomBar {
  height: 10rem;
  display: flex;
  background: #130c49;

  .barText {
    color: #2fc514;
    font-family: Plus Jakarta Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 2.7rem */

    span {
      color: #fff;
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 157.33%; /* 1.57331rem */
    }
  }

  @media screen and (max-width: 800px) {
    overflow-x: hidden;
    width: 100%;
    overscroll-behavior: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.innerBar {
  height: 10rem;
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin: auto;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    animation: scrollSide 13s linear infinite;

    @keyframes scrollSide {
      0% {
        transform: translateX(70%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}

.buttons {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  a {
    height: 45px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: #61bd73;
    transition: all 1s ease-out;
    color: #130c49;
  }

  .buttonGradient:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
  }

  .buttonOutline {
    border: 1px solid #130c49;
    color: #130c49;
    transition: all 1s ease-out;
  }

  .buttonOutline:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(97 189 115);
    color: #130c49;
  }
}

.knowledgebase {
  display: flex;
  align-items: flex-start;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.highlights {
  margin: 0px 0px 50px 0px;
}

.knowledgeHighlights {
  display: flex;
  justify-content: center;
}

.filterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px 0px 0px;

  .cardFilter {
    display: flex;
    gap: 18px;
    margin: 10px 0px 10px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    flex-direction: column;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width: 100%;

    @media screen and (max-width: 900px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      h3 {
        flex: 1 100%;
      }
    }

    a {
      color: #130c49;
      font-style: normal;
      font-weight: 200;
      border: none;
      background: whitesmoke;
      transition: all 0.2s ease-out;
    }

    a:hover {
      font-weight: 500;
    }
  }
}

header {
  background: #130c49;
  background-image: url('/img/site/home-page-bg-pattern.svg') !important;
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    color: #ffffff;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 43px;
    font-style: normal;

    line-height: 120%; /* 4.05rem */

    font-weight: bold;
    line-height: 69.6px;
    margin-bottom: 1rem;
  }

  .headerBox {
    width: 50%;
    color: #ffffff;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .cardFilter {
    display: flex;
    gap: 40px;
    margin: 10px 0px 10px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    flex-direction: column;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width: 100%;

    a {
      color: #130c49;
      font-style: normal;
      font-weight: 200;
      border: none;
      background: whitesmoke;
      transition: all 0.2s ease-out;
    }

    a:hover {
      font-weight: 500;
    }
  }

  hr {
    background: #130c49;
    width: 65rem;
    height: 0.0625rem;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 110%;

  @media screen and (max-width: 900px) {
    justify-content: center;
    width: 100%;
  }
}

.knowledgeCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 325px;
  height: 350px;
  padding: 20px;
  border-radius: 0.4375rem;
  background: #fff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);
  margin: 10px 10px;

  h3 {
    color: #130c49;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
  }

  span {
    color: #130c49;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
  }

  .cardType {
    margin: 4px;
  }

  .cardText {
    color: #130c49;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    height: 127px;
  }

  .cardLink {
    margin: 10px;
    text-decoration: underline;
    color: #130c49;
  }

  img {
    width: 60%;
    max-width: 140px;
  }

  .personLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    svg {
      margin: 7px 0px 0px 0px;
      height: 1.3rem;

      path {
        fill: #fff;
      }
    }

    i {
      margin: 17px 0px 0px 0px;
    }
    a {
      background-color: #130c49;
      width: 35px;
      border-radius: 25px;
      height: 35px;
      color: white;
      margin: 0px 5px;
    }
  }
}

.teamBG {
  background-color: #f5f5f5;
}

.valuesBG {
  background-color: #ededed;
}

.buttonOutline {
  border-radius: 0.3125rem;
  border: 1px solid #130c49;
  background: #f4f4f4;
  padding: 9px;
  color: #130c49;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 157.33%;
  transition: all 1s ease-out;
}
.buttonOutline:hover {
  border-radius: 0.3125rem;
  outline: 1px solid #130c49;
  background: rgb(15, 0, 50);
  color: #fff;
  font-weight: 400;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0px 10px;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

@media (max-width: 768px) {
  .buttonsContainer {
    gap: 20px;
    padding: 20px 10px;
  }
}

.applied-research {
  display: block;
}

.teamFilter::-webkit-scrollbar-thumb:horizontal {
  background: #ebe8e8;
  border-radius: 10px;
}

.teamFilter::-webkit-scrollbar {
  height: 14px;
}

.teamFilter::-webkit-scrollbar-thumb {
  margin-bottom: 10px;
  width: 85px;
}

.teamFilter::-webkit-scrollbar-thumb:hover {
  background: #bab7b7;
}

.teamFilter::-webkit-scrollbar-track {
  border-radius: 8px;
}

.linkActive {
  font-weight: 500 !important;
}

.tag {
  margin: 4px;
  padding: 2px 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  display: inline-block;
}

.searchContainer {
  width: 100%;
  display: flex;
  margin: 40px 0px;

  input {
    border-radius: 25px;
    width: 70%;
    height: 36px;
    margin: auto;
  }
  input[type='text'] {
    padding-block: 1px;
    padding-inline: 10px;
  }
}

.knowledgeCard.tutorial {
  background: #130c49;

  span {
    color: #fff;
  }

  .tag {
    color: #130c49;
  }

  h3 {
    color: #fff;
  }

  span {
    color: #fff;
  }

  a {
    color: #61bd73;
  }
}

.modals {
  display: flex;
  z-index: 240;
  position: fixed;
  padding: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}

.modalGrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 40px;
  padding: 5rem 0rem;
}

.modalContents {
  margin: 7% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 29.9375rem;
  height: 40.5rem;
  max-width: 75.9375rem;
  max-height: 90vh;
  border-radius: 1.5rem;
  background: #ededed;
  position: relative;
}

.closeButtonContainer {
  position: absolute;
  top: 0px;
  right: 20px;
}

.close {
  font-size: 2rem;
  color: #130c49;
  cursor: pointer;
  background: none;
  border: none;
}
