.demoContainer {
  background: #131144;

  background-image: url('/img/site/signup-background.png');
  background-size: cover;
  background-position-y: bottom;
  background-repeat: no-repeat;
  height: 110vh;

  display: flex;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    overflow: auto;
  }

  @media screen and (max-width: 900px) {
    height: 120vh;
  }
}

.demoSideA {
  flex: 1;
  flex-basis: 50%;
  padding: 3rem;

  background-image: url('/img/site/signup-bg-02.png');
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 1200px) {
    flex-basis: 55%;
    padding: 2rem;
  }

  @media screen and (max-width: 900px) {
    flex-basis: 100%;
    background-position-x: center;
  }

  img {
    margin-bottom: 10px;
  }

  h1 {
    color: #130c49;
    font-family: 'Plus Jakarta Sans';
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 2.45rem */

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  p {
    margin-bottom: 20px;

    width: 85%;
    color: #130c49;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 1.6rem */

    @media screen and (max-width: 850px) {
      width: 100%;
    }
  }

  .smallText {
    font-size: 1rem;
  }

  ul {
    color: #130c49;
  }
}

.demoSideB {
  flex: 1;
  flex-basis: 50%;
  justify-content: center;
  background-image: url('/img/site/weaviate-bottom-right-bubble.png');
  background-color: #130c49;
  background-color: #130c49;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  padding: 3rem;
  display: flex;
  align-items: flex-start;

  @media screen and (max-width: 1200px) {
    flex-basis: 45%;
  }

  @media screen and (max-width: 900px) {
    flex-basis: 100%;
  }

  @media screen and (max-width: 1280px) {
    background-size: 90%;
  }

  @media screen and (max-width: 780px) {
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
  }

  h2 {
    color: #61bd73;
    font-family: 'Plus Jakarta Sans';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 2.625rem */
    margin: 0;
  }

  p {
    color: #fff;
    font-family: 'Plus Jakarta Sans';
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: 140%;
  }

  .button {
    border-radius: 0.3125rem;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08),
      0px 0px 1px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #130c49;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  span {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
  }
}

.signUpBox {
  width: 30.3125rem;
  height: 35.12813rem;
  margin: auto;
  flex-shrink: 0;

  @media screen and (max-width: 1300px) {
    width: 100%;
    height: auto;
  }
}

.signUp {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 780px) {
    width: 100%;
  }
}

.investorButton {
  margin-top: 25px;
}

.typeContainer {
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin: 40px 0px;
}

.typeBox {
  width: calc(100% - 53px);
  height: auto;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1300px) {
    width: 100%;
  }

  @media screen and (max-width: 1100px) {
    width: calc(60% - 43px);
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.typeIcon {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    width: 80%;
    color: #130c49;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 1.6rem */
    margin: 0;

    @media screen and (max-width: 1280px) {
      width: 100%;
    }
  }
  a {
    color: #61bd73;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.37663rem */
    text-decoration-line: underline;
    margin: 15px 0px;
  }

  .homeIcon {
    background-image: url('/img/site/cloud-hybrid-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.125rem;
    height: 2.125rem;
  }

  .ragIcon {
    background-image: url('/img/site/cloud-pricing-icon-02.svg');
  }
  .genIcon {
    background-image: url('/img/site/cloud-pricing-icon-03.svg');
  }

  .infraIcon {
    background-image: url('/img/site/hp-infrastructure-icon.svg');
  }

  h2 {
    color: #130c49;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 157.33%; /* 1.57331rem */
    margin: 0;
  }
}

.typeText {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;

  margin: 0px 0px 0px 43px;

  @media screen and (max-width: 500px) {
    margin: 20px 0px;
  }

  a {
    color: #61bd73;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.37663rem */
    text-decoration-line: underline;
    margin: 15px 0px;
  }
}

.bottomBar {
  display: flex;
  margin: -20px 0px;
  flex-direction: column;
}

.innerBar {
  height: 3em;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;

  align-items: center;
  justify-content: space-evenly;
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
  max-width: 35rem;
}

.secondLine {
  grid-template-columns: auto auto auto auto;
}

.customerLogo {
  background-image: url('/img/site/redhat-dark-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.48106rem;
  height: 1.03581rem;
  flex-shrink: 0;
  margin: 0px 10px;

  @media screen and (max-width: 1300px) {
    margin: 0px 1px;
  }
}

.rakutenLogo {
  background-image: url('/img/site/rakuten-demo.svg');
  background-position: center;
}

.morningstarLogo {
  background-image: url('/img/site/morningstar-demo.svg');
  background-position: center;
}

.shippoLogo {
  background-image: url('/img/site/shippo-demo.svg');
  background-position: center;
}

.amdLogo {
  background-image: url('/img/site/amd-demo.svg');
  background-position: center;
}

.bunqLogo {
  background-image: url('/img/site/bunq-demo.svg');
  background-position: center;
}

.ciscoLogo {
  background-image: url('/img/site/cisco-demo.svg');
  background-position: center;
}

.writesonic {
  background-image: url('/img/site/writesonic-demo.svg');
  background-position: center;
  width: 4.48106rem;
  height: 2.03581rem;
}

.instabaseLogo {
  background-image: url('/img/site/instabase-demo.svg');
  background-position: center;
  width: 6.48106rem;
  height: 2.03581rem;
}

.stackLogo {
  background-image: url('/img/site/stack-demo.svg');
  background-position: center;
  width: 4.48106rem;
  height: 2.03581rem;
}

.factsetLogo {
  background-image: url('/img/site/factset-demo.svg');
  background-position: center;
  width: 4.48106rem;
  height: 2.03581rem;
}

.typeQuote {
  max-width: 38.8125rem;
  width: 100%;
  height: 11.375rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #f7f9fd;
  display: flex;
  padding: 40px;
  gap: 40px;
  align-items: center;

  @media screen and (max-width: 1300px) {
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  @media screen and (max-width: 1100px) {
    max-width: 38.8125rem;
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 20px;
  }
  .image {
    width: 5.9375rem;
    height: 5.9375rem;
    flex-shrink: 0;
    background: url('/img/site/quote-image-demo.png');
  }

  p {
    color: #130c49;
    font-family: 'Plus Jakarta Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 157.33%; /* 1.57331rem */
    width: 100%;
  }

  span {
    color: #130c49;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.37663rem */
  }
}

.demoSideB h2 {
  font-size: 1.5rem;
}

.demoSideA h1 {
  color: #130c49;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 2rem */
  margin-bottom: 40px;
}

.demoSideA p,
.demoSideB p,
.typeQuote p,
.typeQuote span {
  font-size: 0.9rem;
}

.typeIcon .homeIcon,
.typeIcon .ragIcon,
.typeIcon .genIcon {
  width: 1.75rem;
  height: 1.75rem;
}

.typeQuote .image {
  width: 5rem;
  height: 5rem;
}

@media screen and (max-width: 1100px) {
  .demoSideA h1,
  .demoSideB h2 {
    font-size: 1.75rem;
  }

  .demoSideA p,
  .demoSideB p {
    font-size: 1rem;
  }

  .typeIcon .homeIcon,
  .typeIcon .ragIcon,
  .typeIcon .genIcon {
    width: 2.125rem;
    height: 2.125rem;
  }

  .signUpBox {
    width: 100%;
    height: auto;
  }

  .typeQuote .image {
    width: 5.5rem;
    height: 5.5rem;
  }
}

@media screen and (max-width: 700px) {
  .demoSideA h1,
  .demoSideB h2 {
    br {
      display: none;
    }
  }
}

.hs-custom-style
  > div
  > div:last-of-type
  .hs-input:not([type='checkbox']):not([type='radio']),
.hs-custom-style
  fieldset
  > div:last-of-type
  .hs-input:not([type='checkbox']):not([type='radio']) {
  width: 100%;
  max-width: 100%;
  max-height: 100px;
}

.hsForm {
  color: #b5d2dc;
  background: #d9e7ecb0;
  padding: 20px;
  border-radius: 1.25rem;
  font-family: Inter;
  font-size: 13px;

  input[type='text'],
  [type='email'] {
    background: #272361;
  }

  input[type='textarea'] {
    background: #272361;
    height: 40px;
    max-height: 200px !important;
  }

  ::marker {
    display: none;
  }

  ul {
    padding-left: 0;
  }

  li,
  span,
  label {
    list-style: none;
    color: #b5d2dc;
    font-size: 14px !important;
  }
}

.formWrapper {
  max-height: 700px;
  overflow-y: auto;
  width: 100%;
  padding: 10px;

  @media screen and (max-width: 800px) {
    max-height: 800px;
  }
}
