.buttons {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  a {
    height: 45px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    background: #61bd73;
    transition: all 1s ease-out;
    color: #130c49;
  }

  .buttonGradient:hover {
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
  }

  .buttonOutline {
    font-weight: 400;
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    color: #130c49;

    transition: all 1s ease-out;
  }

  .buttonOutline:hover {
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
    font-weight: 400;
  }
}

p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0px;

  h1 {
    color: #130c49;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 3.15rem */
    margin-bottom: 1rem;
  }

  .headerBox {
    width: 50%;
    @media screen and (max-width: 900px) {
      width: 100%;
    }

    p {
      color: #130c49;
    }
  }

  .teamFilter {
    display: flex;
    gap: 40px;
    margin: 10px 0px 10px;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width: 100%;

    a {
      color: #130c49;
      font-style: normal;
      font-weight: 200;
      border: none;
      background: whitesmoke;
      transition: all 0.2s ease-out;
    }

    a:hover {
      font-weight: 500;
    }
  }

  hr {
    background: #130c49;
    width: 65rem;
    height: 0.0625rem;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
}

.headerImage {
  display: flex;
  align-items: center;

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.headerImage1 {
  width: 190px;
  margin-right: -30px;
  height: 130px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
  background-image: url('/img/site/weaviate-hero-header-01.svg');

  @media screen and (max-width: 500px) {
    margin-right: -24px;
  }
}

.headerImage2 {
  width: 298px;
  height: 130px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  background-image: url('/img/site/weaviate-hero-header-02.svg');

  @media screen and (max-width: 500px) {
    margin-top: -42px;
  }
}

.peopleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.person {
  text-align: center;
  width: 223px;
  height: 325px;
  padding: 20px;
  border-radius: 0.4375rem;
  background: #fff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);
  margin: 10px 10px;

  h3 {
    color: #130c49;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
  }

  span {
    color: #130c49;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
  }
  img {
    width: 80%;
    border-radius: 50%;
  }

  .personLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    svg {
      margin: 7px 0px 0px 0px;
      height: 1.3rem;

      path {
        fill: #fff;
      }
    }

    i {
      margin: 17px 0px 0px 0px;
    }
    a {
      background-color: #130c49;
      width: 35px;
      border-radius: 25px;
      height: 35px;
      color: white;
      margin: 0px 5px;
    }
  }
}

.teamBG {
  background-color: #f5f5f5;
}

.valuesBG {
  background-color: #ededed;
}

.buttonOutline {
  border-radius: 0.3125rem;
  border: 1px solid #130c49;
  background: none;
  padding: 9px;
  color: #130c49;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 157.33%;
  transition: all 1s ease-out;
}
.buttonOutline:hover {
  border: 1px solid #130c49;
  background: rgb(15, 0, 50);
  color: #fff;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0px 10px;
}

.applied-research {
  display: block;
}

.teamFilter::-webkit-scrollbar-thumb:horizontal {
  background: #ebe8e8;
  border-radius: 10px;
}

.teamFilter::-webkit-scrollbar {
  height: 14px;
}

.teamFilter::-webkit-scrollbar-thumb {
  margin-bottom: 10px;
  width: 85px;
}

.teamFilter::-webkit-scrollbar-thumb:hover {
  background: #bab7b7;
}

.teamFilter::-webkit-scrollbar-track {
  border-radius: 8px;
}

.linkActive {
  font-weight: 500 !important;
}

.headerSecurity {
  background: #f5f5f5;
  background-image: url('/img/site/home-page-bg-pattern.svg');
  background-size: cover;
  background-position-y: -300px;

  @media screen and (max-width: 500px) {
    background-image: url('/img/site/bg-light-mobile.svg');
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
  }
}

.topText {
  color: #130c49;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.5rem */
  text-transform: uppercase;
  margin: 10px 0px;
}

.bottomBar {
  height: 10rem;
  display: flex;
  background: #130c49;

  .barText {
    color: #2fc514;
    font-family: Plus Jakarta Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 2.7rem */

    span {
      color: #fff;
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 157.33%; /* 1.57331rem */
    }
  }

  @media screen and (max-width: 800px) {
    overflow-x: hidden;
    width: 100%;
    overscroll-behavior: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.innerBar {
  height: 10rem;
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin: auto;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    animation: scrollSide 13s linear infinite;

    @keyframes scrollSide {
      0% {
        transform: translateX(70%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}

.socialBox {
  display: flex;

  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-radius: 0.9375rem;
  border: 1px solid #130c49;
  background: #d9d9d9;
  background-size: contain;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.08);
  width: 13.75rem;
  height: 5rem;
  justify-content: center;
  gap: 15px;

  @media screen and (max-width: 500px) {
    width: 9.38156rem;
    height: 3.875rem;
    flex-shrink: 0;
  }

  .slack {
    display: flex;
    width: 3.75rem;
    height: 3.75rem;
    @media screen and (max-width: 500px) {
      width: 2.25rem;
      height: 2.25rem;
      flex-shrink: 0;
    }

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/site/slack_new.png');
  }
  .text {
    padding-top: 10px;
    text-align: center;
    color: #130c49;
  }

  .github {
    display: flex;
    width: 3.75rem;
    height: 3.75rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/site/github.png');

    @media screen and (max-width: 500px) {
      width: 2.25rem;
      height: 2.25rem;
      flex-shrink: 0;
    }
  }
  .twitter {
    display: flex;
    width: 3.75rem;
    height: 3.75rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/site/twitter-x.png');

    @media screen and (max-width: 500px) {
      width: 2.25rem;
      height: 2.25rem;
      flex-shrink: 0;
    }
  }

  .forum {
    display: flex;
    width: 3.75rem;
    height: 3.75rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/site/weaviate-forum-new.svg');

    @media screen and (max-width: 500px) {
      width: 2.25rem;
      height: 2.25rem;
      flex-shrink: 0;
    }
  }
}
