.bgCol {
  background: #ecf4f8;
  max-height: 13rem;

  @media screen and (max-width: 1060px) {
    max-height: 23rem;
  }

  @media screen and (max-width: 600px) {
    max-height: 28rem;
  }

  @media screen and (max-width: 500px) {
    max-height: 32rem;
  }
}

.header {
  width: 70%;
  margin: 30px 0px;

  p {
    color: #130c49;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.57331rem */
  }
  @media screen and (max-width: 950px) {
    width: 100%;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 110px;

  @media screen and (max-width: 950px) {
    margin: none;
    gap: 0px;
  }

  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr;
    margin: 0px 10px;
  }
}

.title {
  font-size: 50px;
  font-weight: bold;

  margin: 2rem 0rem;
  height: 250px;

  @media screen and (max-width: 500px) {
    font-size: 53px;
    text-align: left;

    height: 200px;
  }

  h1 {
    color: #130c49;

    font-family: Plus Jakarta Sans;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3.15rem */
  }
}
.text {
  @media screen and (max-width: 800px) {
    text-align: left;
    width: 347px;
    padding: 20px 0;
  }
}

.buttons {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 800px) {
    justify-content: left;
  }

  a {
    width: 11.1875rem;
    height: 3.125rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    border-radius: 0.375rem;

    background: #61bd73;
    color: #130c49;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 163.8%; /* 1.638rem */
    width: 13.1875rem;
  }

  .buttonOutline {
    color: #ffffff;

    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 163.8%; /* 1.638rem */
    border-radius: 0.375rem;
    border: 1px solid #61bd73;
    background: #130c49;
  }
}

.box {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  text-align: left;
  margin-bottom: 40px;
  flex: 1;

  h1 {
    color: #130c49;
    font-family: 'Plus Jakarta Sans';
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  span {
    color: #130c49;
    font-family: 'Plus Jakarta Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  p {
    color: #130c49;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 2.1rem */
  }
}

.serviceBox {
  width: 64.9375rem;
  height: 20.6875rem;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #130c49;
  margin: 36px auto;
  display: flex;
  transform: translateY(-200px);

  @media screen and (max-width: 1080px) {
    height: auto;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px;
    transform: translateY(-140px);
  }
}

.serviceText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  flex: 1;

  @media screen and (max-width: 1080px) {
    gap: 20px;
  }

  h2 {
    color: #fff;
    font-family: 'Plus Jakarta Sans';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3rem */

    @media screen and (max-width: 800px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 500px) {
      font-size: 1.6rem;
    }
  }

  span {
    color: #61bb73;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.875rem */
    text-transform: uppercase;
  }

  p {
    color: #fff;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.25rem */

    @media screen and (max-width: 800px) {
      font-size: 1.2rem;
    }
  }

  .buttonGradient,
  .buttonGradient:hover {
    border-radius: 0.375rem;
    background: #61bd73;
    color: #130c49;
  }

  .codeContainer {
    display: flex;
    gap: 20px;

    i {
      font-size: larger;
    }

    code {
      width: 80%;
      display: flex;
      justify-content: space-between;
      padding: 10px;

      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }
  }

  .copyButton {
    background: none;
    color: #130c49;
    border: none;
  }
}

.serviceIcon {
  background-image: url('/img/site/neople-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 10rem;
  height: 10rem;
}

.serviceImage {
  background-image: url('/img/site/js-diagram-header.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20.0625rem;
  height: 14.4375rem;
  border-radius: 0.625rem;
  flex: 1;
  margin: auto;

  @media screen and (max-width: 1080px) {
    flex: auto;
    padding: 20px;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
