.buttons {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  a {
    height: 45px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: #61bd73;
    transition: all 1s ease-out;
    color: #130c49;
  }

  .buttonGradient:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
  }

  .buttonOutline {
    border: 1px solid #130c49;
    color: #130c49;
    transition: all 1s ease-out;
  }

  .buttonOutline:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(97 189 115);
    color: #130c49;
  }
}

p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.box {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  text-align: left;

  h2 {
    color: #130c49;
    font-family: Plus Jakarta Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 157.33%; /* 3.53994rem */
  }

  .headerBox {
    width: 50%;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  p {
    color: #130c49;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 70%;
  }
}

.teamBG {
  background-color: #f5f5f5;
}

.valuesBG {
  background-color: #ededed;
}

.buttonOutline {
  border-radius: 0.3125rem;
  border: 1px solid #130c49;
  background: #f4f4f4;
  padding: 9px;
  width: 170px;
  color: #130c49;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 157.33%;
  transition: all 1s ease-out;
}
.buttonOutline:hover {
  border-radius: 0.3125rem;
  outline: 1px solid #130c49;
  background: rgb(15, 0, 50);
  color: #fff;
  font-weight: 400;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0px 10px;
}

.parent {
  margin: 45px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    'div1 div2'
    'div3 div3';
}

.div1 {
  grid-area: div1;
  border-radius: 0.1875rem;
  background: #ffffff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.1);
  width: 100%;
  height: 20.26088rem;
  background-image: url('/img/site/events-connor.png');
  background-position: -18% 100%;
  background-repeat: no-repeat;
  @media screen and (max-width: 700px) {
    background-image: none;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    background-position: -29% 100%;
  }

  a {
    color: #130c49;
  }
}

.div2 {
  grid-area: div2;
  border-radius: 0.1875rem;
  background: #ffffff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.1);
  width: 100%;
  height: 20.26088rem;
  background-image: url('/img/site/press-background-2.png');
  background-position: 120% 1%;
  background-repeat: no-repeat;
  @media screen and (max-width: 700px) {
    background-image: none;
  }
  a {
    color: #130c49;
  }
}

.div3 {
  grid-area: div3;
  border-radius: 0.1875rem;
  background: #ffffff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.1);
  width: 100%;
  height: 20.26088rem;
  background-image: url('/img/site/press-background-3.png');
  background-position: 0% 58%;
  background-repeat: no-repeat;
  @media screen and (max-width: 700px) {
    background-image: none;
  }

  a {
    color: #130c49;
  }
}

.date {
  margin-top: 60px;
  color: #130c49;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 157.33%; /* 1.57331rem */
  text-decoration-line: underline;
}

.sectionL {
  float: right;
  width: 50%;
  margin: 60px 60px;

  .cardHeader {
    color: #130c49;
    font-size: 1.25rem;
    font-weight: 400;
  }

  @media screen and (max-width: 700px) {
    padding: 10px 10px;
    float: none;
    width: 100%;
    margin: auto;

    p {
      font-size: 15px;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    margin: 27px 49px;
    padding: 10px 10px;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    margin: 7px 30px;
  }
}
.date {
  font-weight: 200;
  margin-top: 30px;
}
.sectionR {
  float: left;
  width: 50%;
  margin: 60px 60px;

  .cardHeader {
    color: #130c49;
    font-size: 1.25rem;
    font-weight: 400;
  }

  .date {
    margin-top: 60px;
  }

  @media screen and (max-width: 700px) {
    padding: 10px 10px;
    float: none;
    width: 100%;
    margin: auto;

    p {
      font-size: 15px;
    }
    .date {
      margin-top: 27px;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    float: left;
    width: 50%;
    margin: 32px 34px;

    .date {
      margin-top: 98px;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    float: left;
    width: 50%;
    margin: 20px 34px;

    .date {
      margin-top: 121px;
    }
  }
}

.sectionB {
  float: right;
  width: 68%;
  margin: auto;
  padding: 68px 13px;

  .cardHeader {
    color: #130c49;
    font-size: 1.25rem;
    font-weight: 400;
  }

  @media screen and (max-width: 700px) {
    padding: 10px 10px;
    float: none;
    width: 100%;
    margin: auto;

    p {
      font-size: 15px;
    }
    .date {
      margin-top: 40px;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    float: right;
    width: 65%;
    margin: auto;
    padding: 45px 25px;
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    float: right;
    width: 59%;
    margin: auto;
    padding: 25px;
  }
}
