.light {
  .box {
    text-align: left;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: center;

    @media screen and (max-width: 680px) {
      text-align: left;
      margin: auto;
      width: auto;
      color: #130c49;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: flex-end;
      align-items: center;
      gap: 40px;
    }
  }

  .soc2Container {
    background: #130e46;
  }

  .soc2Box {
    flex: 1 290px;
    h2 {
      color: white;
    }

    p {
      margin-bottom: 20px;
      color: white;
    }

    @media screen and (max-width: 680px) {
      flex: none;
    }
  }

  .soc2Logo {
    background: url('/img/site/soc2-logo.svg');
    background-size: 100% 100%;
    width: 100%;
    height: 130px;
    flex: 1;

    @media screen and (max-width: 680px) {
      flex: none;
    }
  }
}

.dark {
  .box {
    text-align: left;
    color: #130c49;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: flex-start;
    margin: 20px 0px;

    @media screen and (max-width: 680px) {
      text-align: left;
      margin: auto;
      width: auto;
      color: #130c49;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: flex-end;
      align-items: center;
      gap: 40px;
    }
  }

  .soc2Container {
    background: #ededed;
  }

  .soc2Box {
    flex: 1;

    h2 {
      color: #130c49;
    }

    p {
      margin: 40px 0px;
      color: #130c49;
    }

    @media screen and (max-width: 680px) {
      flex: none;
    }
  }

  .soc2Logos {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 50px;
  }

  .drataLogo {
    background: url('/img/site/CIS-logo.png');
    background-size: 100% 100%;

    width: 50%;
    height: 120px;

    margin-left: 6%;

    @media screen and (max-width: 680px) {
      flex: none;
      margin-left: 0%;
    }
  }

  .soc2Logo {
    background: url('/img/site/soc-2-circle.svg');
    background-size: 100% 100%;
    width: 100%;
    height: 130px;

    @media screen and (max-width: 680px) {
      flex: none;
    }
  }
}
