{% capture python %}
import weaviate

client = weaviate.Client('http://localhost:8080')

result = client.backup.get_restore_status(
  backup_id='my-very-first-backup',
  storage_name='filesystem',
)

print(result)
{% endcapture %}


{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

client.backup.restoreStatusGetter()
  .withStorageName("filesystem")
  .withBackupId("my-very-first-backup")
  .do()
  .then(console.log)
  .catch(console.error)
{% endcapture %}


{% capture go %}
package main

import (
  "context"
  "fmt"

  "github.com/semi-technologies/weaviate-go-client/v4/weaviate"
)

func main() {
  cfg := weaviate.Config{
    Host:   "localhost:8080",
    Scheme: "http",
  }
  client := weaviate.New(cfg)

  result, err := client.Backup().RestoreStatusGetter().
    WithStorageName(backup.STORAGE_FILESYSTEM).
    WithBackupID("my-very-first-backup").
    Do(context.Background())

  if err != nil {
    panic(err)
  }
  fmt.Printf("%v", result)
}
{% endcapture %}


{% capture java %}
package technology.semi.weaviate;

import technology.semi.weaviate.client.Config;
import technology.semi.weaviate.client.WeaviateClient;
import technology.semi.weaviate.client.base.Result;
import technology.semi.weaviate.client.v1.backup.model.BackupRestoreStatusResponse;
import technology.semi.weaviate.client.v1.backup.model.Storage;

public class App {
  public static void main(String[] args) {
    Config config = new Config("http", "localhost:8080");
    WeaviateClient client = new WeaviateClient(config);

    Result<BackupRestoreStatusResponse> result = client.backup().restoreStatusGetter()
      .withStorageName(Storage.FILESYSTEM)
      .withBackupId("my-very-first-backup")
      .run();

    if (result.hasErrors()) {
      System.out.println(result.getError());
      return;
    }
    System.out.println(result.getResult());
  }
}
{% endcapture %}


{% capture curl %}
$ curl http://localhost:8080/v1/backups/filesystem/my-very-first-backup/restore
{% endcapture %}


{% include molecule-restful-block-request.html block_id='backups-status-restore' %}
