{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

source_where = {
  "path": ["wordCount"],
  "operator": "GreaterThan",
  "valueInt": 100
}

target_where = {
  "path": ["name"],
  "operator": "NotEqual",
  "valueString": "Government"
}

client.classification.schedule()\
            .with_type("zeroshot")\
            .with_class_name("Article")\
            .with_classify_properties(["ofCategory"])\
            .with_source_where_filter(source_where)\   # optional
            .with_target_where_filter(target_where)\   # optional
            .do()
{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

// the following trigger a classification without waiting
client.classifications
      .scheduler()
      .withType('zeroshot')
      .withClassName('Article')
      .withClassifyProperties(['ofCategory'])
      .do()
      .then(res => {
        console.log(res)
      })
      .catch(err => {
          console.error(err)
      });

// the following triggers a classification with waiting for completion
client.classifications
      .scheduler()
      .withType('zeroshot')
      .withClassName('Article')
      .withClassifyProperties(['ofCategory'])
      .withWaitForCompletion()
      .withWaitTimeout(60 * 1000)
      .do()
      .then(res => {
        console.log(res)
      })
      .catch(err => {
          console.error(err)
      });
{% endcapture %}

{% capture go %}
package main

import (
  "context"
  "fmt"

  "github.com/semi-technologies/weaviate-go-client/v4/weaviate"
  "github.com/semi-technologies/weaviate-go-client/v4/weaviate/classifications"
  "github.com/semi-technologies/weaviate-go-client/v4/weaviate/graphql"
  "github.com/semi-technologies/weaviate/entities/models"
)

func main() {

  cfg := weaviate.Config{
    Host:   "localhost:8080",
    Scheme: "http",
  }
  client := weaviate.New(cfg)

  valueInt := func(in int64) *int64 {
    return &in
  }

  valueString := func(in string) *string {
    return &in
  }

  sourceWhere := &models.WhereFilter{
    ValueInt: valueInt(100),
    Operator: string(graphql.GreaterThan),
    Path:     []string{"wordCount"},
  }

  targetWhere := &models.WhereFilter{
    ValueString: valueString("Government"),
    Operator:    string(graphql.NotEqual),
    Path:        []string{"name"},
  }

  classification, err := client.Classifications().Scheduler().
    WithType(classifications.ZeroShot).
    WithClassName("Article").
    WithClassifyProperties([]string{"ofCategory"}).
    WithSourceWhereFilter(sourceWhere).
    WithTargetWhereFilter(targetWhere).
    Do(context.Background())

  if err != nil {
    panic(err)
  }
  fmt.Printf("%v", classification)
}
{% endcapture %}

<!-- SET JAVA TAB CONTENT -->
{% capture java %}
package technology.semi.weaviate;

import technology.semi.weaviate.client.Config;
import technology.semi.weaviate.client.WeaviateClient;
import technology.semi.weaviate.client.base.Result;
import technology.semi.weaviate.client.v1.classifications.model.Classification;
import technology.semi.weaviate.client.v1.classifications.model.ClassificationType;
import technology.semi.weaviate.client.v1.classifications.model.Operator;
import technology.semi.weaviate.client.v1.classifications.model.WhereFilter;

public class App {
  public static void main(String[] args) {
    Config config = new Config("http", "localhost:8080");
    WeaviateClient client = new WeaviateClient(config);

    WhereFilter trainingSetWhere = WhereFilter.builder()
      .valueInt(100)
      .operator(Operator.GreaterThan)
      .path(new String[]{ "wordCount" })
      .build();

    WhereFilter targetSetWhere = WhereFilter.builder()
      .valueString("Government")
      .operator("NotEqual")
      .path(new String[]{ "name" })
      .build();

    Result<Classification> result = client.classifications().scheduler()
      .withType(ClassificationType.ZeroShot)
      .withClassName("Article")
      .withClassifyProperties(new String[]{ "ofCategory" })
      .withTrainingSetWhereFilter(trainingSetWhere)
      .withTargetWhereFilter(trainingSetWhere)
      .run();

    if (result.hasErrors()) {
      System.out.println(result.getError());
      return;
    }
    System.out.println(result.getResult());
  }
}
{% endcapture %}


{% capture curl %}
$ curl \
    -X POST \
    -H "Content-Type: application/json" \
    -d '{
        "class": "Article",
        "type": "zeroshot",
        "classifyProperties": [
            "ofCategory"
        ],
        "filters": {
          "sourceWhere": {"path": ["wordCount"], "operator": "GreaterThan", "valueInt": 100},
          "targetWhere": {"path": ["name"], "operator": "NotEqual", "valueString": "Government"}
        }
    }' \
    http://localhost:8080/v1/classifications
{% endcapture %}

{% include molecule-restful-block-request.html block_id='classification-zeroshot-post' %}