<!-- SET PYTHON TAB CONTENT -->
{% capture python %}

import weaviate
import json 

where_filter = {
    "path": ["name"],
    "operator": "Like",
    "valueString": "New York*"
  }

client = weaviate.Client('https://some-endpoint.semi.network')
query_result = (
  client.query
  .get("Publication", "name")
  .with_where(where_filter)
  .do()
)

print(json.dumps(query_result, indent=4))

{% endcapture %}

<!-- SET JAVASCRIPT TAB CONTENT -->
{% capture javascript %}

weaviate = require("weaviate-client");

const client = weaviate.client({
    scheme: "https",
    host: "some-endpoint.semi.network"
});

const where_filter = {
    "path": ["name"],
    "operator": "Like",
    "valueString": "New York*"
}

client.graphql
    .get()
    .withClassName('Publication')
    .withFields('name')
    .withWhere(where_filter)
    .do()
    .then(res => {
        console.log(res)
    })
    .catch(err => {
        console.error(err)
    });

{% endcapture %}

<!-- SET GO TAB CONTENT -->
{% capture go %}

TBC

{% endcapture %}

<!-- SET JAVA TAB CONTENT -->
{% capture java %}
TBC

{% endcapture %}

<!-- SET CURL TAB CONTENT -->
{% capture curl %}
TBC

{% endcapture %}

{% include molecule-restful-block-request.html block_id='getting-started-query-publication-where-1' %}
