<!-- SET PYTHON TAB CONTENT -->
{% capture python %}

import weaviate
import json

client = weaviate.Client("https://some-endpoint.semi.network/")

# Load data from the data.json file
data_file = open('data.json')
data = json.load(data_file)
# Closing file
data_file.close()

# Configure a batch process
client.batch.configure(
  batch_size=100, 
  dynamic=True,
  timeout_retries=3,
  callback=None,
)

# Batch import all Publications
for publication in data['publications']:
  print("importing publication: ", publication["name"])

  properties = {
    "name": publication["name"]
  }

  client.batch.add_data_object(properties, "Publication", publication["id"], publication["vector"])

# Flush the remaining buffer to make sure all objects are imported
client.batch.flush()

{% endcapture %}

<!-- SET JAVASCRIPT TAB CONTENT -->
{% capture javascript %}

const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'https',
  host: 'some-endpoint.semi.network/',
});

async function getJsonData() {
    const file = await fetch('./data.json');
    return file.json();
}

async function importPublications() {
  // Get the data from the data.json file
  const data = await this.getJsonData();

  // Prepare a batcher
  let batcher = client.batch.objectsBatcher();
  let counter = 0;

  data.publications.forEach(publication => {
    // Construct an object with a class, id, properties and vector
    const obj = {
      class: "Publication",
      id: publication.id,
      properties: {
        name: publication.name,
      },
      vector: publication.vector
    }

    // add the object to the batch queue
    batcher = batcher.withObject(obj);

    // When the batch counter reaches 20, push the objects to Weaviate
    if (counter++ == 20) {
      // flush the batch queue
      batcher
      .do()
      .then(res => {
        console.log(res)
      })
      .catch(err => {
        console.error(err)
      });
      
      // restart the batch queue
      counter = 0;
      batcher = client.batch.objectsBatcher();
    }
  });

  // Flush the remaining objects
  batcher
  .do()
  .then(res => {
    console.log(res)
  })
  .catch(err => {
    console.error(err)
  });
}

importPublications();

{% endcapture %}

<!-- SET GO TAB CONTENT -->
{% capture go %}

package main

import (
	"context"
	"encoding/json"
	"fmt"
	"os"

	"github.com/go-openapi/strfmt"
	"github.com/pkg/errors"
	"github.com/semi-technologies/weaviate-go-client/v4/weaviate"
	"github.com/semi-technologies/weaviate/entities/models"
)

func main() {
	ctx := context.Background()

	cfg := weaviate.Config{
		Host:   "some-endpoint.semi.network/",
		Scheme: "https",
	}
	client := weaviate.New(cfg)

	fmt.Printf("Import objects\n")
	if err := importPublications(ctx, client); err != nil {
		panic(err)
	}

	fmt.Printf("Successfully imported data\n")
}

func parseFile() (Data, error) {
	filePath := "./data.json"
	data, err := os.ReadFile(filePath)
	if err != nil {
		return Data{}, errors.Wrap(err, "reading data file")
	}

	var d Data
	if err = json.Unmarshal(data, &d); err != nil {
		return Data{}, errors.Wrap(err, "parsing data file")
	}

	return d, nil
}

func importPublications(ctx context.Context, client *weaviate.Client) error {
	data, err := parseFile()
	if err != nil {
		return err
	}

	publicationObjects := []*models.Object{}
	for _, publication := range data.Publications {
		publicationObjects = append(publicationObjects, &models.Object{
			Class: "Publication",
			ID:    strfmt.UUID(publication.ID),
			Properties: map[string]interface{}{
				"name": publication.Name,
			},
			Vector: publication.Vector,
		})
	}

	batcher := client.Batch().ObjectsBatcher()
	for _, publicationObject := range publicationObjects {
		batcher.WithObject(publicationObject)
	}

	if resp, err := batcher.Do(ctx); err != nil {
		return errors.Wrap(err, "importing publications")
	} else if len(resp) != len(publicationObjects) {
		return errors.Wrap(err, "invalid number of imported publications")
	}

	return nil
}

type Data struct {
	Authors      []Author      `json:"authors"`
	Publications []Publication `json:"publications"`
}

type Author struct {
	ID            string    `json:"id"`
	Name          string    `json:"name"`
	Age           int32     `json:"age"`
	Born          string    `json:"born"`
	WonNobelPrize bool      `json:"wonNobelPrize"`
	Description   string    `json:"description"`
	Vector        []float32 `json:"vector"`
}

type Publication struct {
	ID     string    `json:"id"`
	Name   string    `json:"name"`
	Vector []float32 `json:"vector"`
}

{% endcapture %}

<!-- SET JAVA TAB CONTENT -->
{% capture java %}
package example;

import com.google.gson.Gson;
import technology.semi.weaviate.client.Config;
import technology.semi.weaviate.client.WeaviateClient;
import technology.semi.weaviate.client.base.Result;
import technology.semi.weaviate.client.v1.batch.api.ObjectsBatcher;
import technology.semi.weaviate.client.v1.batch.model.ObjectGetResponse;
import technology.semi.weaviate.client.v1.data.model.WeaviateObject;

import java.io.File;
import java.io.FileInputStream;
import java.io.FileNotFoundException;
import java.io.InputStreamReader;
import java.util.Arrays;
import java.util.HashMap;
import java.util.stream.Stream;

public class App {
  private final WeaviateClient client;

  public App() {
    Config config = new Config("https", "some-endpoint.semi.network/");
    client = new WeaviateClient(config);
  }

  public static void main(String[] args) throws FileNotFoundException {
    App app = new App();
    app.importPublications();
  }

  public void importPublications() throws FileNotFoundException {
    Data data = parseFile();

    Stream<WeaviateObject> publicationObjects = Arrays.stream(data.publications)
      .map(publication -> WeaviateObject.builder()
            .className("Publication")
            .id(publication.id)
            .properties(new HashMap<String, Object>() {{
              put("name", publication.name);
            }})
            .vector(publication.vector)
            .build()
      );

    ObjectsBatcher batcher = client.batch().objectsBatcher();
    publicationObjects.forEach(batcher::withObject);
    Result<ObjectGetResponse[]> result = batcher.run();

    if (result.hasErrors()) {
      System.out.println(result.getError());
      return;
    }
    Arrays.stream(result.getResult()).forEach(System.out::println);
  }

  private Data parseFile() throws FileNotFoundException {
    File jsonFile = new File("src/main/resources/data.json");
    InputStreamReader reader = new InputStreamReader(new FileInputStream(jsonFile));
    return new Gson().fromJson(reader, Data.class);
  }

  public static class Data {
    public Author[] authors;
    public Publication[] publications;
  }

  public static class Publication {
    public String id;
    public String name;
    public Float[] vector;
  }

  public static class Author {
    public String id;
    public String name;
    public Integer age;
    public String born;
    public Boolean wonNobelPrize;
    public String description;
    public Float[] vector;
  }
}

{% endcapture %}

<!-- SET CURL TAB CONTENT -->
{% capture curl %}
$ curl \
-X POST \
-H "Content-Type: application/json" \
-d '{
  "objects": [{
    "id": "32d5a368-ace8-3bb7-ade7-9f7ff03eddb6",
    "class": "Publication",
    "properties": {
        "name": "The New York Times"
    },
    "vector": [
        -0.0030892247,
        0.17440806,
        0.024489688
    ]
  }, {
      "id": "f564113e-11e2-11ed-861d-0242ac120002",
      "class": "Author",
      "properties": {
          "name": "Paul Krugman",
          "age": 69,
          "born": "1953-02-28T00:00:00.0Z",
          "wonNobelPrize": true,
          "description": "Paul Robin Krugman is an American economist [...] New Economic Geography."
      },
      "vector": [
          -0.16147631,
          -0.065765485,
          -0.06546908
      ]
  }]
}' \
https://some-endpoint.semi.network/v1/batch/objects
{% endcapture %}

{% include molecule-restful-block-request.html block_id='getting-started-import-publications' %}
