<!-- SET GRAPHQL TAB CONTENT -->
{% capture graphql %}
{
  Aggregate {
    Article (groupBy:["isAccessible"]) {
      meta {
        count
      }
      wordCount {
        mean
      }
      groupedBy {
        value
        path
      }
    }
  }
}
{% endcapture %}

<!-- SET PYTHON TAB CONTENT -->
{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

result = client.query.aggregate("Article") \
    .with_group_by_filter(["isAccessible"]) \
    .with_fields('meta { count }') \
    .with_fields("wordCount {count maximum mean median minimum mode sum type}") \
    .do()

print(result)
{% endcapture %}

<!-- SET JAVASCRIPT TAB CONTENT -->
{% capture javascript %}
// this query currently gives an inconsistent result from a plain graphql query, see https://github.com/semi-technologies/weaviate-javascript-client/issues/8

const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

client.graphql
      .aggregate()
      .withClassName('Article')
      .withGroupBy(["isAccessible"])
      .withFields('meta { count } wordCount {mean} groupedBy {value path}')
      .do()
      .then(res => {
        console.log(res)
      })
      .catch(err => {
        console.error(err)
      });
{% endcapture %}

<!-- SET GO TAB CONTENT -->
{% capture go %}
package main

import (
  "context"
  "fmt"

  "github.com/semi-technologies/weaviate-go-client/v4/weaviate"
  "github.com/semi-technologies/weaviate-go-client/v4/weaviate/graphql"
)

func main() {

  cfg := weaviate.Config{
    Host:   "localhost:8080",
    Scheme: "http",
  }
  client := weaviate.New(cfg)
  meta := graphql.Field{
    Name: "meta", Fields: []graphql.Field{
      {Name: "count"},
    },
  }
  wordCount := graphql.Field{
    Name: "wordCount", Fields: []graphql.Field{
      {Name: "mean"},
    },
  }
  groupedBy := graphql.Field{
    Name: "groupedBy", Fields: []graphql.Field{
      {Name: "value"},
      {Name: "path"},
    },
  }

  result, err := client.GraphQL().Aggregate().
    WithFields(meta, wordCount, groupedBy).
    WithClassName("Article").
    WithGroupBy("isAccessible").
    Do(context.Background())
  if err != nil {
    panic(err)
  }
  fmt.Printf("%v", result)
}
{% endcapture %}

<!-- SET JAVA TAB CONTENT -->
{% capture java %}

Config config = new Config("http", "localhost:8080");
WeaviateClient client = new WeaviateClient(config);
Field meta = Field.builder()
            .name("meta")
            .fields(new Field[]{
                Field.builder().name("count").build()
            }).build();
Field wordCount = Field.builder()
            .name("wordCount")
            .fields(new Field[]{
                Field.builder().name("mean").build()
            }).build();
Field groupedBy = Field.builder()
            .name("groupedBy")
            .fields(new Field[]{
                Field.builder().name("value").build(),
                Field.builder().name("path").build()
            }).build();
Fields fields = Fields.builder()
            .fields(new Field[]{meta, wordCount, groupedBy})
            .build();
Result<GraphQLResponse> result = client.graphQL().aggregate()
            .withClassName("Article")
            .withFields(fields)
            .withGroupBy("isAccessible")
            .run();
if (result.hasErrors()) {
  System.out.println(result.getError());
  return;
}
System.out.println(result.getResult());

{% endcapture %}

<!-- SET CURL TAB CONTENT -->
{% capture curl %}
$ echo '{ 
  "query": "{
    Aggregate {
      Article(groupBy: [\"isAccessible\"]) {
        meta {
          count
        }
        wordCount {
          mean
        }
        groupedBy {
          value
          path
        }
      }
    }
  }"
}' | curl \
  -X POST \
  -H 'Content-Type: application/json' \
  -d @- \
  http://localhost:8080/v1/graphql
{% endcapture %}

<!-- SET BLOCK_ID TO A UNIQUE ID, OFTEN THIS IS = TO THE FILENAME WHERE . == - -->
{% include molecule-graphql-block-request.html block_id='graphql-aggregate-groupby' %}
