<!-- SET GRAPHQL TAB CONTENT -->
{% capture graphql %}
{
  Get{
    Article(
      nearText: {
        concepts: ["traveling in Asia"],
        certainty: 0.7,
        moveTo: {
          objects: [{
            # this ID is of the article:
            # "Tohoku: A Japan destination for all seasons."
            id: "2faf2b7d-f185-30c0-8c80-a01b7cfeefb4"
          }]
          force: 0.85
        }
      }
    ){
      title
      summary
      _additional {
        certainty
      }
    }
  }
}
{% endcapture %}

<!-- SET PYTHON TAB CONTENT -->
{% capture python %}

TODO

{% endcapture %}

<!-- SET JAVASCRIPT TAB CONTENT -->
{% capture javascript %}

TODO

{% endcapture %}

<!-- SET GO TAB CONTENT -->
{% capture go %}

TODO 

{% endcapture %}

<!-- SET JAVA TAB CONTENT -->
{% capture java %}

TODO

{% endcapture %}

<!-- SET CURL TAB CONTENT -->
{% capture curl %}
$ echo '{
  Get{
    Article(
      nearText: {
        concepts: [\"traveling in Asia\"],
        certainty: 0.7,
        moveTo: {
          objects: [{
            # this ID is of the article:
            # "Tohoku: A Japan destination for all seasons."
            id: \"2faf2b7d-f185-30c0-8c80-a01b7cfeefb4\"
          }]
          force: 0.85
        }
      }
    ){
      title
      summary
      _additional {
        certainty
      }
    }
  }
}' | curl \
    -X POST \
    -H 'Content-Type: application/json' \
    -d @- \
    http://localhost:8080/v1/graphql
{% endcapture %}

<!-- SET BLOCK_ID TO A UNIQUE ID, OFTEN THIS IS = TO THE FILENAME WHERE . == - -->
{% include molecule-graphql-block-request.html block_id='graphql-filters-neartext-2obj' %}
