{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

client.schema.get_class_shards('Article')
{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

client.schema
  .shardsGetter()
  .withClassName("Article")
  .do()
{% endcapture %}

{% capture go %}
package main

import (
  "context"
  "fmt"

  "github.com/semi-technologies/weaviate-go-client/v4/weaviate"
)

func main() {
  cfg := weaviate.Config{
    Host:   "localhost:8080",
    Scheme: "http",
  }
  client := weaviate.New(cfg)
  shards, err := client.Schema().
    ShardsGetter().
    WithClassName("Article").
    Do(context.Background())
  if err != nil {
    panic(err)
  }
  fmt.Printf("%v", shards)
}
{% endcapture %}

{% capture java %}

Config config = new Config("http", "localhost:8080");
WeaviateClient client = new WeaviateClient(config);

Result<Shard[]> result = client.schema()
  .shardsGetter()
  .withClassName("Article")
  .run()
if (result.hasErrors()) {
  System.out.println(result.getError());
  return;
}
System.out.println(result.getResult());

{% endcapture %}


{% capture curl %}
$ curl \
    http://localhost:8080/v1/schema/Article/shards
{% endcapture %}

{% include molecule-restful-block-request.html block_id='schema-shards-get' %}
