{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

client.data_object.delete("36ddd591-2dee-4e7e-a3cc-eb86d30a4303")
{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

client.data
      .deleter()
      .withId('36ddd591-2dee-4e7e-a3cc-eb86d30a4303')
      .do()
      .then(res => {
          console.log(res)
      })
      .catch(err => {
          console.error(err)
      });
{% endcapture %}

{% capture go %}
package main

import (
	"context"
	"fmt"
	"github.com/semi-technologies/weaviate-go-client/v2/weaviate"
)

cfg := weaviate.Config{
  Host:   "localhost:8080",
  Scheme: "http",
}
client := weaviate.New(cfg)

err := client.Data().Deleter().
  WithID("36ddd591-2dee-4e7e-a3cc-eb86d30a4303").
  Do(context.Background())

if err != nil {
  panic(err)
}
{% endcapture %}

<!-- SET JAVA TAB CONTENT -->
{% capture java %}

Config config = new Config("http", "localhost:8080");
WeaviateClient client = new WeaviateClient(config);

Result<Boolean> result = client.data().deleter()
    .withID("36ddd591-2dee-4e7e-a3cc-eb86d30a4303")
    .run();

if (result.hasErrors()) {
  System.out.println(result.getError());
  return;
}
System.out.println(result.getResult());

{% endcapture %}

{% capture curl %}
$ curl -X DELETE http://localhost:8080/v1/objects/36ddd591-2dee-4e7e-a3cc-eb86d30a4303
{% endcapture %}

{% include molecule-restful-block-request.html block_id='semantic-kind-object-delete' %}