{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

client.data_object.reference.add("36ddd591-2dee-4e7e-a3cc-eb86d30a4303",
    "wroteArticles", "6bb06a43-e7f0-393e-9ecf-3c0f4e129064")
{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

client.data
      .referenceCreator()
      .withId("36ddd591-2dee-4e7e-a3cc-eb86d30a4303")
      .withReferenceProperty('wroteArticles')
      .withReference(
        client.data
          .referencePayloadBuilder()
          .withId("6bb06a43-e7f0-393e-9ecf-3c0f4e129064")
          .payload(),
      )
      .do()
      .then(res => {
          console.log(res)
      })
      .catch(err => {
          console.error(err)
      });
{% endcapture %}

{% capture go %}
package main

import (
	"context"
	"fmt"
	"github.com/semi-technologies/weaviate-go-client/v2/weaviate"
)

cfg := weaviate.Config{
    Host:   "localhost:8080",
    Scheme: "http",
}
client := weaviate.New(cfg)

reference := client.Data().ReferencePayloadBuilder().WithID("6bb06a43-e7f0-393e-9ecf-3c0f4e129064").Payload()

err := client.Data().ReferenceCreator().
    WithID("36ddd591-2dee-4e7e-a3cc-eb86d30a4303").
    WithReferenceProperty("wroteArticles").
    WithReference(reference).
    Do(context.Background())

if err != nil {
    panic(err)
}
{% endcapture %}

<!-- SET JAVA TAB CONTENT -->
{% capture java %}

Config config = new Config("http", "localhost:8080");
WeaviateClient client = new WeaviateClient(config);

SingleRef reference = client.data().referencePayloadBuilder().withID("6bb06a43-e7f0-393e-9ecf-3c0f4e129064").payload();

Result<Boolean> result = client.data().referenceCreator()
            .withID("36ddd591-2dee-4e7e-a3cc-eb86d30a4303")
            .withReferenceProperty("wroteArticles")
            .withReference(reference)
            .run();

if (result.hasErrors()) {
  System.out.println(result.getError());
  return;
}
System.out.println(result.getResult());

{% endcapture %}

{% capture curl %}
$ curl \
    -X POST \
    -H "Content-Type: application/json" \
    -d '{
      "beacon": "weaviate://localhost/6bb06a43-e7f0-393e-9ecf-3c0f4e129064"
      }
  }' \
    http://localhost:8080/v1/objects/36ddd591-2dee-4e7e-a3cc-eb86d30a4303/references/wroteArticles{% endcapture %}

{% include molecule-restful-block-request.html block_id='semantic-kind-object-reference-add' %}