{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

data_obj = {
    "foo": "bar"
}

client.data_object.create(
  data_obj, 
  "YourClass", 
  "36ddd591-2dee-4e7e-a3cc-eb86d30a0923",
  vector = [0.3, 0.2, 0.1, .... 0.9], # supported types are `list`, 'numpy.ndarray`, `torch.Tensor` and `tf.Tensor`. Make sure the length matches with your Weaviate settings.
)
{% endcapture %}

{% capture javascript %}
// creating a data object with custom vectors will be supporting in the JS client soon! For now, please use a workaround using the RESTapi (see curl tab).
{% endcapture %}

{% capture go %}
// creating a data object with custom vectors will be supporting in the GO client soon! For now, please use a workaround using the RESTapi (see curl tab).
{% endcapture %}

<!-- SET JAVA TAB CONTENT -->
{% capture java %}
// creating a data object with custom vectors will be supporting in the Java client soon! For now, please use a workaround using the RESTapi (see curl tab).
{% endcapture %}

{% capture curl %}
$ curl \
    -X POST \
    -H "Content-Type: application/json" \
    -d '{
      "class": "YourClass",
      "vector": [0.3, 0.2, 0.1, .... 0.9],
      "properties": {
          "foo": "bar",
      }
  }' \
    http://localhost:8080/v1/objects
{% endcapture %}

{% include molecule-restful-block-request.html block_id='semantic-kind-create-vector' %}
