{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

all_objects = client.data_object.get()
print(all_objects)
{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

client
    .data
    .getter()
    .withLimit(2)
    .do()
    .then(res => {
        console.log(res)
    })
    .catch(err => {
        console.error(err)
    });
{% endcapture %}

{% capture go %}
package main

import (
    "context"
    "fmt"

    "github.com/semi-technologies/weaviate-go-client/v4/weaviate"
)

func main() {
    cfg := weaviate.Config{
        Host:   "localhost:8080",
        Scheme: "http",
    }
    client := weaviate.New(cfg)

    data, err := client.Data().ObjectsGetter().
        WithAdditional("classification").
        Do(context.Background())

    if err != nil {
        panic(err)
    }
    fmt.Printf("%v", data)
}
{% endcapture %}

<!-- SET JAVA TAB CONTENT -->
{% capture java %}

Config config = new Config("http", "localhost:8080");
WeaviateClient client = new WeaviateClient(config);

Result<List<WeaviateObject>> result = client.data().objectsGetter()
            .withAdditional("classification")
            .run();

if (result.hasErrors()) {
  System.out.println(result.getError());
  return;
}
System.out.println(result.getResult());

{% endcapture %}

{% capture curl %}
$ curl http://localhost:8080/v1/objects?limit=2&include=classification
{% endcapture %}

{% include molecule-restful-block-request.html block_id='semantic-kind-get' %}