{% capture python %}
import weaviate

client = weaviate.Client("http://localhost:8080")

open_id_configuration = client.get_open_id_configuration()
print(open_id_configuration)

{% endcapture %}

{% capture javascript %}
const weaviate = require("weaviate-client");

const client = weaviate.client({
  scheme: 'http',
  host: 'localhost:8080',
});

client.misc
      .openidConfigurationGetter()
      .do()
      .then(res => {
        console.log(res);
      })
      .catch(err => {
        console.error(err)
      });
{% endcapture %}

{% capture go %}
package main

import (
  "context"
  "fmt"

  "github.com/semi-technologies/weaviate-go-client/v4/weaviate"
)

func main() {
  cfg := weaviate.Config{
    Host:   "localhost:8080",
    Scheme: "http",
  }
  client := weaviate.New(cfg)

  openIDConfig, err := client.Misc().OpenIDConfigurationGetter().Do(context.Background())
  if err != nil {
    panic(err)
  }
  fmt.Printf("%v", openIDConfig)
}
{% endcapture %}

<!-- SET JAVA TAB CONTENT -->
{% capture java %}

Config config = new Config("http", "localhost:8080");
WeaviateClient client = new WeaviateClient(config);

Result<OpenIDConfiguration> result = client.misc().openIDConfigGetter().run();

if (result.hasErrors()) {
  System.out.println(result.getError());
  return;
}
System.out.println(result.getResult());

{% endcapture %}

{% capture curl %}
$ curl http://localhost:8080/v1/.well-known/openid-configuration
{% endcapture %}

{% include molecule-restful-block-request.html block_id='wellknown-openid-configuration' %}