.jobBoard {
  background: rgb(245, 245, 245);
  background: -moz-linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(237, 237, 237, 1) 50%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(237, 237, 237, 1) 50%,
    rgba(237, 237, 237, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(237, 237, 237, 1) 50%,
    rgba(237, 237, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f5",endColorstr="#ededed",GradientType=1);
}

.title {
  text-align: center;
  padding: 1rem 0 2rem 0;
  max-width: 26rem;
  margin: auto;
  margin-bottom: 2rem;
}

.titleFooter {
  text-align: center;
  max-width: 26rem;
  margin: auto;
}

.jobBox {
  width: 90%;
  margin: auto;
  border-radius: 8px;

  background-color: #141f39;
}

.fakeWidth {
  min-height: 20rem;
}

.jobHeader {
  display: grid;
  grid-template-columns: 5fr 3fr 1fr;
  padding: 1.5rem;
  border-bottom: 1px solid forestgreen;

  @media screen and (max-width: 860px) {
    // grid-template-columns: 1fr;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.jobContent {
  display: grid;
  grid-template-columns: 5fr 3fr 1fr;
  padding: 2rem 1.5rem;
  color: var(--ifm-heading-color);

  text-decoration: none;
  cursor: pointer;

  p {
    font-size: 1rem;
  }

  @media screen and (max-width: 860px) {
    grid-template-columns: 1fr;
  }
}

a:hover {
  text-decoration: none;
}

.removeInMobile {
  @media screen and (max-width: 860px) {
    display: none;
  }
}

.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 860px) {
    flex-direction: column;
  }

  a {
    height: 45px;
    width: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }
}

.buttonOutline {
  transition: all 1s ease-out;

  border-radius: 0.3125rem;
  border: 1px solid #1c1468;
  background: #1c1468;
  color: #fff;
  font-weight: 400;
  width: 178px;
}
.buttonOutline:hover {
  outline: 1px solid #130c49;
  background-color: white;
  color: #1c1468;
}

[data-theme='light'] {
  .title {
    p {
      color: #1c1468;
    }

    h2 {
      color: #1c1468;
    }
  }

  .jobBox {
    background-color: #fff;
    border-radius: 0.3125rem;

    box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.04);
  }
}

.pagination {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.paginationButtons {
  padding: 2rem 1.5rem;
  cursor: pointer;
}

.departmentSelect {
  font-size: 1.2rem;

  margin-top: 4px;
}
