.links {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

[data-theme='light'] {
  .links {
    a {
      color: #01b0db;
    }
  }
}
