[data-theme='light'] {
  .logo {
    background-image: url('/img/site/weaviate-logo-light.png');
    height: 100px;
  }
}
.logo {
  width: 100%;
  background-position-x: center;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/img/site/weaviate-logo-dark.png');
}

.title {
  text-align: center;
}

.links {
  text-align: center;
  .color {
    color: #01b0db;
  }
}

[data-theme='light'] {
  .links {
    .color {
      color: --ifm-link-color;
    }
  }
}
