.rightText {
  margin: 0 0 22px;
}

.mobileSocialBox {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 7px;
    align-content: center;
    justify-content: space-around;
  }
}

.communityForm {
  display: flex;
  flex-direction: column;
  width: inherit;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 20px;
    width: 100%;
  }
}

.communityButton {
  border-radius: 0.3125rem;
  background: #61bd73;
  width: 10.0625rem;
  height: 2.625rem;
  flex-shrink: 0;
  border-style: none;
  margin-left: -158px;

  @media screen and (max-width: 768px) {
    margin-left: unset;
  }
}

.subscribeInput {
  width: 31.25rem;
  height: 2.625rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #1c1468;
  border-style: none;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.subscribeInput::placeholder {
  color: #c3c5d8 !important;

  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 144.9%; /* 1.449rem */
  letter-spacing: -0.01rem;
}
.communityContainer {
  padding: 50px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #130c49;
  margin: 20px auto;
  justify-content: center;
  width: 64.875rem;
  height: 29.125rem;
  border-radius: 0.9375rem;
  background: rgba(255, 255, 255, 0.6);

  h2 {
    color: #130c49;
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    display: flex;
    align-content: flex-start;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
}
.rightSide {
  display: flex;
  gap: 50px;
  width: 22rem;
  height: 100%;
  flex-flow: wrap;
  padding: 50px;

  @media screen and (max-width: 520px) {
    display: flex;
    width: 26rem;
    height: 22rem;
    flex-flow: wrap;
    gap: 12px;
    padding: 50px;
  }
}
.leftSide {
  display: flex;
  width: 31rem;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    flex-wrap: nowrap;
  }

  .communityHeader {
    color: #ffffff;
    padding: 0;
  }
}
.socialBox {
  display: flex;
  flex-direction: column;

  width: 6.07219rem;
  height: 6.07219rem;
  margin: auto;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 500px) {
    width: 9.38156rem;
    height: 3.875rem;
    flex-shrink: 0;
    margin-bottom: 90px;
  }

  .slack {
    display: flex;
    width: 6.07219rem;
    height: 6.07219rem;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/site/slack-circle-icon.svg');
  }
  .text {
    text-align: center;
    color: #130c49;
    padding-left: 0px;
  }

  .github {
    display: flex;
    width: 6.07219rem;
    height: 6.07219rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/site/github-circle-icon.svg');
  }
  .twitter {
    display: flex;
    width: 6.07219rem;
    height: 6.07219rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/site/x-circle-icon.svg');
  }

  .forum {
    display: flex;
    width: 6.07219rem;
    height: 6.07219rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/site/weaviate-circle-icon.svg');
  }
}

.sc-VigVT.dbVBAB {
  background: #61bd73 !important;
  color: #1c1468;
}

.formFooter {
  margin-top: -80px;

  @media screen and (max-width: 768px) {
    margin-top: -85px;
  }
}
