.bgCol {
  background: #ecf4f8;
}

.header {
  width: 70%;
  margin: 30px 0px;

  p {
    color: #130c49;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.57331rem */
  }
  @media screen and (max-width: 950px) {
    width: 100%;
  }

  @media screen and (max-width: 750px) {
    br {
      display: none;
    }
  }
}

.box {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  text-align: left;
  margin-bottom: 40px;
  flex: 1;

  h1 {
    color: #130c49;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  span {
    color: #130c49;
    font-family: 'Plus Jakarta Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  p {
    color: #130c49;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 2.1rem */
  }
}

.exampleBox {
  border-radius: 0.93325rem;
  border: 0.747px solid #0073b4;
  background: #262262;
  width: 26.50388rem;
  height: 23.9375rem;
  flex: 1;
}

.boxContainer {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1100px) {
    display: flex;
    gap: 14px;
    flex-direction: column;
  }
}

.typeContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 30px;
}

.typeBox {
  max-width: 37.25rem;
  width: 100%;
  height: 19.5rem;
  border-radius: 0.625rem;
  background: #fff;
  padding: 20px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 1440px) {
    max-width: 100%;
    gap: 10px;
    justify-content: unset;
    height: auto;
  }

  @media screen and (max-width: 500px) {
    justify-content: stretch;
  }
}

.tall {
  @media screen and (max-width: 600px) {
    height: auto;
  }

  @media screen and (max-width: 450px) {
    height: auto;
  }
}

.big {
  max-width: 37.25rem;
  width: 100%;
  height: 22.9375rem;
  flex: 1;
}

.typeIcon {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: row;

  .homeIcon {
    background-image: url('/img/site/learn-intergrate-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.3125rem;
    height: 2.3125rem;
    flex-shrink: 0;
  }

  .starter {
    background-image: url('/img/site/learn-starter-icon.svg');
  }

  .howtos {
    background-image: url('/img/site/learn-howto-icon.svg');
  }

  .references {
    background-image: url('/img/site/learn-references-icon.svg');
  }

  h2 {
    color: #130c49;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 175.9%;
  }
}

.ragIcon {
  background-image: url('/img/site/homepage-rag-icon.svg');
}
.genIcon {
  background-image: url('/img/site/homepage-gen-icon.svg');
}

.typeText {
  display: flex;
  flex-direction: column;
  height: 230px;
  gap: 12px;
  justify-content: space-evenly;

  @media screen and (max-width: 1440px) {
    gap: 6px;
    height: auto;
  }

  p {
    color: #130c49;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.57331rem */
  }
  a {
    color: #61bd73;

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.37663rem */
    text-decoration-line: underline;
  }
}

.integrations {
  display: flex;
  flex-direction: column;
  height: 120px;
  flex-wrap: wrap;

  p {
    font-weight: 900;
  }
}

.large {
  height: 270px;
  justify-content: space-between;
}

.serviceBox {
  max-width: 76.6875rem;
  height: 33.75rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #130c49;
  margin: 36px auto;
  display: flex;

  gap: 32px;
}

.serviceText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 74px;

  @media screen and (max-width: 800px) {
    padding: 25px;
  }

  h2 {
    color: #fff;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3rem */

    @media screen and (max-width: 800px) {
      font-size: 2rem;
    }
  }

  span {
    color: #61bb73;

    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.875rem */
    text-transform: uppercase;
  }

  p {
    color: #fff;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.25rem */

    @media screen and (max-width: 800px) {
      font-size: 1.2rem;
    }
  }

  .buttonGradient,
  .buttonGradient:hover {
    border-radius: 0.375rem;
    background: #61bd73;
    color: #130c49;
  }
}

.serviceIcon {
  background-image: url('/img/site/neople-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 10rem;
  height: 10rem;
}

.serviceImage {
  background-image: url('/img/site/case-study-background.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 73.125rem;
  height: 39.8125rem;

  @media screen and (max-width: 800px) {
    display: none;
  }
}
