.introBg {
  background: #130c49;
  color: white;

  h2 {
    color: white;
  }
}

.grid {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  align-items: center;

  @media screen and (max-width: 850px) {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
}

.textGrid {
  padding: 0 4rem;
  margin-top: 8rem;

  .head {
    color: #fff;
  }

  h2 {
    margin-bottom: 2rem;
    color: #61bd73;
    font-family: 'Plus Jakarta Sans';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 157.33%;
  }

  p {
    margin-bottom: 1rem;
    color: #fff;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.57331rem */
  }

  @media screen and (max-width: 850px) {
    padding: 0 1.5rem;
  }
}

.imgGridMiddle {
  margin-top: 3rem;
}

.img1 {
  background-image: url('../../../../static/img/site/community-program-01.svg');
  width: 100%;
  height: 22rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}

.img2 {
  background-image: url('../../../../static/img/site/community-program-02.svg');
  width: 100%;
  height: 16rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}

.img3 {
  background-image: url('../../../../static/img/site/community-program-03.svg');
  width: 100%;
  height: 16rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}

.img4 {
  background-image: url('../../../../static/img/site/community-program-04.svg');
  width: 100%;
  height: 22rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0px 0px 0px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    background: #61bd73;
    transition: all 1s ease-out;
    color: #130c49;
    width: 10.0625rem;
    height: 2.625rem;
    flex-shrink: 0;
  }

  .buttonGradient:hover {
    border-radius: 0.3125rem;
    border: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
  }
}
