// for big screens - display blog previews in 2 columns
@media (min-width:996px) {
  .blog-list-page {
    main {
      margin: 0;
    }
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
      row-gap: 0px;
    }

    // aside {
      // --ifm-col-width: calc(2 / 12 * 100%);
      // display: none;
    // }

    .container .row main {
      // --ifm-col-width: calc(10 / 12 * 100%);
      --ifm-col-width: 100%;
    }

    // header div div div.avatar {
    //   display: none;
    // }
    // header h2 {
    //   font-size: larger;
    // }
  }
}
.blog-list-page {
  header, footer {
    display: none;
  }
}

// Layout for each blog item
// .blog-list-page {
//   article {
//     display: grid;
//     grid-template-areas:
//     "content content"
//     "mid read";

//     div.markdown {
//       grid-area: content;
//       padding-bottom: 10px;
//     }
//     header {
//       grid-area: mid;

//       // Built-in article title
//       h2:first-child {
//         display: none;
//       }
//       // Built-in list of authors
//       div:first-of-type {
//         margin: 0;
//       }
//     }
//     footer {
//       grid-area: read;
//       margin: 0px;
//     }

//     footer {
//       // display: none;
//       margin: 0;
//     }

//   }
// }