@import 'variables.scss';
.highlight {
  color: var(--site-font-accent-color);
}

.text-center {
  text-align: center;
}

// fonticon links
a {
  .fab, .fas, .far {
    color: var(--site-link-font-color);
  }
}
