@use 'variables.scss' as *;

:root {
  .custom-page {
    --ifm-heading-font-family: var(--site-font-fun-heading-family) !important;
    --ifm-font-family-base: var(--site-font-fun-base-family) !important;
  }
}

.highlight {
  color: var(--site-font-accent-color);
}

.text-center {
  text-align: center;
}

// fonticon links
a {
  .fab,
  .fas,
  .far {
    color: var(--site-link-font-color);
  }
}

.page-title {
  font-family: var(--site-font-fun-heading-family) !important;
}

.subprocessors {
  color: #130c49;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 80%;
  margin: auto;

  @media screen and (max-width: 900px) {
    width: 100%;

    table {
      width: 100%;
    }
  }
}
