//********************* Shared colour variables *********************
:root {
  --site-light-color: #ffe3ec;
}

//********************* Themed colour variables *********************
[data-theme="light"] {
  --site-base-color: #1c1468;
  --site-base-color-shade: #2c3854;

  --site-primary: #00a142;
  --site-primary-dark: #00c342;
  --site-accent: #fc3988;
  --site-accent-dark: #fb0b6d;

  --site-background: #f5f5f5;

  --site-font-main-color: #1c1468;
  --site-font-header-color: #2c3854;
  --site-font-accent-color: #00a142;
  --site-font-link-color: #00a142;

  --docs-base-color: #000000;
  --docs-header-color: #130c49;
  --docs-sidebar-bg: #ffffff;
  --docs-body-bg: #ffffff;
}
[data-theme="dark"] {
  --site-base-color: #edf4ff;
  --site-base-color-shade: #b9c8de;

  --site-primary: #63e689;
  --site-primary-dark: #4fd676;

  --site-accent: #26d6ff;
  --site-accent-dark: #00b7e2;

  --site-background: #111111;

  --site-font-main-color: #b9c8de;
  --site-font-header-color: #edf4ff;
  --site-font-accent-color: #63e689;
  --site-font-link-color: #63e689;

  --docs-base-color: #b9c8de;
  --docs-header-color: #edf4ff;
  --docs-sidebar-bg: #121722;
  --docs-body-bg: #111111;
}

//********************* FONTS *********************
@font-face {
  font-family: "FredokaOneRegular";
  src: url("/fonts/FredokaOne-Regular.ttf");
}

@font-face {
  font-family: "NiramitRegular";
  src: url("/fonts/Niramit-Regular.ttf");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf");
}

:root {
  --site-font-base-family:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --site-font-heading-family:
    "Plus Jakarta Sans", ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  --site-font-fun-heading-family: "Plus Jakarta Sans";
  --site-font-fun-base-family: "Inter";
}
