@use "../../../variables.scss" as v;

.calculatorButton {
  display: flex;
  width: 100%;
  min-width: 80px;
  height: 44px;
  text-transform: capitalize;
  font-weight: 700;
  overflow: hidden;
  font-size: 1.1em;
  padding: 2px 0px; // Keep the button accesible in size.

  &.dropdown {
    font-size: 0.9em;

    > div {
      background-color: v.$white;
      align-items: flex-start;
      background-image: url("/img/pricing/chevronDown.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 20px) center;
      color: v.$mainColor;
      border-color: v.$deselectedButtonBorder;
    }
  }

  > div {
    height: 100%;
    padding: 0 v.$space;
    border: 1px solid v.$deselectedButtonBorder;
    border-radius: calc(v.$space / 2);
    background-color: v.$deselectedButtonBg;
    color: v.$deselectedButtonText;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: v.$transition;
  }

  &.active {
    > div {
      background: v.$mainColor;
      color: v.$white;
      border-color: v.$mainColor;
    }
  }

  &:hover,
  &:focus {
    > div {
      background-color: lighten(#fff, 3%);
      color: v.$mainColor;
    }

    &.active {
      > div {
        background: v.$mainColor;
        color: v.$white;
      }
    }

    &.dropdown {
      > div {
        border-color: v.$deselectedButtonBorder;
        color: v.$mainColor;
      }
    }
  }
}
