.calculatorButton {
  display: flex;
  width: 100%;
  min-width: 80px;
  height: 44px;
  text-transform: capitalize;
  font-weight: 700;
  overflow: hidden;
  font-size: 1.1em;
  padding: 2px 0px; // Keep the button accesible in size.

  &.dropdown {
    font-size: 0.9em;
    
    > div { 
      background-color: $white;
      align-items: flex-start; 
      background-image: url('/img/pricing/chevronDown.svg');
      background-repeat: no-repeat;
      background-position: calc(100% - 20px) center;
      color: $mainColor;
      border-color: $deselectedButtonBorder;
    }
  }

  > div {
    height: 100%;
    padding: 0 $space;
    border: 1px solid $deselectedButtonBorder;
    border-radius: calc($space / 2);
    background-color: $deselectedButtonBg;
    color: $deselectedButtonText;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: $transition;
  }

  &.active {
    > div { background: $mainColor; color: $white; border-color: $mainColor; }
  }
  
  &:hover, &:focus {
    > div {
      background-color: lighten($white, 3%) ;
      color: $mainColor;
    }

    &.active {
      > div { background: $mainColor; color: $white; }
    }

    &.dropdown {
      > div {
        border-color: $deselectedButtonBorder;
        color: $mainColor;
      }
    }
  }
}
