
pre {
    display: block;
    overflow-x: auto;
    background: rgb(19, 12, 73) !important;
    color: rgb(192, 197, 206);
    padding: 1.5em 0em 2em 0.5em;
    width: 100%;
    font-size: 14px;

}

.linkRight{

    margin-left:auto;
}


.codeSnip{


    display: flex;
    border-radius: 0.9375rem;
    border: 1px solid #0073B4;
    background: #130C49;
    box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.04);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.copyButton{


    border-radius: 0.3125rem;
    border: 1px solid #0073B4;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 157.33%;
    background: none;
    margin: auto 10px 4px auto;
}

