.boxGrid {
  --auto-grid-min-size: 22rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 2rem;
  p {
    font-size: 1rem;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 600px) {
    margin-top: 100px;
  }
}
.buttons {
  div {
    height: 45px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .buttonOutline {
    outline: 1px solid #130c49;
    transition: all 1s ease-out;
  }
  .buttonOutline:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
    font-weight: 400;
  }
}

[data-theme='light'] {
  .buttonOutline {
    color: rgba(46, 49, 143);
  }
}

.partnerBG {
  background: #130c49;
}

.buttonGradient {
  border-radius: 0.3125rem;
  background-color: #61bd73;
  color: rgb(19 12 73);
  font-weight: 400;
  transition: all 1s ease-out;
}

.buttonGradient:hover {
  outline: 1px solid rgb(15, 0, 50);
  background: rgb(15, 0, 50);
  color: #fff;
}

.dialogBox {
  width: 64.79469rem;
  height: 21.25rem;
  border-radius: 0.1875rem;
  background: #ffffff;
  box-shadow: 0px 24px 64px 0px rgba(22, 27, 45, 0.1);
  margin-top: -160px;
  display: flex;

  @media screen and (max-width: 600px) {
    width: 100%;
    height: 25rem;
  }
}

.dialogBoxImage {
  width: 23rem;
  height: 21.25rem;
  background-color: #1b1464;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
  background-image: url('../../../../static/img/site/partnersDiagram.svg');

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.dialogBoxText {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;

  p {
    color: #130c49;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.57331rem */
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
