[data-theme='light'] {
  .box {
    .left {
      .inside {
        .logoAI {
          background-image: url('/img/site/openai-logo-light.png');
        }
        .logoH {
          background-image: url('/img/site/higgingface-logo-light.png');
        }
        .logoJ {
          background-image: url('/img/site/jina-logo-light.png');
        }
        .logoD {
          background-image: url('/img/site/deepset-logo-light.png');
        }
        .logoCo {
          background-image: url('/img/site/cohere-logo-light.png');
        }
        .logoW {
          background-image: url('/img/site/wp-solar-logo-light.png');
        }
      }
    }
  }
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (max-width: 580px) {
    flex-direction: column-reverse;
  }
  .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    justify-content: center;

    .inside {
      display: flex;
      @media screen and (max-width: 500px) {
        flex-direction: column;
        gap: 20px;
      }

      .logoAI {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/openai-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoH {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/higgingface-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoJ {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/jina-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoD {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/deepset-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoCo {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/cohere-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .logoW {
        width: 100%;
        height: 2rem;
        background-image: url('/img/site/wp-solar-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
