.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (max-width: 580px) {
    flex-direction: column-reverse;
  }
  .left {
    display: flex;
    flex: 1;
  }
  .right {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
