<div class="col-12 col-lg-3 col-xl-2 d-none d-lg-block px-lg-0 sidenav sidenav-end">
  <div class="my-7 my-lg-9 px-lg-7 border-start-lg border-gray-300">

    <!-- edit on GH -->
    <p>
      {% if page.url contains '.html' %}
        <a class="btn btn-info btn-xs mt-3" href="https://github.com/semi-technologies/weaviate-io/tree/main{{ page.url | replace:'.html','.md' }}" role="button" target="_blank">Edit on Github</a>
      {% else %}
        <a class="btn btn-info btn-xs mt-3" href="https://github.com/semi-technologies/weaviate-io/tree/main{{ page.url }}/index.md" role="button" target="_blank">Edit on Github</a>
      {% endif %}
    </p>
    
    <!-- Heading -->
    <h6 class="text-uppercase fw-bold">
      Table of Contents
    </h6>

    <!-- TOC -->
    {% if page.toc == true %}
      {{ content | toc_only }}
    {% endif %}

  </div>
</div>