.logoSection {
  display: contents;

  @media screen and (max-width: 900px) {
    display: flex;
    overflow-x: hidden;
    column-gap: 20px;
    animation: scrollSideCustomers 40s linear infinite;
  }

  @keyframes scrollSideCustomers {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

.innerBar:hover {
  .logoSection,
  .mobileLogoSection {
    animation-play-state: paused;
  }
}

.mobileSection {
  display: none;
  @media screen and (max-width: 900px) {
    display: block;
  }
}

.mobileLogoSection {
  display: none;

  @media screen and (max-width: 900px) {
    display: flex;
    overflow-x: hidden;
    animation: scrollSideCustomers 30s linear infinite;

    @keyframes scrollSideCustomers {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 2rem 0 2rem 0;

  @media screen and (max-width: 950px) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.leftGrid {
  width: 100%;
  height: 24rem;

  @media screen and (max-width: 500px) {
    height: 32rem;
    padding: unset;
  }
}

.rightGrid {
  width: 100%;
  height: 24rem;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.bottomBar {
  height: 6rem;

  background: #130c49;

  @media screen and (max-width: 950px) {
    height: 11rem;
  }
}

.innerBar {
  height: 6em;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  /* gap: 10px; */
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
  max-width: var(--ifm-container-width-xl);

  @media screen and (max-width: 950px) {
    height: 11em;
    display: flex;
    margin: 0 auto;
    padding: 0 var(--ifm-spacing-horizontal);
    width: 100%;
    max-width: var(--ifm-container-width-xl);
    justify-items: left;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    white-space: nowrap;
    overflow: hidden;
  }
}

.innerBar > p {
  text-align: left;
  padding: 20px 0;
  color: #ffffff;
  width: 200px;

  @media screen and (max-width: 950px) {
    text-align: left;
    padding: 20px 0;
    color: #ffffff;
    grid-column: 1 / span 2;
    width: auto;
  }
}

.customerLogo {
  background-image: url('/img/site/redhat-logo.svg');

  background-size: contain;
  background-repeat: no-repeat;

  width: 8rem;
  height: 3rem;
  margin: 0px 10px;

  @media screen and (max-width: 950px) {
    grid-row: 1;
    grid-column: auto;
  }
}

.redhatLogo {
  background-image: url('/img/site/redhat-logo.svg');
  background-position: center;
}

.stackoverflowLogo {
  background-image: url('/img/site/stackoverflow-logo.svg');
  background-position: center;
  width: 9rem;
  height: 4rem;
}

.ericssonLogo {
  background-image: url('/img/site/ericsson-logo.svg');
  background-position: center;
}
.tyroLogo {
  background-image: url('/img/site/tyro_logo.png');
  background-position: center;
}

.replicatedLogo {
  background-image: url('/img/site/replicated_logo.png');
  background-position: center;
}

.hebbiaLogo {
  background-image: url('/img/site/hebbia_logo.png');
  background-position: center;
}

.presshookLogo {
  background-image: url('/img/site/presshook_logo.png');
  background-position: center;
}

.staircaseLogo {
  background-image: url('/img/site/staircase_logo.png');
  background-position: center;
}

.youLogo {
  background-image: url('/img/site/you-com.png');
  background-position: center;
}

.instabaseLogo {
  background-image: url('/img/site/instabase.png');
  background-position: center;
}

.title {
  font-size: 58px;
  font-weight: bold;
  line-height: 69.6px;

  margin-bottom: 1rem;

  @media screen and (max-width: 800px) {
    text-align: left;
    font-size: 53px;
  }
}

.text {
  max-width: 25em;

  @media screen and (max-width: 800px) {
    text-align: left;

    br {
      display: none;
    }
  }
}

.img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../../static/img/site/weaviate-home-diagram-dark.png');
}

.buttons {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 800px) {
    justify-content: left;
  }

  a {
    height: 45px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    color: rgba(46, 49, 143);
    font-weight: bold;
    transition: all 1s ease-out;
  }

  .buttonGradient:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
    font-weight: 400;
  }

  .buttonOutline {
    outline: 1px solid #20e220;
    font-weight: bold;
    color: #fff;
    transition: all 1s ease-out;
  }

  .buttonOutline:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(15, 0, 50);
    color: #fff;
    font-weight: 400;
  }
}

[data-theme='light'] {
  .img {
    background-image: url('../../../../static/img/site/weaviate-home-diagram-light.png');
  }

  .buttonGradient {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: #61bd73;
    color: #130c49;
    font-weight: 400;
  }

  .buttonOutline {
    font-weight: 400;
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    color: #130c49;
  }
}

.bottomBars {
  height: 10rem;
  display: flex;
  background: #130c49;
  flex-direction: row;
  gap: 80px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  .barText {
    color: #2fc514;
    font-family: Plus Jakarta Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 2.7rem */

    span {
      color: #fff;
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 157.33%; /* 1.57331rem */
    }
  }

  @media screen and (max-width: 800px) {
    overflow-x: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
}

.awsBanner {
  background-image: url('/img/site/weaviate-reinvent-aws-banner.png');
  background-size: cover;
  width: 100%;
  height: calc(260px + 0.9vw);

  @media screen and (max-width: 1600px) and (min-width: 800px) {
    background-image: url('/img/site/weaviate-reinvent-aws-banner.png');
    background-size: cover;
    width: 100%;
    height: calc(160px + 0.9vw);
  }

  @media screen and (max-width: 800px) and (min-width: 500px) {
    background-image: url('/img/site/weaviate-reinvent-aws-banner.png');
    background-size: cover;
    width: 100%;
    height: calc(94px + 3.1vw);
  }

  @media screen and (max-width: 500px) {
    background-image: url('/img/site/weaviate-reinvent-aws-banner-mobile.png');
    background-size: cover;
    width: 100%;
    height: 180px;
  }
}
