.pricingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
  }
}

.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;

  .label {
    width: 140px;
  }

  @media screen and (max-width: 668px) {
    flex-direction: column;
  }
}

.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #d5d5d5;
  touch-action: none;

  @media screen and (max-width: 668px) {
    display: flex;
    width: 100%;
  }
}

.rangeslider,
.rangeslider .rangeslider__fill {
  flex: 2;
  display: flex;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 40%);
}

.rangeslider-horizontal {
  height: 8px;
  border-radius: 10px;
}

.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: #01b0db;
  border-radius: 10px;
  top: 0;
}

.rangeslider,
.rangeslider .rangeslider__fill {
  display: block;
  box-shadow: inset 0 1px 3px rgb(0 0 0 / 40%);
}

.rangeslider-horizontal .rangeslider__handle {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.rangeslider .rangeslider__handle {
  background: #01b0db;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  box-shadow: 0 1px 3px rgb(0 0 0 / 40%), 0 -1px 3px rgb(0 0 0 / 40%);
}

[data-theme='dark'] {
  .rangeslider .rangeslider__handle {
    background: #00b800;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    box-shadow: 0 1px 3px rgb(0 0 0 / 40%), 0 -1px 3px rgb(0 0 0 / 40%);
  }

  .rangeslider-horizontal .rangeslider__fill {
    height: 100%;
    background-color: #00b800;
    border-radius: 10px;
    top: 0;
  }
}

.rangeslider__handle-tooltip {
  display: none;
}

.value {
  input {
    width: 140px;
    appearance: none;
    padding: 1rem;
    border: 1px solid #01b0db;
    background-color: transparent;
    border-radius: 12px;
    padding: 0.8125rem 1.25rem;
    &:focus-visible {
      outline: none;
    }
  }
}

.highAva {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.priceBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: 30px;
  }
  .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
