[data-theme='light'] {
  .box {
    background-image: url('/img/site/subscribe-light.jpg');
  }
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('/img/site/subscribe.jpg');
  width: 100%;
  height: 150px;
  padding: 50px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 2rem;
  @media screen and (max-width: 678px) {
    padding: 20px;
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (max-width: 400px) {
    padding: 10px;
  }
  .text {
    display: flex;
    flex: 1;
    flex-direction: column;
    @media screen and (max-width: 678px) {
      align-items: center;
    }
    span {
      color: var(--site-base-color);
      font-size: large;
    }
  }
  .iframe {
    flex: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50px;
  }
}
