.container {
  padding: 3rem;
  background: #ededed;

  @media screen and (max-width: 500px) {
    padding: 3rem 0rem;
  }
}

.title {
  text-align: center;
  padding: 1rem 0 2rem 0;
  margin: auto;

  h2 {
    color: #130c49;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 900;
  }
}

.box {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  margin-bottom: 50px;
  justify-content: space-between;
  row-gap: 30px;
}

.heroGraphic {
  width: 10.44406rem;
  height: 7.625rem;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/img/site/hero-graphic.svg');
  position: absolute;
  top: -120px;
  left: 200%;
  transform: translateX(-50%);

  @media screen and (max-width: 1700px) {
    left: 150%;
  }
  @media screen and (max-width: 1696px) {
    left: 70%;
  }

  @media screen and (max-width: 1145px) {
    width: 6.44406rem;
    height: 6.625rem;
    top: -89px;
    left: 40%;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 23.875rem;
  height: 23.0625rem;
  flex-shrink: 0;
  background-color: #141f39;
  border-radius: 0.71281rem;
  background: #fff;
  box-shadow: 0px 18.248px 48.662px 0px rgba(22, 27, 45, 0.08);

  @media screen and (max-width: 600px) {
    height: auto;
    width: 100%;
  }
}

.bigCard {
  height: 29.0625rem !important;
}

.cardHeader {
  display: flex;
  background: #130c49;
  width: 23.875rem;
  height: 10.625rem;
  padding: 0px 20px;
  flex-shrink: 0;
  border-top-left-radius: 0.71281rem;
  border-top-right-radius: 0.71281rem;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;

  h3 {
    color: #fff;
    font-family: 'Plus Jakarta Sans';
    font-size: 1.82663rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  span {
    color: #fff;
    font-family: 'Plus Jakarta Sans';
    font-size: 1.18731rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  svg path {
    fill: #ffd644;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    background-size: 30%;
  }
}

.stars {
  position: absolute;
  float: right;
  top: 10px;
  right: 10px;
}

.example2 {
  background: url('/img/site/internship-icon.svg') #130c49;
  background-size: 43%;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 600px) {
    background-size: 35%;
  }
}

.example3 {
  background: url('/img/site/unbody-icon.svg') #130c49;
  background-size: 83%;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 600px) {
    background-size: 83%;
  }
}

.contentDiv {
  height: 100%;
  margin-top: 0.5rem;
}

.textCardContent {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 20px;

  h3 {
    color: #130c49;
    font-family: 'Plus Jakarta Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 1.4rem */
    letter-spacing: -0.01rem;
  }

  p {
    color: #7a7a7a;
    font-family: 'Plus Jakarta Sans';
    font-size: 0.91331rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 140px;
  }

  span {
    color: #30295f;
    font-family: 'Plus Jakarta Sans';
    font-size: 0.57025rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 0.89719rem */
  }
}

.bigText {
  height: 300px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0;

  .cardFooterDiv {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    p {
      font-size: 16px;
    }

    @media screen and (max-width: 600px) {
      margin-bottom: 0.7rem;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 1rem 0 0 0;
  }
}

.bottomContainer {
  display: flex;
  gap: 14px;
  justify-content: flex-end;

  @media screen and (max-width: 500px) {
    gap: 10px;
    justify-content: center;
  }
}

.cardButton {
  width: 6.6rem;
  height: 2.78563rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 1.37rem;
  background: #07e2eb;
  box-shadow: 0px 2.923px 21.92px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;

  font-size: 0.91331rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;

  :hover {
    color: #000;
  }

  @media screen and (max-width: 500px) {
    width: 5.71756rem;
  }
}

.top {
  position: absolute;
  top: 146px;
  right: 10px;
  border-radius: 1.37rem;
  background: #fff !important;
  box-shadow: 0px 2.923px 21.92px 0px rgba(0, 0, 0, 0.25);
  width: 6.71756rem;
}

.videoButton {
  border-radius: 1.37rem;
  background: #07eba7 !important;
  box-shadow: 0px 2.923px 21.92px 0px rgba(0, 0, 0, 0.25);
}

.gitButton {
  border-radius: 1.37rem;
  background: #5af181 !important;
  box-shadow: 0px 2.923px 21.92px 0px rgba(0, 0, 0, 0.25);
}

.play {
  content: url('/img/site/play-icon.svg');
  padding: 3px;
}

.blog {
  content: url('/img/site/blog-icon-demos.svg');
  padding: 3px;
}

.video {
  content: url('/img/site/yt-icon-demos.svg');
  padding: 3px;
}

.git {
  content: url('/img/site/gh-icon-demos.svg');
  padding: 3px;
}

.imageCard {
  width: 46.375rem;
  height: 23.0625rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: center/ contain no-repeat url('/img/site/screenshot-verba.png')
    #fef8f7;
}

.health {
  height: 29.0625rem;
  background: center/ contain no-repeat
    url('/img/site/screenshot-healthsearch.png') #15134b;
}
.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 860px) {
    flex-direction: column;
  }

  a {
    height: 45px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }
}

.buttonGradient {
  border-radius: 0.3125rem;
  outline: 1px solid #130c49;
  background: #61bd73;
  color: #130c49;
  font-weight: 400;
  transition: all 1s ease-out;
}

.buttonOutline {
  font-weight: 400;
  border-radius: 0.3125rem;
  outline: 1px solid #130c49;
  color: #130c49;
  transition: all 1s ease-out;
}

.buttonGradient:hover {
  border-radius: 0.3125rem;
  outline: 1px solid #130c49;
  background: rgb(15, 0, 50);
  color: #fff;
  font-weight: 400;
}

.buttonOutline:hover {
  border-radius: 0.3125rem;
  outline: 1px solid #130c49;
  background: rgb(15, 0, 50);
  color: #fff;
  font-weight: 400;
}
