.rowWrapper {
  flex-direction: row;
  gap: $space;
  margin-bottom: 20px;
  @media (max-width: 550px) { flex-direction: column; }
}

.row {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: $space;
  flex-wrap: wrap;

  &.single {
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 0;
    label { margin-bottom: -10px}
  }
}

.rowInfo {
  width: 60px;
  height: 40px;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 700;
}
