.bgCol {
  background: #ecf4f8;
}

.header {
  width: 70%;
  margin: 30px 0px;

  p {
    color: #130c49;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.57331rem */
  }
  @media screen and (max-width: 950px) {
    width: 100%;
  }

  @media screen and (max-width: 750px) {
    br {
      display: none;
    }
  }
}

.boxContainer {
  display: flex;
  gap: 30px;
  flex-direction: column;

  @media screen and (max-width: 1100px) {
    display: flex;
    gap: 14px;
    flex-direction: column;
  }
}

.typeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.typeBox {
  max-width: 37.25rem;
  width: 100%;
  height: 20.5625rem;
  border-radius: 0.625rem;
  background: #fff;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1440px) {
    max-width: 100%;
    height: auto;
  }
}

.big {
  max-width: 76.25rem;
  width: 100%;
  height: 18.9375rem;

  @media screen and (max-width: 1440px) {
    height: auto;
  }

  @media screen and (max-width: 600px) {
    height: auto;
  }
}

.typeIcon {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: row;

  .homeIcon {
    background-image: url('/img/site/learn-recipes-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.3125rem;
    height: 2.3125rem;
    flex-shrink: 0;
  }

  .repos {
    background-image: url('/img/site/learn-logo-icon.svg');
  }

  .demos {
    background-image: url('/img/site/learn-play-icon.svg');
  }

  h2 {
    color: #130c49;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 175.9%;
  }
}

.ragIcon {
  background-image: url('/img/site/homepage-rag-icon.svg');
}
.genIcon {
  background-image: url('/img/site/homepage-gen-icon.svg');
}

.typeText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;

  @media screen and (max-width: 600px) {
    height: auto;
  }

  ul {
    line-height: 200%;
    height: 150px;
    margin: 0;

    @media screen and (max-width: 600px) {
      height: auto;
    }
  }

  p {
    color: #130c49;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.57331rem */
  }
  a {
    color: #61bd73;
    margin: 30px 0px 0px 0px;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.33%; /* 1.37663rem */
    text-decoration-line: underline;
  }

  .external {
    color: #130c49;
    font-weight: 700;
    text-decoration-line: underline;
  }
}

.intergrations {
  display: flex;
  flex-direction: column;
  height: 120px;
  flex-wrap: wrap;

  @media screen and (max-width: 1440px) {
    flex-wrap: nowrap;
    height: auto;
  }
}

.large {
  height: 220px;
  justify-content: space-between;

  @media screen and (max-width: 1440px) {
    height: auto;
  }
}

.serviceBox {
  max-width: 76.6875rem;
  height: 33.75rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #130c49;
  margin: 36px auto;
  display: flex;

  gap: 32px;
}

.serviceText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 74px;

  @media screen and (max-width: 800px) {
    padding: 25px;
  }

  h2 {
    color: #fff;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3rem */

    @media screen and (max-width: 800px) {
      font-size: 2rem;
    }
  }

  span {
    color: #61bb73;

    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.875rem */
    text-transform: uppercase;
  }

  p {
    color: #fff;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.25rem */

    @media screen and (max-width: 800px) {
      font-size: 1.2rem;
    }
  }

  .buttonGradient,
  .buttonGradient:hover {
    border-radius: 0.375rem;
    background: #61bd73;
    color: #130c49;
  }
}

.serviceIcon {
  background-image: url('/img/site/neople-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 10rem;
  height: 10rem;
}

.serviceImage {
  background-image: url('/img/site/case-study-background.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 73.125rem;
  height: 39.8125rem;

  @media screen and (max-width: 800px) {
    display: none;
  }
}
