.partnersHead {
  background: #130c49;
  background-image: url('/img/site/bg-weaviate-hd-dark.jpg') !important;
  background-size: cover;

  p {
    color: #ffffff;
  }
}
.grid {
  display: flex;
  padding: 2rem 0 2rem 0;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    align-items: flex-start;
  }
}

.leftGrid {
  width: 100%;
  height: 24rem;

  padding: 1rem 2rem;

  @media screen and (max-width: 500px) {
    height: 35rem;
    padding: unset;
  }
}

.rightGrid {
  width: 100%;
  height: 24rem;

  @media screen and (max-width: 950px) {
    display: none;
  }
}

.innerBar {
  height: 6em;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  /* gap: 10px; */
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
  max-width: var(--ifm-container-width-xl);

  @media screen and (max-width: 950px) {
    height: 11em;
    display: flex;
    margin: 0 auto;
    padding: 0 var(--ifm-spacing-horizontal);
    width: 100%;
    max-width: var(--ifm-container-width-xl);
    justify-items: left;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    white-space: nowrap;
    overflow: hidden;
  }
}

.title {
  font-size: 58px;
  font-weight: bold;
  line-height: 69.6px;

  margin-bottom: 1rem;

  @media screen and (max-width: 800px) {
    text-align: left;
    font-size: 53px;
  }

  span {
    color: #61bd73;
  }
}

.text {
  max-width: 25em;

  @media screen and (max-width: 800px) {
    text-align: left;

    br {
      display: none;
    }
  }
}

.img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/img/site/partners_header.png');
}

.buttons {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  a {
    height: 45px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    border-radius: 0.3125rem;
    color: #ffffff;
    background: #130c49;

    flex-shrink: 0;
    font-weight: 600;
  }

  .buttonOutline {
    border-radius: 0.3125rem;
    color: #130c49;
    background: #fff;

    flex-shrink: 0;
    font-weight: 600;
  }
}

[data-theme='light'] {
  .img {
    background-image: url('/img/site/partners_header.svg');
  }
}
