.partnersHead {
  background: #130c49;
  background-image: url('/img/site/home-page-bg-pattern.svg') !important;
  background-size: cover;

  p {
    color: white;
  }
}
.grid {
  display: flex;
  padding: 2rem 0 2rem 0;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}

.leftGrid {
  width: 100%;
  height: 24rem;

  padding: 1rem 2rem;

  @media screen and (max-width: 500px) {
    height: 35rem;
    padding: unset;
  }
}

.rightGrid {
  width: 100%;
  height: 24rem;

  @media screen and (max-width: 950px) {
    display: none;
  }
}

.innerBar {
  height: 6em;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  /* gap: 10px; */
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
  max-width: var(--ifm-container-width-xl);

  @media screen and (max-width: 950px) {
    height: 11em;
    display: flex;
    margin: 0 auto;
    padding: 0 var(--ifm-spacing-horizontal);
    width: 100%;
    max-width: var(--ifm-container-width-xl);
    justify-items: left;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    white-space: nowrap;
    overflow: hidden;
  }
}

.title {
  font-size: 58px;
  font-weight: bold;
  line-height: 69.6px;

  margin-bottom: 1rem;

  @media screen and (max-width: 800px) {
    text-align: left;
    font-size: 53px;
  }

  span {
    color: #61bd73;
  }
}

.text {
  max-width: 25em;

  @media screen and (max-width: 800px) {
    text-align: left;

    br {
      display: none;
    }
  }
}

.img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/img/site/partners_header.png');
}

.buttons {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 800px) {
    justify-content: left;
  }

  a {
    height: 45px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    background-image: linear-gradient(45deg, #20e220 60%, #ffff00);
    color: rgba(46, 49, 143);
    font-weight: bold;
    transition: all 1s ease-out;
  }

  .buttonGradient:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #2fc513;
    background: rgb(15, 0, 50);
    color: #fff;
    font-weight: 400;
  }

  .buttonOutline {
    outline: 1px solid #20e220;
    font-weight: bold;
    color: #fff;
    transition: all 1s ease-out;
  }

  .buttonOutline:hover {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: rgb(97 189 115);
    color: #130c49;
    font-weight: 400;
  }
}

[data-theme='light'] {
  .img {
    background-image: url('/img/site/partners_header.svg');
  }

  .buttonGradient {
    border-radius: 0.3125rem;
    outline: 1px solid #130c49;
    background: #61bd73;
    color: #130c49;
    font-weight: 400;
  }

  .buttonOutline {
    font-weight: 400;
    border-radius: 0.3125rem;
    outline: rgb(19, 12, 73) solid 1px;
    color: white;
    border-radius: 0.3125rem;
    border: 1px solid #2fc514;
  }
}
